nodered.flows.json
[{"id":"c3fec379.3c6878","type":"tab","label":"Bedtime","disabled":false,"info":"1. Flashes Hue lights in Family and Living Rooms.\n2. Alexa announces that its almost bedtime."},{"id":"fa7adcf.874692","type":"tab","label":"Event Reminders","disabled":false,"info":""},{"id":"5a2a4a3f.a3bd9c","type":"tab","label":"Front Door","disabled":false,"info":""},{"id":"582c5cfc.9157cc","type":"tab","label":"Garage Door","disabled":false,"info":""},{"id":"3023e32a.22e254","type":"tab","label":"functions","disabled":false,"info":""},{"id":"894df01.8dcc49","type":"tab","label":"x","disabled":false,"info":""},{"id":"e8f23cb9.f192a8","type":"mqtt-broker","z":"","name":"Mosquitto","broker":"10.0.0.56","port":"1883","clientid":"node-red","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"'nodered/status'","birthQos":"0","birthRetain":"false","birthPayload":"'online'","closeTopic":"'nodered/status'","closeQos":"0","closeRetain":"false","closePayload":"'disconnected'","willTopic":"'nodered/status'","willQos":"0","willRetain":"false","willPayload":"'offline'"},{"id":"cdc1e6f6.0e649","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open"},{"id":"a6a0c99b.d9e9f","type":"light-scheduler-settings","z":"","name":"Home","latitude":"32.8541050","longitude":"-117.0029700"},{"id":"2a3d38cc.6ff7","type":"switch","z":"c3fec379.3c6878","name":"Warn","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":190,"y":140,"wires":[["c11572dd.c21638","8d4078e5.38bdd8","c7477549.b13398"]]},{"id":"f4588125.6144b8","type":"inject","z":"894df01.8dcc49","name":">","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":60,"wires":[["5a3efa0e.cf6b7c"]]},{"id":"af59e734.e30aa8","type":"switch","z":"c3fec379.3c6878","name":"Bedtime","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":200,"y":380,"wires":[["8493fdf5.93d9e","708f98f9.25934","ecc5f378.2b7278","3c3ac639.2be432","759647b.d226bb8"]]},{"id":"6f3106bc.69139","type":"function","z":"5a2a4a3f.a3bd9c","name":"set_state","func":"var state = {\n    'state': msg.payload,\n    'brightness': msg.data.attributes.brightness||0\n}\nflow.set(\"entry_light_state\",state);\nmsg.data = null\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":60,"wires":[["d07f7178.0f10d8"]]},{"id":"7d6d10c4.c68ab","type":"function","z":"5a2a4a3f.a3bd9c","name":"entry light: old_state","func":"msg.payload = flow.get(\"entry_light_state\");\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":280,"wires":[["bb80beb.06baac"]]},{"id":"bb80beb.06baac","type":"switch","z":"5a2a4a3f.a3bd9c","name":"","property":"payload.state","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":true,"outputs":2,"x":390,"y":280,"wires":[["fcf7a29b.f67238"],["36bb313a.4eb5b6"]]},{"id":"8ea88b69.49f9c","type":"comment","z":"5a2a4a3f.a3bd9c","name":"Turn porch + entry lights to full brightness when unlocked.","info":"","x":230,"y":20,"wires":[]},{"id":"89d6d526.3350d8","type":"function","z":"5a2a4a3f.a3bd9c","name":"porch light: old_state","func":"msg.payload = flow.get(\"porch_light_state\");\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":360,"wires":[["b1130c94.350e38"]]},{"id":"b1130c94.350e38","type":"switch","z":"5a2a4a3f.a3bd9c","name":"","property":"payload.state","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":true,"outputs":2,"x":390,"y":360,"wires":[["ade66d8d.0000a"],["8c2eb188.944998"]]},{"id":"7587bfde.58327","type":"function","z":"5a2a4a3f.a3bd9c","name":"set_state","func":"var rgb = msg.data.attributes.rgb_color||\"\"\nvar state = {\n    'state': msg.payload, \n    'brightness': msg.data.attributes.brightness||0,\n    'color_temp': msg.data.attributes.color_temp||\"\",\n    'rgb_color': rgb.toString()\n}\nflow.set(\"porch_light_state\",state);\n\nmsg.payload = state\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":120,"wires":[["ed2c0df6.064268"]]},{"id":"c11572dd.c21638","type":"delay","z":"c3fec379.3c6878","name":"10s","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":330,"y":140,"wires":[["8305662a.d7013"]]},{"id":"3c3ac639.2be432","type":"delay","z":"c3fec379.3c6878","name":"15s","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":330,"y":340,"wires":[["843043a9.581cc"]]},{"id":"ebe9ef11.ae167","type":"comment","z":"c3fec379.3c6878","name":"Warn the boys it is almost time to go to bed, then 15 minutes later tell them it is time to go to bed.","info":"","x":360,"y":20,"wires":[]},{"id":"c37bd573.bbcd88","type":"comment","z":"582c5cfc.9157cc","name":"Turn garage door notificaiton lights on when it opens.","info":"","x":220,"y":20,"wires":[]},{"id":"4ea50347.413184","type":"comment","z":"5a2a4a3f.a3bd9c","name":"Restore the porch + entry lights to their previous states.","info":"","x":220,"y":240,"wires":[]},{"id":"1809c021.923538","type":"inject","z":"582c5cfc.9157cc","name":"5m","topic":"","payload":"true","payloadType":"bool","repeat":"300","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":380,"wires":[["ff2d85e2.3d1f4"]]},{"id":"658e2d42.026ad4","type":"comment","z":"582c5cfc.9157cc","name":"Restore the garage notification lights to their previous states.","info":"","x":240,"y":180,"wires":[]},{"id":"3d4b2d81.ec98ea","type":"link out","z":"582c5cfc.9157cc","name":"","links":["9813808d.c80bc"],"x":655,"y":360,"wires":[]},{"id":"b8e1d444.49ad9","type":"inject","z":"894df01.8dcc49","name":">","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":440,"wires":[["3c48d7c2.04afb"]]},{"id":"3c48d7c2.04afb","type":"http request","z":"894df01.8dcc49","name":"","method":"POST","ret":"txt","url":"https://hooks.nabu.casa/gAAAAABcMnXt6U-vYxR9bEjCrhf0ZxB1oyBIXCAhLsmdJXX-MDV-T8NwvVyg_vdfBJElEwNHZvPEVQUFR1JQs0kSUKF--Q7dydyqEKm1WCtFPC1a54aDwd-QrAqqZnX_ZYDe0lM-suZLIqaJyv9viQFieig9axkF2i13LoMMscJ7WCKC8iCvFdg=","tls":"","x":230,"y":440,"wires":[["a7e901a4.821ac8"]],"outputLabels":["{\"entity_id\": \"light.family_room_table_lamp\"}"]},{"id":"a7e901a4.821ac8","type":"debug","z":"894df01.8dcc49","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":370,"y":440,"wires":[]},{"id":"3e7e6700.62e8e2","type":"debug","z":"894df01.8dcc49","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":80,"wires":[]},{"id":"fd6b82ac.fe4b","type":"debug","z":"894df01.8dcc49","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":310,"y":500,"wires":[]},{"id":"902092b9.c99ba8","type":"mqtt in","z":"894df01.8dcc49","name":"","topic":"speech/last_message","qos":"2","broker":"e8f23cb9.f192a8","x":120,"y":500,"wires":[["fd6b82ac.fe4b"]]},{"id":"a8128bc1.7867b","type":"debug","z":"894df01.8dcc49","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":490,"y":580,"wires":[]},{"id":"fd4835c7.c7ec78","type":"inject","z":"894df01.8dcc49","name":">","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":580,"wires":[["42f3036f.738c24"]]},{"id":"3525f071.f2b6a8","type":"switch","z":"582c5cfc.9157cc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":true,"outputs":2,"x":410,"y":380,"wires":[["b9690dcf.a83f4","a8a06752.8b6bb"],[]]},{"id":"9bef45f8.cc8208","type":"link out","z":"582c5cfc.9157cc","name":"","links":["add4e483.982738","82b190e7.da3628"],"x":715,"y":80,"wires":[]},{"id":"8c3e53b1.cca968","type":"inject","z":"582c5cfc.9157cc","name":"Test Garage OPEN","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":570,"y":80,"wires":[["9bef45f8.cc8208"]]},{"id":"f79c491e.359ac","type":"link out","z":"582c5cfc.9157cc","name":"","links":["9813808d.c80bc"],"x":715,"y":120,"wires":[]},{"id":"412a447d.c89e7c","type":"inject","z":"582c5cfc.9157cc","name":"Test Garage CLOSED","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":580,"y":120,"wires":[["f79c491e.359ac"]]},{"id":"d9e9ca70.d47de8","type":"link in","z":"3023e32a.22e254","name":"flash_lights","links":["be0f5016.b9e248","4ebf5b85.7e8b9c","d9d27a65.b5833","b0acf8b8.87e5f","cee34b67.2fca48","2356aa8d.ba5ba6"],"x":35,"y":60,"wires":[["ad4bb19e.f734b8"]]},{"id":"5aec6a4c.61cc6c","type":"delay","z":"3023e32a.22e254","name":"1s","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":330,"y":60,"wires":[["f4471219.aad01"]]},{"id":"39daf924.d5b67e","type":"delay","z":"3023e32a.22e254","name":"1s","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":530,"y":60,"wires":[["b5150182.098d2"]]},{"id":"90963b9e.6c11c","type":"comment","z":"3023e32a.22e254","name":"flash_lights","info":"","x":80,"y":20,"wires":[]},{"id":"c7477549.b13398","type":"link out","z":"c3fec379.3c6878","name":"","links":["add4e483.982738","82b190e7.da3628"],"x":295,"y":80,"wires":[]},{"id":"759647b.d226bb8","type":"link out","z":"c3fec379.3c6878","name":"","links":["add4e483.982738","82b190e7.da3628"],"x":295,"y":280,"wires":[]},{"id":"f63a066d.9b75f8","type":"comment","z":"3023e32a.22e254","name":"notification_lights","info":"","x":100,"y":260,"wires":[]},{"id":"301a2d08.d2ef3a","type":"function","z":"3023e32a.22e254","name":"set_state","func":"var rgb = msg.data.attributes.rgb_color||\"\"\nvar state = {\n    'state': msg.payload, \n    'brightness': msg.data.attributes.brightness||0,\n    'color_temp': msg.data.attributes.color_temp||\"\",\n    'rgb_color': rgb.toString()\n}\nflow.set(\"family_room_table_lamp_state\",state);\n\nmsg.payload = state\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":340,"wires":[["980c8fd9.785818"]]},{"id":"cee34b67.2fca48","type":"link out","z":"3023e32a.22e254","name":"","links":["d9e9ca70.d47de8"],"x":675,"y":340,"wires":[]},{"id":"2356aa8d.ba5ba6","type":"link out","z":"3023e32a.22e254","name":"","links":["d9e9ca70.d47de8"],"x":495,"y":300,"wires":[]},{"id":"add4e483.982738","type":"link in","z":"3023e32a.22e254","name":"notification_lights","links":["d0690ae0.207db8","9bef45f8.cc8208","c7477549.b13398","759647b.d226bb8","30bf3a04.88076e","cc9c861a.4aeb08","336377be.2385c","3c749719.93a9d8","c0025079.cc90d8","16005bd0.05bbd4"],"x":35,"y":320,"wires":[["efeda1d.c11b46","45850fd1.7c5648"]]},{"id":"d0690ae0.207db8","type":"link out","z":"582c5cfc.9157cc","name":"","links":["add4e483.982738","82b190e7.da3628"],"x":155,"y":120,"wires":[]},{"id":"619b8c43.377324","type":"comment","z":"3023e32a.22e254","name":"notification_lights_restore","info":"","x":130,"y":420,"wires":[]},{"id":"1fd8b3d0.623d94","type":"function","z":"3023e32a.22e254","name":"get_state","func":"msg.payload = flow.get(\"family_room_table_lamp_state\");\nreturn msg;","outputs":1,"noerr":0,"x":140,"y":500,"wires":[["dfd42d74.b5325"]]},{"id":"dfd42d74.b5325","type":"switch","z":"3023e32a.22e254","name":"","property":"payload.state","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":true,"outputs":2,"x":250,"y":500,"wires":[["de275f1.4c8352"],["d15b2702.827ba"]]},{"id":"9813808d.c80bc","type":"link in","z":"3023e32a.22e254","name":"notification_lights_restore","links":["3d4b2d81.ec98ea","bd765d8.92c4a2","f79c491e.359ac","843043a9.581cc"],"x":35,"y":480,"wires":[["ef4b0085.899dc8","1fd8b3d0.623d94"]]},{"id":"bd765d8.92c4a2","type":"link out","z":"582c5cfc.9157cc","name":"","links":["9813808d.c80bc"],"x":275,"y":220,"wires":[]},{"id":"2c127057.d396e","type":"comment","z":"582c5cfc.9157cc","name":"notification_lights","info":"","x":260,"y":120,"wires":[]},{"id":"ae896b3.c64fd98","type":"comment","z":"582c5cfc.9157cc","name":"notification_lights_restore","info":"","x":410,"y":220,"wires":[]},{"id":"a8fb85b8.4431e","type":"comment","z":"582c5cfc.9157cc","name":"notification_lights_restore","info":"","x":790,"y":360,"wires":[]},{"id":"e3705f3a.ee8c88","type":"comment","z":"c3fec379.3c6878","name":"notification_lights","info":"","x":400,"y":80,"wires":[]},{"id":"8d5e487b.855858","type":"comment","z":"c3fec379.3c6878","name":"notification_lights","info":"","x":400,"y":280,"wires":[]},{"id":"e6825854.737748","type":"comment","z":"c3fec379.3c6878","name":"notification_lights_restore","info":"","x":530,"y":340,"wires":[]},{"id":"843043a9.581cc","type":"link out","z":"c3fec379.3c6878","name":"","links":["9813808d.c80bc"],"x":395,"y":340,"wires":[]},{"id":"eed060c9.b46868","type":"comment","z":"fa7adcf.874692","name":"School","info":"","x":70,"y":20,"wires":[]},{"id":"c906c24d.4918a","type":"switch","z":"fa7adcf.874692","name":"Warn","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":60,"wires":[["247e0963.aec8c6","d1243a51.9c19a","30bf3a04.88076e"]]},{"id":"247e0963.aec8c6","type":"delay","z":"fa7adcf.874692","name":"10s","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":390,"y":60,"wires":[["22f32688.602cfa"]]},{"id":"30bf3a04.88076e","type":"link out","z":"fa7adcf.874692","name":"","links":["add4e483.982738","82b190e7.da3628"],"x":355,"y":20,"wires":[]},{"id":"7c8ab957.2eb75","type":"comment","z":"fa7adcf.874692","name":"notification_lights","info":"","x":460,"y":20,"wires":[]},{"id":"e3762ede.c41118","type":"switch","z":"fa7adcf.874692","name":"Warn","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":180,"wires":[["858f80c6.05da68","fa62ba4f.aa5198","cc9c861a.4aeb08"]]},{"id":"858f80c6.05da68","type":"delay","z":"fa7adcf.874692","name":"10s","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":390,"y":180,"wires":[["4f30303f.607c"]]},{"id":"cc9c861a.4aeb08","type":"link out","z":"fa7adcf.874692","name":"","links":["add4e483.982738","82b190e7.da3628"],"x":355,"y":140,"wires":[]},{"id":"4ddbca48.b11b7c","type":"comment","z":"fa7adcf.874692","name":"notification_lights","info":"","x":460,"y":140,"wires":[]},{"id":"523e7566.2a098c","type":"delay","z":"fa7adcf.874692","name":"10s","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":630,"y":180,"wires":[["256c60d4.c45c98"]]},{"id":"3f1148ac.9d0c98","type":"comment","z":"fa7adcf.874692","name":"Art","info":"","x":70,"y":280,"wires":[]},{"id":"932724ce.9e1b78","type":"switch","z":"fa7adcf.874692","name":"Warn","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":320,"wires":[["1cf5de8b.963d61","d793282a.021a8","336377be.2385c"]]},{"id":"1cf5de8b.963d61","type":"delay","z":"fa7adcf.874692","name":"10s","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":390,"y":320,"wires":[["9739716a.d60178"]]},{"id":"336377be.2385c","type":"link out","z":"fa7adcf.874692","name":"","links":["add4e483.982738","82b190e7.da3628"],"x":355,"y":280,"wires":[]},{"id":"6e9967f4.8ed358","type":"comment","z":"fa7adcf.874692","name":"notification_lights","info":"","x":460,"y":280,"wires":[]},{"id":"c9d00a60.0f5a68","type":"switch","z":"fa7adcf.874692","name":"Warn","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":440,"wires":[["587b6945.8e79d8","6348136c.2c4b8c","3c749719.93a9d8"]]},{"id":"587b6945.8e79d8","type":"delay","z":"fa7adcf.874692","name":"10s","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":390,"y":440,"wires":[["7b62a996.1dc6f8"]]},{"id":"3c749719.93a9d8","type":"link out","z":"fa7adcf.874692","name":"","links":["add4e483.982738","82b190e7.da3628"],"x":355,"y":400,"wires":[]},{"id":"4165f34e.e4248c","type":"comment","z":"fa7adcf.874692","name":"notification_lights","info":"","x":460,"y":400,"wires":[]},{"id":"35918ad4.907a4e","type":"comment","z":"fa7adcf.874692","name":"Counseling","info":"","x":80,"y":540,"wires":[]},{"id":"ec5cf924.8ac718","type":"switch","z":"fa7adcf.874692","name":"Warn","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":580,"wires":[["3f82ce3f.486032","514d23af.b7aa9c","c0025079.cc90d8"]]},{"id":"3f82ce3f.486032","type":"delay","z":"fa7adcf.874692","name":"10s","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":390,"y":580,"wires":[["ed62770f.5cb8c8"]]},{"id":"c0025079.cc90d8","type":"link out","z":"fa7adcf.874692","name":"","links":["add4e483.982738","82b190e7.da3628"],"x":355,"y":540,"wires":[]},{"id":"6cd09534.38d644","type":"comment","z":"fa7adcf.874692","name":"notification_lights","info":"","x":460,"y":540,"wires":[]},{"id":"e35121d7.02729","type":"switch","z":"fa7adcf.874692","name":"Warn","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":720,"wires":[["60c05d9d.bcdb9c","dcbeb8ef.0f29c","16005bd0.05bbd4"]]},{"id":"60c05d9d.bcdb9c","type":"delay","z":"fa7adcf.874692","name":"10s","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":390,"y":720,"wires":[["c86d5d26.ce0fc"]]},{"id":"16005bd0.05bbd4","type":"link out","z":"fa7adcf.874692","name":"","links":["add4e483.982738","82b190e7.da3628"],"x":355,"y":680,"wires":[]},{"id":"bf943e7b.1e9d08","type":"comment","z":"fa7adcf.874692","name":"notification_lights","info":"","x":460,"y":680,"wires":[]},{"id":"b8f6d4bb.00a8d","type":"delay","z":"fa7adcf.874692","name":"10s","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":630,"y":720,"wires":[["7ec4516e.98e0a8"]]},{"id":"36fa987c.ba9308","type":"delay","z":"582c5cfc.9157cc","name":"5s","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":190,"y":260,"wires":[["bd765d8.92c4a2","144f286.7fc5a58","9beebe04.c3029"]]},{"id":"2096c714.d6ef4","type":"comment","z":"582c5cfc.9157cc","name":"notification_lights","info":"","x":820,"y":80,"wires":[]},{"id":"27b58901.8ec7fe","type":"comment","z":"582c5cfc.9157cc","name":"notification_lights_restore","info":"","x":850,"y":120,"wires":[]},{"id":"c144a16d.5fd498","type":"function","z":"3023e32a.22e254","name":"clear_state","func":"var rgb = msg.data.attributes.rgb_color||\"\"\nvar state = {\n    'state': \"off\", \n    'brightness': \"0\",\n    'color_temp': \"\",\n    'rgb_color': \"\"\n}\nflow.set(\"family_room_table_lamp_state\",state);\n\nmsg.payload = state\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":500,"wires":[[]]},{"id":"19a749d0.0bdad6","type":"function","z":"5a2a4a3f.a3bd9c","name":"clear_state","func":"var rgb = msg.data.attributes.rgb_color||\"\"\nvar state = {\n    'state': \"off\", \n    'brightness': \"0\",\n    'color_temp': \"\",\n    'rgb_color': \"\"\n}\nflow.set(\"entry_light_state\",state);\n\nmsg.payload = state\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":280,"wires":[[]]},{"id":"e2786a8d.dfd58","type":"function","z":"5a2a4a3f.a3bd9c","name":"clear_state","func":"var rgb = msg.data.attributes.rgb_color||\"\"\nvar state = {\n    'state': \"off\", \n    'brightness': \"0\",\n    'color_temp': \"\",\n    'rgb_color': \"\"\n}\nflow.set(\"porch_light_state\",state);\n\nmsg.payload = state\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":360,"wires":[[]]},{"id":"f053d9d2.5ef63","type":"inject","z":"894df01.8dcc49","name":">","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":120,"wires":[["c94d2ef4.47d608"]]},{"id":"55935270.a65a6c","type":"switch","z":"894df01.8dcc49","name":"not light.3a*","property":"payload.entity_id","propertyType":"msg","rules":[{"t":"cont","v":"light.3a","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":120,"wires":[[],["83fa91b6.e03718"]]},{"id":"83fa91b6.e03718","type":"join","z":"894df01.8dcc49","name":"","mode":"auto","build":"array","property":"payload.entity_id","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":510,"y":120,"wires":[["df658bd7.f3ae6","673c7b9.3138e84"]]},{"id":"66cda5b6.5454e4","type":"switch","z":"3023e32a.22e254","name":"exclude light.3a*","property":"payload.entity_id","propertyType":"msg","rules":[{"t":"cont","v":"light.3a","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":300,"y":180,"wires":[[],["a5cb9c36.ca09c8"]]},{"id":"a5cb9c36.ca09c8","type":"join","z":"3023e32a.22e254","name":"","mode":"auto","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":450,"y":180,"wires":[["8f638c09.534fd8"]]},{"id":"82b190e7.da3628","type":"link in","z":"3023e32a.22e254","name":"lights_on","links":["336377be.2385c","16005bd0.05bbd4","d0690ae0.207db8","c7477549.b13398","cc9c861a.4aeb08","759647b.d226bb8","9bef45f8.cc8208","30bf3a04.88076e","3c749719.93a9d8","c0025079.cc90d8","91ce20d4.fa02a"],"x":35,"y":180,"wires":[["f3f3f0a6.8cc998"]]},{"id":"f75989b5.f441f8","type":"comment","z":"3023e32a.22e254","name":"lights_on","info":"","x":80,"y":140,"wires":[]},{"id":"8f638c09.534fd8","type":"function","z":"3023e32a.22e254","name":"set_global.lights_on","func":"global.set(\"lights_on\",msg);\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":180,"wires":[[]]},{"id":"7da8112f.a8065","type":"inject","z":"894df01.8dcc49","name":">","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":240,"wires":[["91ce20d4.fa02a","591c17d3.609c7"]]},{"id":"886e2b51.417078","type":"debug","z":"894df01.8dcc49","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":470,"y":240,"wires":[]},{"id":"91ce20d4.fa02a","type":"link out","z":"894df01.8dcc49","name":"","links":["82b190e7.da3628"],"x":175,"y":220,"wires":[]},{"id":"1592c5a7.83d34a","type":"function","z":"894df01.8dcc49","name":"get_lights_on","func":"msg = global.get(\"lights_on\");\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":260,"wires":[["19349727.007f59","886e2b51.417078"]]},{"id":"b5e3d81e.bf99d","type":"comment","z":"894df01.8dcc49","name":"lights_on","info":"","x":260,"y":220,"wires":[]},{"id":"591c17d3.609c7","type":"delay","z":"894df01.8dcc49","name":"1s","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":210,"y":260,"wires":[["1592c5a7.83d34a"]]},{"id":"19349727.007f59","type":"function","z":"894df01.8dcc49","name":"clear_state","func":"global.set(\"lights_on\",\"\");\nmsg = global.get(\"lights_on\");\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":280,"wires":[[]]},{"id":"ae705f42.fc4648","type":"function","z":"894df01.8dcc49","name":"get_lights_on","func":"msg = global.get(\"lights_on\");\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":320,"wires":[["e562c942.86d43"]]},{"id":"e562c942.86d43","type":"debug","z":"894df01.8dcc49","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":390,"y":320,"wires":[]},{"id":"dbf035a9.ab79","type":"inject","z":"894df01.8dcc49","name":">","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":320,"wires":[["ae705f42.fc4648"]]},{"id":"ad4bb19e.f734b8","type":"delay","z":"3023e32a.22e254","name":"1s","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":130,"y":60,"wires":[["79775f69.c974b8"]]},{"id":"df658bd7.f3ae6","type":"debug","z":"894df01.8dcc49","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":630,"y":180,"wires":[]},{"id":"ac185e7d.de34f","type":"server-state-changed","z":"582c5cfc.9157cc","name":"'open'","server":"cdc1e6f6.0e649","entityidfilter":"cover.garage_door","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"open","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"x":70,"y":100,"wires":[["69cba2a8.26afbc","d0690ae0.207db8"],[]]},{"id":"70ff84e1.fae5a4","type":"server-state-changed","z":"582c5cfc.9157cc","name":"'closed'","server":"cdc1e6f6.0e649","entityidfilter":"cover.garage_door","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"closed","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"x":70,"y":260,"wires":[["36fa987c.ba9308"],[]]},{"id":"8305662a.d7013","type":"api-call-service","z":"c3fec379.3c6878","name":"Announce","server":"cdc1e6f6.0e649","service_domain":"script","service":"notify_speech","data":"{\"message\":\"It's almost bed time. Wrap up your activities and be ready head upstairs.\",\"media_player\":\"media_player.living_room, media_player.family_room\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":440,"y":140,"wires":[[]]},{"id":"82d2334d.6926c","type":"api-call-service","z":"894df01.8dcc49","name":"off","server":"cdc1e6f6.0e649","service_domain":"light","service":"turn_off","data":"","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":570,"y":40,"wires":[[]]},{"id":"5a3efa0e.cf6b7c","type":"api-call-service","z":"894df01.8dcc49","name":"update: lights_on","server":"cdc1e6f6.0e649","service_domain":"script","service":"turn_on","data":"{\"entity_id\":\"script.lights_on_update\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":250,"y":60,"wires":[["47a5cfc5.4b7808"]]},{"id":"d07f7178.0f10d8","type":"api-call-service","z":"5a2a4a3f.a3bd9c","name":"full brightness","server":"cdc1e6f6.0e649","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.entry_light\",\"brightness\":\"255\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":600,"y":60,"wires":[[]]},{"id":"fcf7a29b.f67238","type":"api-call-service","z":"5a2a4a3f.a3bd9c","name":"restore brightness","server":"cdc1e6f6.0e649","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.entry_light\",\"brightness\":\"{{payload.brightness}}\"}","render_data":true,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":570,"y":260,"wires":[["19a749d0.0bdad6"]]},{"id":"36bb313a.4eb5b6","type":"api-call-service","z":"5a2a4a3f.a3bd9c","name":"restore off state","server":"cdc1e6f6.0e649","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.entry_light\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":560,"y":300,"wires":[["19a749d0.0bdad6"]]},{"id":"ed2c0df6.064268","type":"api-call-service","z":"5a2a4a3f.a3bd9c","name":"full brightness","server":"cdc1e6f6.0e649","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.porch_light\",\"brightness\":\"255\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":600,"y":120,"wires":[[]]},{"id":"ade66d8d.0000a","type":"api-call-service","z":"5a2a4a3f.a3bd9c","name":"restore brightness","server":"cdc1e6f6.0e649","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.porch_light\",\"brightness\":\"{{payload.brightness}}\"}","render_data":true,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":570,"y":340,"wires":[["e2786a8d.dfd58"]]},{"id":"8c2eb188.944998","type":"api-call-service","z":"5a2a4a3f.a3bd9c","name":"restore off state","server":"cdc1e6f6.0e649","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.porch_light\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":560,"y":380,"wires":[["e2786a8d.dfd58"]]},{"id":"8493fdf5.93d9e","type":"api-call-service","z":"c3fec379.3c6878","name":"Announce","server":"cdc1e6f6.0e649","service_domain":"script","service":"notify_speech","data":"{\"message\":\"Goodnight boys. It is time to go to bed.\",\"media_player\":\"media_player.living_room, media_player.family_room\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":340,"y":400,"wires":[[]]},{"id":"8d4078e5.38bdd8","type":"api-call-service","z":"c3fec379.3c6878","name":"logbook","server":"cdc1e6f6.0e649","service_domain":"logbook","service":"log","data":"{\"name\":\"Node-RED > Bedtime\",\"message\":\"Start: Announce it almost bedtime\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":340,"y":200,"wires":[[]]},{"id":"ecc5f378.2b7278","type":"api-call-service","z":"c3fec379.3c6878","name":"logbook","server":"cdc1e6f6.0e649","service_domain":"logbook","service":"log","data":"{\"name\":\"Node-RED > Bedtime\",\"message\":\"End: Announce time to go to bed\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":340,"y":460,"wires":[[]]},{"id":"cc10f0bd.fc9de","type":"api-call-service","z":"5a2a4a3f.a3bd9c","name":"logbook","server":"cdc1e6f6.0e649","service_domain":"logbook","service":"log","data":"{\"name\":\"Node-RED > Front Door\",\"message\":\"Unlocked: entry lights at full brightness\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":240,"y":180,"wires":[[]]},{"id":"2a07a1a0.827296","type":"api-call-service","z":"5a2a4a3f.a3bd9c","name":"logbook","server":"cdc1e6f6.0e649","service_domain":"logbook","service":"log","data":"{\"name\":\"Node-RED > Front Door\",\"message\":\"Locked: restore entry lights state\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":220,"y":420,"wires":[[]]},{"id":"144f286.7fc5a58","type":"api-call-service","z":"582c5cfc.9157cc","name":"logbook","server":"cdc1e6f6.0e649","service_domain":"logbook","service":"log","data":"{\"name\":\"Node-RED > Garage Door\",\"message\":\"Closed\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":320,"y":260,"wires":[[]]},{"id":"a8a06752.8b6bb","type":"api-call-service","z":"582c5cfc.9157cc","name":"logbook","server":"cdc1e6f6.0e649","service_domain":"logbook","service":"log","data":"{\"name\":\"Node-RED > Garage Door\",\"message\":\"5 minute timeout\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":540,"y":400,"wires":[[]]},{"id":"69cba2a8.26afbc","type":"api-call-service","z":"582c5cfc.9157cc","name":"logbook","server":"cdc1e6f6.0e649","service_domain":"logbook","service":"log","data":"{\"name\":\"Node-RED > Garage Door\",\"message\":\"Open\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":200,"y":80,"wires":[[]]},{"id":"708f98f9.25934","type":"api-call-service","z":"c3fec379.3c6878","name":"iOS Notification","server":"cdc1e6f6.0e649","service_domain":"script","service":"notify_ios","data":"{\"title\":\"Bedtime\",\"message\":\"The boys were reminded to go to bed.\",\"who\":\"brian\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":360,"y":520,"wires":[[]]},{"id":"9beebe04.c3029","type":"api-call-service","z":"582c5cfc.9157cc","name":"iOS Notification","server":"cdc1e6f6.0e649","service_domain":"script","service":"notify_ios","data":"{\"title\":\"CLOSED\",\"message\":\"The garage door is closed.\",\"who\":\"parents\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":340,"y":300,"wires":[[]]},{"id":"79775f69.c974b8","type":"api-call-service","z":"3023e32a.22e254","name":"flash","server":"cdc1e6f6.0e649","service_domain":"light","service":"turn_on","data":"{\"flash\":\"short\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":230,"y":60,"wires":[["5aec6a4c.61cc6c"]]},{"id":"f4471219.aad01","type":"api-call-service","z":"3023e32a.22e254","name":"flash","server":"cdc1e6f6.0e649","service_domain":"light","service":"turn_on","data":"{\"flash\":\"short\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":430,"y":60,"wires":[["39daf924.d5b67e"]]},{"id":"b5150182.098d2","type":"api-call-service","z":"3023e32a.22e254","name":"flash","server":"cdc1e6f6.0e649","service_domain":"light","service":"turn_on","data":"{\"flash\":\"short\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":630,"y":60,"wires":[[]]},{"id":"efeda1d.c11b46","type":"api-call-service","z":"3023e32a.22e254","name":"garage entry light: color_loop, 75% brightness","server":"cdc1e6f6.0e649","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.garage_entry_light\",\"brightness\":\"191\",\"effect\":\"colorloop\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":260,"y":300,"wires":[["2356aa8d.ba5ba6"]]},{"id":"980c8fd9.785818","type":"api-call-service","z":"3023e32a.22e254","name":"full brightness","server":"cdc1e6f6.0e649","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.family_room_table_lamp\",\"brightness\":\"255\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":540,"y":340,"wires":[["cee34b67.2fca48"]]},{"id":"ef4b0085.899dc8","type":"api-call-service","z":"3023e32a.22e254","name":"garage entry: OFF","server":"cdc1e6f6.0e649","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.garage_entry_light\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":170,"y":460,"wires":[[]]},{"id":"de275f1.4c8352","type":"api-call-service","z":"3023e32a.22e254","name":"restore brightness","server":"cdc1e6f6.0e649","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.family_room_table_lamp\",\"brightness\":\"{{payload.brightness}}\"}","render_data":true,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":410,"y":480,"wires":[["c144a16d.5fd498"]]},{"id":"d15b2702.827ba","type":"api-call-service","z":"3023e32a.22e254","name":"restore off state","server":"cdc1e6f6.0e649","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.family_room_table_lamp\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":400,"y":520,"wires":[["c144a16d.5fd498"]]},{"id":"22f32688.602cfa","type":"api-call-service","z":"fa7adcf.874692","name":"Announce","server":"cdc1e6f6.0e649","service_domain":"script","service":"notify_speech","data":"{\"message\":\"It's almost time to leave for school. ... Please brush your hair ... and pack your supplies in the car.\",\"media_player\":\"media_player.living_room, media_player.family_room\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":500,"y":60,"wires":[[]]},{"id":"d1243a51.9c19a","type":"api-call-service","z":"fa7adcf.874692","name":"logbook","server":"cdc1e6f6.0e649","service_domain":"logbook","service":"log","data":"{\"name\":\"Node-RED > Event Reminders\",\"message\":\"School\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":400,"y":100,"wires":[[]]},{"id":"4f30303f.607c","type":"api-call-service","z":"fa7adcf.874692","name":"Announce","server":"cdc1e6f6.0e649","service_domain":"script","service":"notify_speech","data":"{\"message\":\"It is time to get in the car. ... Grab your things and go.\",\"media_player\":\"media_player.living_room, media_player.family_room\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":500,"y":180,"wires":[["523e7566.2a098c"]]},{"id":"fa62ba4f.aa5198","type":"api-call-service","z":"fa7adcf.874692","name":"logbook","server":"cdc1e6f6.0e649","service_domain":"logbook","service":"log","data":"{\"name\":\"Node-RED > Event Reminders\",\"message\":\"School\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":400,"y":220,"wires":[[]]},{"id":"256c60d4.c45c98","type":"api-call-service","z":"fa7adcf.874692","name":"Goodbye","server":"cdc1e6f6.0e649","service_domain":"script","service":"goodbye_routine","data":"","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":740,"y":180,"wires":[[]]},{"id":"9739716a.d60178","type":"api-call-service","z":"fa7adcf.874692","name":"Announce","server":"cdc1e6f6.0e649","service_domain":"script","service":"notify_speech","data":"{\"message\":\"Kyle, ... it's almost time to leave for art. ... Please start wrapping up.\",\"media_player\":\"media_player.living_room, media_player.family_room\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":500,"y":320,"wires":[[]]},{"id":"d793282a.021a8","type":"api-call-service","z":"fa7adcf.874692","name":"logbook","server":"cdc1e6f6.0e649","service_domain":"logbook","service":"log","data":"{\"name\":\"Node-RED > Event Reminders\",\"message\":\"Art\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":400,"y":360,"wires":[[]]},{"id":"7b62a996.1dc6f8","type":"api-call-service","z":"fa7adcf.874692","name":"Announce","server":"cdc1e6f6.0e649","service_domain":"script","service":"notify_speech","data":"{\"message\":\"Kyle ... it is time to get in the car. Let's go.\",\"media_player\":\"media_player.living_room, media_player.family_room\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":500,"y":440,"wires":[[]]},{"id":"6348136c.2c4b8c","type":"api-call-service","z":"fa7adcf.874692","name":"logbook","server":"cdc1e6f6.0e649","service_domain":"logbook","service":"log","data":"{\"name\":\"Node-RED > Event Reminders\",\"message\":\"Art\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":400,"y":480,"wires":[[]]},{"id":"ed62770f.5cb8c8","type":"api-call-service","z":"fa7adcf.874692","name":"Announce","server":"cdc1e6f6.0e649","service_domain":"script","service":"notify_speech","data":"{\"message\":\"It's almost time to leave for counseling. ... Please start wrapping up what you are doing.\",\"media_player\":\"media_player.living_room, media_player.family_room\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":500,"y":580,"wires":[[]]},{"id":"514d23af.b7aa9c","type":"api-call-service","z":"fa7adcf.874692","name":"logbook","server":"cdc1e6f6.0e649","service_domain":"logbook","service":"log","data":"{\"name\":\"Node-RED > Event Reminders\",\"message\":\"Counseling\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":400,"y":620,"wires":[[]]},{"id":"c86d5d26.ce0fc","type":"api-call-service","z":"fa7adcf.874692","name":"Announce","server":"cdc1e6f6.0e649","service_domain":"script","service":"notify_speech","data":"{\"message\":\"It is time to get in the car. Let's go.\",\"media_player\":\"media_player.living_room, media_player.family_room\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":500,"y":720,"wires":[["b8f6d4bb.00a8d"]]},{"id":"dcbeb8ef.0f29c","type":"api-call-service","z":"fa7adcf.874692","name":"logbook","server":"cdc1e6f6.0e649","service_domain":"logbook","service":"log","data":"{\"name\":\"Node-RED > Event Reminders\",\"message\":\"Counseling\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":400,"y":760,"wires":[[]]},{"id":"7ec4516e.98e0a8","type":"api-call-service","z":"fa7adcf.874692","name":"Goodbye","server":"cdc1e6f6.0e649","service_domain":"script","service":"goodbye_routine","data":"","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":740,"y":720,"wires":[[]]},{"id":"673c7b9.3138e84","type":"api-call-service","z":"894df01.8dcc49","name":"off","server":"cdc1e6f6.0e649","service_domain":"light","service":"turn_off","data":"","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":650,"y":120,"wires":[[]]},{"id":"bf0de45f.53ed78","type":"trigger-state","z":"5a2a4a3f.a3bd9c","name":"locked","server":"cdc1e6f6.0e649","entityid":"lock.front_door","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"zw84gf9o1do","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"unlocked"},{"id":"pive1wk276d","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"locked"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":70,"y":360,"wires":[["89d6d526.3350d8","7d6d10c4.c68ab","2a07a1a0.827296"],[]]},{"id":"35d31a4f.c8d99e","type":"trigger-state","z":"5a2a4a3f.a3bd9c","name":"unlocked","server":"cdc1e6f6.0e649","entityid":"lock.front_door","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"cfev1052maw","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"locked"},{"id":"01gmr6s7g0n2","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"unlocked"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":80,"y":120,"wires":[["ec7dee24.f54ee8","2455592.5c03da6","cc10f0bd.fc9de"],[]]},{"id":"47a5cfc5.4b7808","type":"api-current-state","z":"894df01.8dcc49","name":"get: lights_on","server":"cdc1e6f6.0e649","halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"variable.lights_on","state_type":"str","outputs":1,"x":420,"y":60,"wires":[["3e7e6700.62e8e2","82d2334d.6926c"]]},{"id":"ec7dee24.f54ee8","type":"api-current-state","z":"5a2a4a3f.a3bd9c","name":"entry light: current_state","server":"cdc1e6f6.0e649","halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"light.entry_light","state_type":"str","outputs":1,"x":290,"y":60,"wires":[["6f3106bc.69139"]]},{"id":"2455592.5c03da6","type":"api-current-state","z":"5a2a4a3f.a3bd9c","name":"porch light: current_state","server":"cdc1e6f6.0e649","halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"light.porch_light","state_type":"str","outputs":1,"x":290,"y":120,"wires":[["7587bfde.58327"]]},{"id":"b9690dcf.a83f4","type":"api-current-state","z":"582c5cfc.9157cc","name":"door closed?","server":"cdc1e6f6.0e649","halt_if":"closed","halt_if_type":"str","halt_if_compare":"is_not","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"cover.garage_door","state_type":"str","outputs":2,"x":550,"y":360,"wires":[["3d4b2d81.ec98ea"],[]]},{"id":"ff2d85e2.3d1f4","type":"api-current-state","z":"582c5cfc.9157cc","name":"garage entry on?","server":"cdc1e6f6.0e649","halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"light.garage_entry_light","state_type":"habool","outputs":2,"x":250,"y":380,"wires":[["3525f071.f2b6a8"],[]]},{"id":"42f3036f.738c24","type":"api-current-state","z":"894df01.8dcc49","name":"get: climate.home","server":"cdc1e6f6.0e649","halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"climate.home","state_type":"str","outputs":1,"x":250,"y":580,"wires":[["a8128bc1.7867b"]]},{"id":"45850fd1.7c5648","type":"api-current-state","z":"3023e32a.22e254","name":"family room lamp: current_state","server":"cdc1e6f6.0e649","halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"light.family_room_table_lamp","state_type":"str","outputs":1,"x":210,"y":340,"wires":[["301a2d08.d2ef3a"]]},{"id":"c94d2ef4.47d608","type":"ha-get-entities","z":"894df01.8dcc49","server":"cdc1e6f6.0e649","name":"get_lights_on","rules":[{"property":"state","logic":"is","value":"on","valueType":"str"},{"property":"entity_id","logic":"starts_with","value":"light.","valueType":"str"},{"property":"entity_id","logic":"is_not","value":"light.dummy","valueType":"str"},{"property":"entity_id","logic":"is_not","value":"light.entry","valueType":"str"},{"property":"entity_id","logic":"is_not","value":"light.hue","valueType":"str"},{"property":"entity_id","logic":"is_not","value":"light.living_room","valueType":"str"},{"property":"entity_id","logic":"does_not_include","value":"garage_entry","valueType":"str"},{"property":"entity_id","logic":"does_not_include","value":"gateway_light","valueType":"str"},{"property":"entity_id","logic":"does_not_include","value":"shoe_closet","valueType":"str"},{"property":"entity_id","logic":"does_not_include","value":"nightlight","valueType":"str"},{"property":"entity_id","logic":"does_not_include","value":"_group","valueType":"str"}],"output_type":"split","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":230,"y":120,"wires":[["55935270.a65a6c"]]},{"id":"f3f3f0a6.8cc998","type":"ha-get-entities","z":"3023e32a.22e254","server":"cdc1e6f6.0e649","name":"get_lights_on","rules":[{"property":"state","logic":"is","value":"on","valueType":"str"},{"property":"entity_id","logic":"starts_with","value":"light.","valueType":"str"},{"property":"entity_id","logic":"is_not","value":"light.dummy","valueType":"str"},{"property":"entity_id","logic":"is_not","value":"light.entry","valueType":"str"},{"property":"entity_id","logic":"is_not","value":"light.hue","valueType":"str"},{"property":"entity_id","logic":"is_not","value":"light.living_room","valueType":"str"},{"property":"entity_id","logic":"does_not_include","value":"garage_entry","valueType":"str"},{"property":"entity_id","logic":"does_not_include","value":"gateway_light","valueType":"str"},{"property":"entity_id","logic":"does_not_include","value":"shoe_closet","valueType":"str"},{"property":"entity_id","logic":"does_not_include","value":"nightlight","valueType":"str"},{"property":"entity_id","logic":"does_not_include","value":"_group","valueType":"str"}],"output_type":"split","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":150,"y":180,"wires":[["66cda5b6.5454e4"]]},{"id":"2b3cf5ee.48f27a","type":"light-scheduler","z":"c3fec379.3c6878","settings":"a6a0c99b.d9e9f","events":"[{\"start\":{\"dow\":1,\"mod\":1215},\"end\":{\"dow\":1,\"mod\":1230}},{\"start\":{\"dow\":2,\"mod\":1215},\"end\":{\"dow\":2,\"mod\":1230}},{\"start\":{\"dow\":3,\"mod\":1215},\"end\":{\"dow\":3,\"mod\":1230}},{\"start\":{\"dow\":4,\"mod\":1215},\"end\":{\"dow\":4,\"mod\":1230}},{\"start\":{\"dow\":0,\"mod\":1215},\"end\":{\"dow\":0,\"mod\":1230}},{\"start\":{\"dow\":5,\"mod\":1275},\"end\":{\"dow\":5,\"mod\":1290}},{\"start\":{\"dow\":6,\"mod\":1275},\"end\":{\"dow\":6,\"mod\":1290}}]","topic":"","name":"8:15/9:15","onPayload":"ON","onPayloadType":"str","offPayload":"OFF","offPayloadType":"str","onlyWhenDark":false,"sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange","x":80,"y":140,"wires":[["2a3d38cc.6ff7"]]},{"id":"cba18275.e5ae5","type":"light-scheduler","z":"c3fec379.3c6878","settings":"a6a0c99b.d9e9f","events":"[{\"start\":{\"dow\":1,\"mod\":1230},\"end\":{\"dow\":1,\"mod\":1245}},{\"start\":{\"dow\":2,\"mod\":1230},\"end\":{\"dow\":2,\"mod\":1245}},{\"start\":{\"dow\":3,\"mod\":1230},\"end\":{\"dow\":3,\"mod\":1245}},{\"start\":{\"dow\":4,\"mod\":1230},\"end\":{\"dow\":4,\"mod\":1245}},{\"start\":{\"dow\":5,\"mod\":1290},\"end\":{\"dow\":5,\"mod\":1305}},{\"start\":{\"dow\":0,\"mod\":1230},\"end\":{\"dow\":0,\"mod\":1245}},{\"start\":{\"dow\":6,\"mod\":1290},\"end\":{\"dow\":6,\"mod\":1305}}]","topic":"","name":"8:30/9:30","onPayload":"ON","onPayloadType":"str","offPayload":"OFF","offPayloadType":"str","onlyWhenDark":false,"sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange","x":80,"y":380,"wires":[["af59e734.e30aa8"]]},{"id":"ac9ec44c.33ca2","type":"light-scheduler","z":"fa7adcf.874692","settings":"e3a152c5.b7ed98","events":"[{\"start\":{\"dow\":1,\"mod\":420},\"end\":{\"dow\":1,\"mod\":435}},{\"start\":{\"dow\":2,\"mod\":420},\"end\":{\"dow\":2,\"mod\":435}},{\"start\":{\"dow\":3,\"mod\":420},\"end\":{\"dow\":3,\"mod\":435}},{\"start\":{\"dow\":4,\"mod\":420},\"end\":{\"dow\":4,\"mod\":435}},{\"start\":{\"dow\":5,\"mod\":420},\"end\":{\"dow\":5,\"mod\":435}}]","topic":"","name":"Weekdays @ 7:00","onPayload":"ON","onPayloadType":"str","offPayload":"OFF","offPayloadType":"str","onlyWhenDark":false,"sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange","x":110,"y":60,"wires":[["c906c24d.4918a"]]},{"id":"ec9eaf08.b48528","type":"light-scheduler","z":"fa7adcf.874692","settings":"e3a152c5.b7ed98","events":"[{\"start\":{\"dow\":1,\"mod\":435},\"end\":{\"dow\":1,\"mod\":450}},{\"start\":{\"dow\":2,\"mod\":435},\"end\":{\"dow\":2,\"mod\":450}},{\"start\":{\"dow\":3,\"mod\":435},\"end\":{\"dow\":3,\"mod\":450}},{\"start\":{\"dow\":4,\"mod\":435},\"end\":{\"dow\":4,\"mod\":450}},{\"start\":{\"dow\":5,\"mod\":435},\"end\":{\"dow\":5,\"mod\":450}}]","topic":"","name":"Weekdays @ 7:15","onPayload":"ON","onPayloadType":"str","offPayload":"OFF","offPayloadType":"str","onlyWhenDark":false,"sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange","x":110,"y":180,"wires":[["e3762ede.c41118"]]},{"id":"9b803d59.14e4f","type":"light-scheduler","z":"fa7adcf.874692","settings":"e3a152c5.b7ed98","events":"[{\"start\":{\"dow\":2,\"mod\":900},\"end\":{\"dow\":2,\"mod\":915}}]","topic":"","name":"Tue @ 3:00","onPayload":"ON","onPayloadType":"str","offPayload":"OFF","offPayloadType":"str","onlyWhenDark":false,"sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange","x":90,"y":320,"wires":[["932724ce.9e1b78"]]},{"id":"38ad6f97.49e0a8","type":"light-scheduler","z":"fa7adcf.874692","settings":"e3a152c5.b7ed98","events":"[{\"start\":{\"dow\":2,\"mod\":915},\"end\":{\"dow\":2,\"mod\":930}}]","topic":"","name":"Tue @ 3:15","onPayload":"ON","onPayloadType":"str","offPayload":"OFF","offPayloadType":"str","onlyWhenDark":false,"sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange","x":90,"y":440,"wires":[["c9d00a60.0f5a68"]]},{"id":"710ab38f.d1b5ac","type":"light-scheduler","z":"fa7adcf.874692","settings":"a6a0c99b.d9e9f","events":"[{\"start\":{\"dow\":3,\"mod\":885},\"end\":{\"dow\":3,\"mod\":900}}]","topic":"","name":"Wed @ 2:45","onPayload":"ON","onPayloadType":"str","offPayload":"OFF","offPayloadType":"str","onlyWhenDark":false,"sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange","x":90,"y":580,"wires":[["ec5cf924.8ac718"]]},{"id":"9c7f74d9.431c18","type":"light-scheduler","z":"fa7adcf.874692","settings":"a6a0c99b.d9e9f","events":"[{\"start\":{\"dow\":2,\"mod\":915},\"end\":{\"dow\":2,\"mod\":930}}]","topic":"","name":"Wed @ 3:00","onPayload":"ON","onPayloadType":"str","offPayload":"OFF","offPayloadType":"str","onlyWhenDark":false,"sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange","x":90,"y":720,"wires":[["e35121d7.02729"]]}]