nodred.flows.json
[{"id":"84981495.71c2a","type":"tab","label":"Bedtime","disabled":false,"info":"1. Flashes Hue lights in Family and Living Rooms.\n2. Alexa announces that its almost bedtime."},{"id":"2b77891e.869d1e","type":"tab","label":"Front Door","disabled":false,"info":""},{"id":"2ae2019.3b95d7e","type":"tab","label":"Garage Door 2","disabled":false,"info":""},{"id":"9bb2ea23.9ebc6","type":"tab","label":"Garage Door","disabled":true,"info":""},{"id":"d691a75f.96e7e8","type":"tab","label":"x","disabled":false,"info":""},{"id":"e2ec910d.ac4e7","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open"},{"id":"e3a152c5.b7ed98","type":"light-scheduler-settings","z":"","name":"Home","latitude":"32.8541050","longitude":"-117.0029700"},{"id":"53a06bf7.4a4684","type":"light-scheduler","z":"84981495.71c2a","settings":"e3a152c5.b7ed98","events":"[{\"start\":{\"dow\":5,\"mod\":1275},\"end\":{\"dow\":5,\"mod\":1290}},{\"start\":{\"dow\":6,\"mod\":1275},\"end\":{\"dow\":6,\"mod\":1290}},{\"start\":{\"dow\":1,\"mod\":1215},\"end\":{\"dow\":1,\"mod\":1230}},{\"start\":{\"dow\":2,\"mod\":1215},\"end\":{\"dow\":2,\"mod\":1230}},{\"start\":{\"dow\":3,\"mod\":1215},\"end\":{\"dow\":3,\"mod\":1230}},{\"start\":{\"dow\":4,\"mod\":1215},\"end\":{\"dow\":4,\"mod\":1230}},{\"start\":{\"dow\":0,\"mod\":1215},\"end\":{\"dow\":0,\"mod\":1230}}]","topic":"","name":"8:15/9:15","onPayload":"ON","onPayloadType":"str","offPayload":"OFF","offPayloadType":"str","onlyWhenDark":false,"sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange","x":80,"y":240,"wires":[["720e7f7e.970ec8","16aafc2e.d80fac","9e0446fa.9dd8d8"]]},{"id":"485fe511.730044","type":"api-call-service","z":"84981495.71c2a","name":"Garage Entry Flash","server":"e2ec910d.ac4e7","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.garage_entry_light\",\"flash\":\"short\",\"kelvin\":\"5000\",\"brightness\":\"255\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":370,"y":60,"wires":[["b7f5a494.c36788"]]},{"id":"c13e00bc.79c598","type":"api-call-service","z":"84981495.71c2a","name":"Announce","server":"e2ec910d.ac4e7","service_domain":"script","service":"notify_speech","data":"{\"message\":\"It's almost bed time. Wrap up your activities and head upstairs shortly.\",\"media_player\":\"media_player.living_room, media_player.family_room\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":440,"y":160,"wires":[[]]},{"id":"f7e2f5d.e944b08","type":"api-call-service","z":"84981495.71c2a","name":"Family Table Flash","server":"e2ec910d.ac4e7","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.family_room_table_lamp\",\"flash\":\"short\",\"kelvin\":\"5000\",\"brightness\":\"255\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":370,"y":100,"wires":[["2ed962fc.89293e"]]},{"id":"720e7f7e.970ec8","type":"switch","z":"84981495.71c2a","name":"Start","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":190,"y":100,"wires":[["485fe511.730044","f7e2f5d.e944b08","a484d4.1795233","9afd1534.2333d"]]},{"id":"bd713f73.c5af4","type":"inject","z":"d691a75f.96e7e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":60,"wires":[["3b49f99.1e92f06"]]},{"id":"fb8a0a18.225f58","type":"api-call-service","z":"d691a75f.96e7e8","name":"turn_off","server":"e2ec910d.ac4e7","service_domain":"light","service":"turn_off","data":"","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":380,"y":120,"wires":[[]]},{"id":"9bf0b9ee.44d168","type":"api-current-state","z":"d691a75f.96e7e8","name":"get: lights_on","server":"e2ec910d.ac4e7","halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"sensor.lights_on","state_type":"str","outputs":1,"x":140,"y":120,"wires":[["a53a4541.b010e8","fb8a0a18.225f58"]]},{"id":"a53a4541.b010e8","type":"debug","z":"d691a75f.96e7e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":300,"y":220,"wires":[]},{"id":"3b49f99.1e92f06","type":"api-call-service","z":"d691a75f.96e7e8","name":"update: lights_on","server":"e2ec910d.ac4e7","service_domain":"homeassistant","service":"update_entity","data":"{\"entity_id\":\"sensor.lights_on\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":290,"y":60,"wires":[["9bf0b9ee.44d168"]]},{"id":"16aafc2e.d80fac","type":"switch","z":"84981495.71c2a","name":"End","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":190,"y":320,"wires":[["d6ca9d04.c24538","b44bbb7a.c4e17"]]},{"id":"d8e9103d.5454b","type":"api-call-service","z":"84981495.71c2a","name":"Garage Entry Off","server":"e2ec910d.ac4e7","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.garage_entry_light\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":490,"y":280,"wires":[[]]},{"id":"c409d633.80e358","type":"api-call-service","z":"84981495.71c2a","name":"Family Table Off","server":"e2ec910d.ac4e7","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.family_room_table_lamp\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":480,"y":320,"wires":[[]]},{"id":"a43b9a00.be50d","type":"api-call-service","z":"84981495.71c2a","name":"Family Table Flash","server":"e2ec910d.ac4e7","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.family_room_table_lamp\",\"flash\":\"short\",\"kelvin\":\"5000\",\"brightness\":\"255\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":650,"y":100,"wires":[[]]},{"id":"2d948dc8.9c4f52","type":"api-call-service","z":"84981495.71c2a","name":"Garage Entry Flash","server":"e2ec910d.ac4e7","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.garage_entry_light\",\"flash\":\"short\",\"kelvin\":\"5000\",\"brightness\":\"255\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":650,"y":60,"wires":[[]]},{"id":"b7f5a494.c36788","type":"delay","z":"84981495.71c2a","name":"2s","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":510,"y":60,"wires":[["2d948dc8.9c4f52"]]},{"id":"2ed962fc.89293e","type":"delay","z":"84981495.71c2a","name":"2s","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":510,"y":100,"wires":[["a43b9a00.be50d"]]},{"id":"5884d086.3cbbb8","type":"server-state-changed","z":"2b77891e.869d1e","name":"unlocked","server":"e2ec910d.ac4e7","entityidfilter":"lock.front_door","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"unlocked","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"x":80,"y":120,"wires":[["d589cd2.0c628b","83d1a7c.3d6ef58","dadf9a09.9d0db8"],[]]},{"id":"d589cd2.0c628b","type":"api-current-state","z":"2b77891e.869d1e","name":"entry light: current_state","server":"e2ec910d.ac4e7","halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"light.entry_light","state_type":"str","outputs":1,"x":290,"y":60,"wires":[["8c80148.ddedde8"]]},{"id":"8c80148.ddedde8","type":"function","z":"2b77891e.869d1e","name":"set_state","func":"var state = {\n    'state': msg.payload,\n    'brightness': msg.data.attributes.brightness||0\n}\nflow.set(\"entry_light_state\",state);\nmsg.data = null\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":60,"wires":[["14e81eaf.fd3d99"]]},{"id":"4c7be238.6fddc4","type":"function","z":"2b77891e.869d1e","name":"entry light: get_state","func":"msg.payload = flow.get(\"entry_light_state\");\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":280,"wires":[["2840effc.161f68"]]},{"id":"14e81eaf.fd3d99","type":"api-call-service","z":"2b77891e.869d1e","name":"full brightness","server":"e2ec910d.ac4e7","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.entry_light\",\"brightness\":\"255\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":600,"y":60,"wires":[[]]},{"id":"bcaafb6f.84804","type":"api-call-service","z":"2b77891e.869d1e","name":"restore brightness","server":"e2ec910d.ac4e7","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.entry_light\",\"brightness\":\"{{payload.brightness}}\"}","render_data":true,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":570,"y":260,"wires":[[]]},{"id":"2840effc.161f68","type":"switch","z":"2b77891e.869d1e","name":"","property":"payload.state","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":true,"outputs":2,"x":390,"y":280,"wires":[["bcaafb6f.84804"],["de6bf04a.ca0168"]]},{"id":"de6bf04a.ca0168","type":"api-call-service","z":"2b77891e.869d1e","name":"restore off state","server":"e2ec910d.ac4e7","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.entry_light\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":560,"y":300,"wires":[[]]},{"id":"b5bb964a.ae5f68","type":"server-state-changed","z":"2b77891e.869d1e","name":"locked","server":"e2ec910d.ac4e7","entityidfilter":"lock.front_door","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"locked","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"x":70,"y":360,"wires":[["4c7be238.6fddc4","caadf8af.77d9f8","b1b08f8d.00fc98"],[]]},{"id":"f2f3a5ad.b508b","type":"comment","z":"2b77891e.869d1e","name":"Turn porch + entry lights to full brightness when unlocked.","info":"","x":230,"y":20,"wires":[]},{"id":"83d1a7c.3d6ef58","type":"api-current-state","z":"2b77891e.869d1e","name":"porch light: current_state","server":"e2ec910d.ac4e7","halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"light.porch_light","state_type":"str","outputs":1,"x":290,"y":120,"wires":[["54b98e69.efaef"]]},{"id":"2f2e9133.53f056","type":"api-call-service","z":"2b77891e.869d1e","name":"full brightness","server":"e2ec910d.ac4e7","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.porch_light\",\"brightness\":\"255\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":600,"y":120,"wires":[[]]},{"id":"caadf8af.77d9f8","type":"function","z":"2b77891e.869d1e","name":"porch light: get_state","func":"msg.payload = flow.get(\"porch_light_state\");\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":360,"wires":[["b15903e1.2e9bf"]]},{"id":"29c810a0.1c4b5","type":"api-call-service","z":"2b77891e.869d1e","name":"restore brightness","server":"e2ec910d.ac4e7","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.porch_light\",\"brightness\":\"{{payload.brightness}}\"}","render_data":true,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":570,"y":340,"wires":[[]]},{"id":"b15903e1.2e9bf","type":"switch","z":"2b77891e.869d1e","name":"","property":"payload.state","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":true,"outputs":2,"x":390,"y":360,"wires":[["29c810a0.1c4b5"],["36f5a4a4.4b229c"]]},{"id":"36f5a4a4.4b229c","type":"api-call-service","z":"2b77891e.869d1e","name":"restore off state","server":"e2ec910d.ac4e7","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.porch_light\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":560,"y":380,"wires":[[]]},{"id":"54b98e69.efaef","type":"function","z":"2b77891e.869d1e","name":"set_state","func":"var rgb = msg.data.attributes.rgb_color||\"\"\nvar state = {\n    'state': msg.payload, \n    'brightness': msg.data.attributes.brightness||0,\n    'color_temp': msg.data.attributes.color_temp||\"\",\n    'rgb_color': rgb.toString()\n}\nflow.set(\"porch_light_state\",state);\n\nmsg.payload = state\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":120,"wires":[["2f2e9133.53f056"]]},{"id":"a484d4.1795233","type":"delay","z":"84981495.71c2a","name":"10s","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":330,"y":160,"wires":[["c13e00bc.79c598"]]},{"id":"d6ca9d04.c24538","type":"api-call-service","z":"84981495.71c2a","name":"Announce","server":"e2ec910d.ac4e7","service_domain":"script","service":"notify_speech","data":"{\"message\":\"Goodnight boys. It is time to go to bed.\",\"media_player\":\"media_player.living_room, media_player.family_room\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":340,"y":380,"wires":[[]]},{"id":"b44bbb7a.c4e17","type":"delay","z":"84981495.71c2a","name":"10s","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":330,"y":300,"wires":[["d8e9103d.5454b","c409d633.80e358"]]},{"id":"adec146.f30b1e8","type":"comment","z":"84981495.71c2a","name":"Warn the boys it is almost time to go to bed, then 15 minutes later tell them it is time to go to bed.","info":"","x":360,"y":20,"wires":[]},{"id":"bfb90399.60ce6","type":"comment","z":"9bb2ea23.9ebc6","name":"Turn garage door notificaiton lights on when it opens.","info":"","x":220,"y":20,"wires":[]},{"id":"31d988a5.38c318","type":"server-state-changed","z":"9bb2ea23.9ebc6","name":"opening","server":"e2ec910d.ac4e7","entityidfilter":"cover.garage_door","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"opening","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"x":80,"y":80,"wires":[["556f18bb.86a79"],[]]},{"id":"cc0d8f12.cba108","type":"server-state-changed","z":"9bb2ea23.9ebc6","name":"open","server":"e2ec910d.ac4e7","entityidfilter":"cover.garage_door","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"open","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"x":90,"y":160,"wires":[["556f18bb.86a79"],[]]},{"id":"7996e6ac.8f0b7","type":"comment","z":"2b77891e.869d1e","name":"Restore the garage notification lights to their previous states.","info":"","x":240,"y":240,"wires":[]},{"id":"d218ed36.0d6bf","type":"trigger-state","z":"2ae2019.3b95d7e","name":"'open' or 'opening'","server":"e2ec910d.ac4e7","entityid":"cover.garage_door","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"gplcet3fz5","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"open"},{"id":"7sss2b89miy","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"opening"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":110,"y":120,"wires":[["2c1b33f.f08f0cc","8563c4.16444c4","d2ba9d1e.4580d8"],[]]},{"id":"6d11f7bb.52c0c8","type":"comment","z":"2ae2019.3b95d7e","name":"Turn garage door notificaiton lights on when it opens.","info":"","x":220,"y":20,"wires":[]},{"id":"2c1b33f.f08f0cc","type":"api-call-service","z":"2ae2019.3b95d7e","name":"garage entry light: color_loop, 75% brightness","server":"e2ec910d.ac4e7","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.garage_entry_light\",\"brightness\":\"191\",\"effect\":\"colorloop\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":420,"y":60,"wires":[[]]},{"id":"8563c4.16444c4","type":"api-current-state","z":"2ae2019.3b95d7e","name":"family room lamp: current_state","server":"e2ec910d.ac4e7","halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"light.family_room_table_lamp","state_type":"str","outputs":1,"x":370,"y":120,"wires":[["3c048272.175206"]]},{"id":"ec362e9e.ebb558","type":"api-call-service","z":"2ae2019.3b95d7e","name":"full brightness","server":"e2ec910d.ac4e7","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.family_room_table_lamp\",\"brightness\":\"255\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":680,"y":120,"wires":[[]]},{"id":"3c048272.175206","type":"function","z":"2ae2019.3b95d7e","name":"set_state","func":"var rgb = msg.data.attributes.rgb_color||\"\"\nvar state = {\n    'state': msg.payload, \n    'brightness': msg.data.attributes.brightness||0,\n    'color_temp': msg.data.attributes.color_temp||\"\",\n    'rgb_color': rgb.toString()\n}\nflow.set(\"family_room_table_lamp_state\",state);\n\nmsg.payload = state\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":120,"wires":[["ec362e9e.ebb558"]]},{"id":"89b23160.e663e8","type":"server-state-changed","z":"2ae2019.3b95d7e","name":"'closed'","server":"e2ec910d.ac4e7","entityidfilter":"cover.garage_door","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"closed","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"x":70,"y":440,"wires":[["6eccd4eb.01b12c","e36f42b3.9a8a88"],[]]},{"id":"e178f879.b61018","type":"api-call-service","z":"2ae2019.3b95d7e","name":"garage entry light off","server":"e2ec910d.ac4e7","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.garage_entry_light\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":400,"y":460,"wires":[[]]},{"id":"13ff05ef.c0f812","type":"function","z":"2ae2019.3b95d7e","name":"get_state","func":"msg.payload = flow.get(\"family_room_table_lamp_state\");\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":520,"wires":[["4a5c63db.41cb7c"]]},{"id":"5bbb506d.3b1f4","type":"api-call-service","z":"2ae2019.3b95d7e","name":"restore brightness","server":"e2ec910d.ac4e7","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.family_room_table_lamp\",\"brightness\":\"{{payload.brightness}}\"}","render_data":true,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":630,"y":500,"wires":[[]]},{"id":"4a5c63db.41cb7c","type":"switch","z":"2ae2019.3b95d7e","name":"","property":"payload.state","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":true,"outputs":2,"x":470,"y":520,"wires":[["5bbb506d.3b1f4"],["3268aee1.fae8b2"]]},{"id":"3268aee1.fae8b2","type":"api-call-service","z":"2ae2019.3b95d7e","name":"restore off state","server":"e2ec910d.ac4e7","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.family_room_table_lamp\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":620,"y":540,"wires":[[]]},{"id":"756b1d49.6d6034","type":"inject","z":"2ae2019.3b95d7e","name":"every 5m","topic":"","payload":"true","payloadType":"bool","repeat":"300","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":320,"wires":[["c4de2213.dcc6a"]]},{"id":"d368a7e6.c78f48","type":"comment","z":"2ae2019.3b95d7e","name":"Restore the garage notification lights to their previous states.","info":"","x":240,"y":240,"wires":[]},{"id":"b96a0bc7.6c5c1","type":"api-current-state","z":"2ae2019.3b95d7e","name":"garage door: current state","server":"e2ec910d.ac4e7","halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"cover.garage_door","state_type":"str","outputs":1,"x":490,"y":280,"wires":[["f31705c4.342da8"]]},{"id":"f31705c4.342da8","type":"switch","z":"2ae2019.3b95d7e","name":"","property":"payload.state","propertyType":"msg","rules":[{"t":"eq","v":"closed","vt":"str"},{"t":"eq","v":"open","vt":"str"}],"checkall":"true","repair":true,"outputs":2,"x":650,"y":280,"wires":[["c3dfc92a.409d3"],[]]},{"id":"5c54bc4c.f26eec","type":"link in","z":"2ae2019.3b95d7e","name":"garage_closed","links":["c3dfc92a.409d3","6eccd4eb.01b12c"],"x":255,"y":460,"wires":[["13ff05ef.c0f812","e178f879.b61018"]]},{"id":"c3dfc92a.409d3","type":"link out","z":"2ae2019.3b95d7e","name":"","links":["5c54bc4c.f26eec","15b947a2.49085"],"x":735,"y":280,"wires":[]},{"id":"6eccd4eb.01b12c","type":"link out","z":"2ae2019.3b95d7e","name":"","links":["5c54bc4c.f26eec"],"x":175,"y":460,"wires":[]},{"id":"9afd1534.2333d","type":"api-call-service","z":"84981495.71c2a","name":"logbook: log action","server":"e2ec910d.ac4e7","service_domain":"logbook","service":"log","data":"{\"name\":\"Node-RED > Bedtime\",\"message\":\"Start: Announce it almost bedtime\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":370,"y":220,"wires":[[]]},{"id":"dba9689c.bf4a28","type":"api-call-service","z":"84981495.71c2a","name":"logbook: log action","server":"e2ec910d.ac4e7","service_domain":"logbook","service":"log","data":"{\"name\":\"Node-RED > Bedtime\",\"message\":\"End: Announce time to go to bed\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":370,"y":440,"wires":[[]]},{"id":"9e0446fa.9dd8d8","type":"debug","z":"84981495.71c2a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":240,"wires":[]},{"id":"dadf9a09.9d0db8","type":"api-call-service","z":"2b77891e.869d1e","name":"logbook: log action","server":"e2ec910d.ac4e7","service_domain":"logbook","service":"log","data":"{\"name\":\"Node-RED > Front Door\",\"message\":\"Unlocked: entry lights at full brightness\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":270,"y":180,"wires":[[]]},{"id":"b1b08f8d.00fc98","type":"api-call-service","z":"2b77891e.869d1e","name":"logbook: log action","server":"e2ec910d.ac4e7","service_domain":"logbook","service":"log","data":"{\"name\":\"Node-RED > Front Door\",\"message\":\"Locked: restore entry lights state\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":250,"y":420,"wires":[[]]},{"id":"d2ba9d1e.4580d8","type":"api-call-service","z":"2ae2019.3b95d7e","name":"logbook: log action","server":"e2ec910d.ac4e7","service_domain":"logbook","service":"log","data":"{\"name\":\"Node-RED > Garage Door\",\"message\":\"Open\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":330,"y":180,"wires":[[]]},{"id":"e36f42b3.9a8a88","type":"api-call-service","z":"2ae2019.3b95d7e","name":"logbook: log action","server":"e2ec910d.ac4e7","service_domain":"logbook","service":"log","data":"{\"name\":\"Node-RED > Garage Door\",\"message\":\"Closed\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":250,"y":400,"wires":[[]]},{"id":"3ce02a02.e6daee","type":"api-call-service","z":"2ae2019.3b95d7e","name":"logbook: log action","server":"e2ec910d.ac4e7","service_domain":"logbook","service":"log","data":"{\"name\":\"Node-RED > Garage Door\",\"message\":\"5 minute timeout\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":470,"y":340,"wires":[[]]},{"id":"c4de2213.dcc6a","type":"api-current-state","z":"2ae2019.3b95d7e","name":"is the light on?","server":"e2ec910d.ac4e7","halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"light.garage_entry_light","state_type":"str","outputs":2,"x":260,"y":320,"wires":[["3ce02a02.e6daee","b96a0bc7.6c5c1"],[]]},{"id":"4a493bb5.5ecfc4","type":"server-state-changed","z":"9bb2ea23.9ebc6","name":"'closed'","server":"e2ec910d.ac4e7","entityidfilter":"cover.garage_door","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"closed","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"x":70,"y":440,"wires":[["307b74f.85db88c","2c836d93.a91aa2"],[]]},{"id":"d6a22b3e.b91c18","type":"api-call-service","z":"9bb2ea23.9ebc6","name":"garage entry light off","server":"e2ec910d.ac4e7","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.garage_entry_light\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":400,"y":460,"wires":[[]]},{"id":"d30d1c1c.df7428","type":"function","z":"9bb2ea23.9ebc6","name":"get_state","func":"msg.payload = flow.get(\"family_room_table_lamp_state\");\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":520,"wires":[["36d01c8b.8f1664"]]},{"id":"db254180.65a6d","type":"api-call-service","z":"9bb2ea23.9ebc6","name":"restore brightness","server":"e2ec910d.ac4e7","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.family_room_table_lamp\",\"brightness\":\"{{payload.brightness}}\"}","render_data":true,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":630,"y":500,"wires":[[]]},{"id":"36d01c8b.8f1664","type":"switch","z":"9bb2ea23.9ebc6","name":"","property":"payload.state","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":true,"outputs":2,"x":470,"y":520,"wires":[["db254180.65a6d"],["9a6f4ce2.3bea18"]]},{"id":"9a6f4ce2.3bea18","type":"api-call-service","z":"9bb2ea23.9ebc6","name":"restore off state","server":"e2ec910d.ac4e7","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.family_room_table_lamp\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":620,"y":540,"wires":[[]]},{"id":"27e90cde.83fd84","type":"inject","z":"9bb2ea23.9ebc6","name":"every 5m","topic":"","payload":"true","payloadType":"bool","repeat":"300","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":320,"wires":[["a222762a.ab91"]]},{"id":"231459cd.77ff9e","type":"comment","z":"9bb2ea23.9ebc6","name":"Restore the garage notification lights to their previous states.","info":"","x":240,"y":240,"wires":[]},{"id":"a18ce07f.a84a","type":"api-current-state","z":"9bb2ea23.9ebc6","name":"garage door: current state","server":"e2ec910d.ac4e7","halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"cover.garage_door","state_type":"str","outputs":1,"x":490,"y":280,"wires":[["9c49584f.1bc8e8"]]},{"id":"9c49584f.1bc8e8","type":"switch","z":"9bb2ea23.9ebc6","name":"","property":"payload.state","propertyType":"msg","rules":[{"t":"eq","v":"closed","vt":"str"},{"t":"eq","v":"open","vt":"str"}],"checkall":"true","repair":true,"outputs":2,"x":650,"y":280,"wires":[["39e41339.940704"],[]]},{"id":"40936615.bc1758","type":"link in","z":"9bb2ea23.9ebc6","name":"garage_closed","links":["39e41339.940704","307b74f.85db88c"],"x":255,"y":460,"wires":[["d30d1c1c.df7428","d6a22b3e.b91c18"]]},{"id":"39e41339.940704","type":"link out","z":"9bb2ea23.9ebc6","name":"","links":["40936615.bc1758","15b947a2.49085"],"x":735,"y":280,"wires":[]},{"id":"307b74f.85db88c","type":"link out","z":"9bb2ea23.9ebc6","name":"","links":["40936615.bc1758"],"x":175,"y":460,"wires":[]},{"id":"2c836d93.a91aa2","type":"api-call-service","z":"9bb2ea23.9ebc6","name":"logbook: log action","server":"e2ec910d.ac4e7","service_domain":"logbook","service":"log","data":"{\"name\":\"Node-RED > Garage Door\",\"message\":\"Closed\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":250,"y":400,"wires":[[]]},{"id":"1c0664e.3f76a9b","type":"api-call-service","z":"9bb2ea23.9ebc6","name":"logbook: log action","server":"e2ec910d.ac4e7","service_domain":"logbook","service":"log","data":"{\"name\":\"Node-RED > Garage Door\",\"message\":\"5 minute timeout\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":470,"y":340,"wires":[[]]},{"id":"a222762a.ab91","type":"api-current-state","z":"9bb2ea23.9ebc6","name":"is the light on?","server":"e2ec910d.ac4e7","halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"light.garage_entry_light","state_type":"str","outputs":2,"x":260,"y":320,"wires":[["1c0664e.3f76a9b","a18ce07f.a84a"],[]]},{"id":"c7eed6a9.e336c8","type":"api-call-service","z":"9bb2ea23.9ebc6","name":"garage entry light: color_loop, 75% brightness","server":"e2ec910d.ac4e7","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.garage_entry_light\",\"brightness\":\"191\",\"effect\":\"colorloop\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":520,"y":60,"wires":[[]]},{"id":"b3cea1d.99da66","type":"api-call-service","z":"9bb2ea23.9ebc6","name":"logbook: log action","server":"e2ec910d.ac4e7","service_domain":"logbook","service":"log","data":"{\"name\":\"Node-RED > Garage Door\",\"message\":\"Open\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":430,"y":180,"wires":[[]]},{"id":"7f6265a2.32cea4","type":"link in","z":"9bb2ea23.9ebc6","name":"garage_open","links":["556f18bb.86a79"],"x":275,"y":120,"wires":[["c7eed6a9.e336c8","b3cea1d.99da66","1f58cf6c.60e011"]]},{"id":"556f18bb.86a79","type":"link out","z":"9bb2ea23.9ebc6","name":"","links":["7f6265a2.32cea4"],"x":195,"y":120,"wires":[]},{"id":"1f58cf6c.60e011","type":"api-current-state","z":"9bb2ea23.9ebc6","name":"family room lamp: current_state","server":"e2ec910d.ac4e7","halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"light.family_room_table_lamp","state_type":"str","outputs":1,"x":470,"y":120,"wires":[["5cbc2cc5.d0028c"]]},{"id":"43706caa.18be04","type":"api-call-service","z":"9bb2ea23.9ebc6","name":"full brightness","server":"e2ec910d.ac4e7","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.family_room_table_lamp\",\"brightness\":\"255\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":780,"y":120,"wires":[[]]},{"id":"5cbc2cc5.d0028c","type":"function","z":"9bb2ea23.9ebc6","name":"set_state","func":"var rgb = msg.data.attributes.rgb_color||\"\"\nvar state = {\n    'state': msg.payload, \n    'brightness': msg.data.attributes.brightness||0,\n    'color_temp': msg.data.attributes.color_temp||\"\",\n    'rgb_color': rgb.toString()\n}\nflow.set(\"family_room_table_lamp_state\",state);\n\nmsg.payload = state\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":120,"wires":[["43706caa.18be04"]]}]