nodred.flows.json
[{"id":"84981495.71c2a","type":"tab","label":"Bedtime","disabled":false,"info":"1. Flashes Hue lights in Family and Living Rooms.\n2. Alexa announces that its almost bedtime."},{"id":"fa86ebeb.628fb8","type":"tab","label":"Event Reminders","disabled":false,"info":""},{"id":"2b77891e.869d1e","type":"tab","label":"Front Door","disabled":false,"info":""},{"id":"9bb2ea23.9ebc6","type":"tab","label":"Garage Door","disabled":false,"info":""},{"id":"d691a75f.96e7e8","type":"tab","label":"x","disabled":false,"info":""},{"id":"28e2850d.c5e902","type":"tab","label":"functions","disabled":false,"info":""},{"id":"e2ec910d.ac4e7","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open"},{"id":"e3a152c5.b7ed98","type":"light-scheduler-settings","z":"","name":"Home","latitude":"32.8541050","longitude":"-117.0029700"},{"id":"7bbb53e6.168a74","type":"mqtt-broker","z":"","name":"Mosquitto","broker":"10.0.0.56","port":"1883","clientid":"node-red","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"'nodered/status'","birthQos":"0","birthRetain":"false","birthPayload":"'online'","closeTopic":"'nodered/status'","closeQos":"0","closeRetain":"false","closePayload":"'disconnected'","willTopic":"'nodered/status'","willQos":"0","willRetain":"false","willPayload":"'offline'"},{"id":"53a06bf7.4a4684","type":"light-scheduler","z":"84981495.71c2a","settings":"e3a152c5.b7ed98","events":"[{\"start\":{\"dow\":1,\"mod\":1215},\"end\":{\"dow\":1,\"mod\":1230}},{\"start\":{\"dow\":2,\"mod\":1215},\"end\":{\"dow\":2,\"mod\":1230}},{\"start\":{\"dow\":3,\"mod\":1215},\"end\":{\"dow\":3,\"mod\":1230}},{\"start\":{\"dow\":4,\"mod\":1215},\"end\":{\"dow\":4,\"mod\":1230}},{\"start\":{\"dow\":0,\"mod\":1215},\"end\":{\"dow\":0,\"mod\":1230}},{\"start\":{\"dow\":5,\"mod\":1275},\"end\":{\"dow\":5,\"mod\":1290}},{\"start\":{\"dow\":6,\"mod\":1275},\"end\":{\"dow\":6,\"mod\":1290}}]","topic":"","name":"8:15/9:15","onPayload":"ON","onPayloadType":"str","offPayload":"OFF","offPayloadType":"str","onlyWhenDark":false,"sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange","x":80,"y":160,"wires":[["720e7f7e.970ec8"]]},{"id":"c13e00bc.79c598","type":"api-call-service","z":"84981495.71c2a","name":"Announce","server":"e2ec910d.ac4e7","service_domain":"script","service":"notify_speech","data":"{\"message\":\"It's almost bed time. Wrap up your activities and head upstairs shortly.\",\"media_player\":\"media_player.living_room, media_player.family_room\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":440,"y":160,"wires":[[]]},{"id":"720e7f7e.970ec8","type":"switch","z":"84981495.71c2a","name":"Warn","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":190,"y":160,"wires":[["a484d4.1795233","9afd1534.2333d","6efa6e6f.e3b818"]]},{"id":"bd713f73.c5af4","type":"inject","z":"d691a75f.96e7e8","name":">","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":60,"wires":[["3b49f99.1e92f06"]]},{"id":"fb8a0a18.225f58","type":"api-call-service","z":"d691a75f.96e7e8","name":"off","server":"e2ec910d.ac4e7","service_domain":"light","service":"turn_off","data":"","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":570,"y":40,"wires":[[]]},{"id":"9bf0b9ee.44d168","type":"api-current-state","z":"d691a75f.96e7e8","name":"get: lights_on","server":"e2ec910d.ac4e7","halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"variable.lights_on","state_type":"str","outputs":1,"x":420,"y":60,"wires":[["68165b65.b1d45c","fb8a0a18.225f58"]]},{"id":"3b49f99.1e92f06","type":"api-call-service","z":"d691a75f.96e7e8","name":"update: lights_on","server":"e2ec910d.ac4e7","service_domain":"script","service":"turn_on","data":"{\"entity_id\":\"script.lights_on_update\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":250,"y":60,"wires":[["9bf0b9ee.44d168"]]},{"id":"16aafc2e.d80fac","type":"switch","z":"84981495.71c2a","name":"Bedtime","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":200,"y":420,"wires":[["d6ca9d04.c24538","5cbc660.0082a9c","dba9689c.bf4a28","b44bbb7a.c4e17","91c79849.c895d8"]]},{"id":"d589cd2.0c628b","type":"api-current-state","z":"2b77891e.869d1e","name":"entry light: current_state","server":"e2ec910d.ac4e7","halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"light.entry_light","state_type":"str","outputs":1,"x":290,"y":60,"wires":[["8c80148.ddedde8"]]},{"id":"8c80148.ddedde8","type":"function","z":"2b77891e.869d1e","name":"set_state","func":"var state = {\n    'state': msg.payload,\n    'brightness': msg.data.attributes.brightness||0\n}\nflow.set(\"entry_light_state\",state);\nmsg.data = null\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":60,"wires":[["14e81eaf.fd3d99"]]},{"id":"4c7be238.6fddc4","type":"function","z":"2b77891e.869d1e","name":"entry light: old_state","func":"msg.payload = flow.get(\"entry_light_state\");\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":280,"wires":[["2840effc.161f68"]]},{"id":"14e81eaf.fd3d99","type":"api-call-service","z":"2b77891e.869d1e","name":"full brightness","server":"e2ec910d.ac4e7","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.entry_light\",\"brightness\":\"255\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":600,"y":60,"wires":[[]]},{"id":"bcaafb6f.84804","type":"api-call-service","z":"2b77891e.869d1e","name":"restore brightness","server":"e2ec910d.ac4e7","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.entry_light\",\"brightness\":\"{{payload.brightness}}\"}","render_data":true,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":570,"y":260,"wires":[[]]},{"id":"2840effc.161f68","type":"switch","z":"2b77891e.869d1e","name":"","property":"payload.state","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":true,"outputs":2,"x":390,"y":280,"wires":[["bcaafb6f.84804"],["de6bf04a.ca0168"]]},{"id":"de6bf04a.ca0168","type":"api-call-service","z":"2b77891e.869d1e","name":"restore off state","server":"e2ec910d.ac4e7","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.entry_light\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":560,"y":300,"wires":[[]]},{"id":"f2f3a5ad.b508b","type":"comment","z":"2b77891e.869d1e","name":"Turn porch + entry lights to full brightness when unlocked.","info":"","x":230,"y":20,"wires":[]},{"id":"83d1a7c.3d6ef58","type":"api-current-state","z":"2b77891e.869d1e","name":"porch light: current_state","server":"e2ec910d.ac4e7","halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"light.porch_light","state_type":"str","outputs":1,"x":290,"y":120,"wires":[["54b98e69.efaef"]]},{"id":"2f2e9133.53f056","type":"api-call-service","z":"2b77891e.869d1e","name":"full brightness","server":"e2ec910d.ac4e7","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.porch_light\",\"brightness\":\"255\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":600,"y":120,"wires":[[]]},{"id":"caadf8af.77d9f8","type":"function","z":"2b77891e.869d1e","name":"porch light: old_state","func":"msg.payload = flow.get(\"porch_light_state\");\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":360,"wires":[["b15903e1.2e9bf"]]},{"id":"29c810a0.1c4b5","type":"api-call-service","z":"2b77891e.869d1e","name":"restore brightness","server":"e2ec910d.ac4e7","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.porch_light\",\"brightness\":\"{{payload.brightness}}\"}","render_data":true,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":570,"y":340,"wires":[[]]},{"id":"b15903e1.2e9bf","type":"switch","z":"2b77891e.869d1e","name":"","property":"payload.state","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":true,"outputs":2,"x":390,"y":360,"wires":[["29c810a0.1c4b5"],["36f5a4a4.4b229c"]]},{"id":"36f5a4a4.4b229c","type":"api-call-service","z":"2b77891e.869d1e","name":"restore off state","server":"e2ec910d.ac4e7","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.porch_light\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":560,"y":380,"wires":[[]]},{"id":"54b98e69.efaef","type":"function","z":"2b77891e.869d1e","name":"set_state","func":"var rgb = msg.data.attributes.rgb_color||\"\"\nvar state = {\n    'state': msg.payload, \n    'brightness': msg.data.attributes.brightness||0,\n    'color_temp': msg.data.attributes.color_temp||\"\",\n    'rgb_color': rgb.toString()\n}\nflow.set(\"porch_light_state\",state);\n\nmsg.payload = state\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":120,"wires":[["2f2e9133.53f056"]]},{"id":"a484d4.1795233","type":"delay","z":"84981495.71c2a","name":"10s","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":330,"y":160,"wires":[["c13e00bc.79c598"]]},{"id":"d6ca9d04.c24538","type":"api-call-service","z":"84981495.71c2a","name":"Announce","server":"e2ec910d.ac4e7","service_domain":"script","service":"notify_speech","data":"{\"message\":\"Goodnight boys. It is time to go to bed.\",\"media_player\":\"media_player.living_room, media_player.family_room\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":340,"y":440,"wires":[[]]},{"id":"b44bbb7a.c4e17","type":"delay","z":"84981495.71c2a","name":"15s","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":330,"y":360,"wires":[["27e9f648.b2360a"]]},{"id":"adec146.f30b1e8","type":"comment","z":"84981495.71c2a","name":"Warn the boys it is almost time to go to bed, then 15 minutes later tell them it is time to go to bed.","info":"","x":360,"y":20,"wires":[]},{"id":"bfb90399.60ce6","type":"comment","z":"9bb2ea23.9ebc6","name":"Turn garage door notificaiton lights on when it opens.","info":"","x":220,"y":20,"wires":[]},{"id":"31d988a5.38c318","type":"server-state-changed","z":"9bb2ea23.9ebc6","name":"'opening'","server":"e2ec910d.ac4e7","entityidfilter":"cover.garage_door","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"opening","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"x":80,"y":160,"wires":[["556f18bb.86a79"],[]]},{"id":"cc0d8f12.cba108","type":"server-state-changed","z":"9bb2ea23.9ebc6","name":"'open'","server":"e2ec910d.ac4e7","entityidfilter":"cover.garage_door","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"open","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"x":70,"y":80,"wires":[["556f18bb.86a79"],[]]},{"id":"7996e6ac.8f0b7","type":"comment","z":"2b77891e.869d1e","name":"Restore the porch + entry lights to their previous states.","info":"","x":220,"y":240,"wires":[]},{"id":"9afd1534.2333d","type":"api-call-service","z":"84981495.71c2a","name":"logbook","server":"e2ec910d.ac4e7","service_domain":"logbook","service":"log","data":"{\"name\":\"Node-RED > Bedtime\",\"message\":\"Start: Announce it almost bedtime\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":340,"y":220,"wires":[[]]},{"id":"dba9689c.bf4a28","type":"api-call-service","z":"84981495.71c2a","name":"logbook","server":"e2ec910d.ac4e7","service_domain":"logbook","service":"log","data":"{\"name\":\"Node-RED > Bedtime\",\"message\":\"End: Announce time to go to bed\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":340,"y":500,"wires":[[]]},{"id":"dadf9a09.9d0db8","type":"api-call-service","z":"2b77891e.869d1e","name":"logbook","server":"e2ec910d.ac4e7","service_domain":"logbook","service":"log","data":"{\"name\":\"Node-RED > Front Door\",\"message\":\"Unlocked: entry lights at full brightness\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":240,"y":180,"wires":[[]]},{"id":"b1b08f8d.00fc98","type":"api-call-service","z":"2b77891e.869d1e","name":"logbook","server":"e2ec910d.ac4e7","service_domain":"logbook","service":"log","data":"{\"name\":\"Node-RED > Front Door\",\"message\":\"Locked: restore entry lights state\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":220,"y":420,"wires":[[]]},{"id":"4a493bb5.5ecfc4","type":"server-state-changed","z":"9bb2ea23.9ebc6","name":"'closed'","server":"e2ec910d.ac4e7","entityidfilter":"cover.garage_door","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"closed","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"x":70,"y":340,"wires":[["5a896dce.eeaa74"],["2c836d93.a91aa2","6a48b08d.f466"]]},{"id":"27e90cde.83fd84","type":"inject","z":"9bb2ea23.9ebc6","name":"5m","topic":"","payload":"true","payloadType":"bool","repeat":"300","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":480,"wires":[["a222762a.ab91","52008216.c6bebc"]]},{"id":"231459cd.77ff9e","type":"comment","z":"9bb2ea23.9ebc6","name":"Restore the garage notification lights to their previous states.","info":"","x":240,"y":240,"wires":[]},{"id":"a18ce07f.a84a","type":"api-current-state","z":"9bb2ea23.9ebc6","name":"door closed?","server":"e2ec910d.ac4e7","halt_if":"closed","halt_if_type":"str","halt_if_compare":"is_not","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"cover.garage_door","state_type":"str","outputs":2,"x":550,"y":460,"wires":[["39e41339.940704"],[]]},{"id":"39e41339.940704","type":"link out","z":"9bb2ea23.9ebc6","name":"","links":["386aade4.635892"],"x":655,"y":460,"wires":[]},{"id":"2c836d93.a91aa2","type":"api-call-service","z":"9bb2ea23.9ebc6","name":"logbook","server":"e2ec910d.ac4e7","service_domain":"logbook","service":"log","data":"{\"name\":\"Node-RED > Garage Door\",\"message\":\"Closed\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":220,"y":340,"wires":[[]]},{"id":"1c0664e.3f76a9b","type":"api-call-service","z":"9bb2ea23.9ebc6","name":"logbook","server":"e2ec910d.ac4e7","service_domain":"logbook","service":"log","data":"{\"name\":\"Node-RED > Garage Door\",\"message\":\"5 minute timeout\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":540,"y":500,"wires":[[]]},{"id":"a222762a.ab91","type":"api-current-state","z":"9bb2ea23.9ebc6","name":"garage entry on?","server":"e2ec910d.ac4e7","halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"light.garage_entry_light","state_type":"habool","outputs":2,"x":250,"y":460,"wires":[["80460a.de7bd9f8"],[]]},{"id":"b3cea1d.99da66","type":"api-call-service","z":"9bb2ea23.9ebc6","name":"logbook","server":"e2ec910d.ac4e7","service_domain":"logbook","service":"log","data":"{\"name\":\"Node-RED > Garage Door\",\"message\":\"Open\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":340,"y":140,"wires":[[]]},{"id":"7f6265a2.32cea4","type":"link in","z":"9bb2ea23.9ebc6","name":"garage_open","links":["556f18bb.86a79","e0917067.37ac"],"x":215,"y":120,"wires":[["b3cea1d.99da66","675cebfe.6360f4"]]},{"id":"556f18bb.86a79","type":"link out","z":"9bb2ea23.9ebc6","name":"","links":["7f6265a2.32cea4"],"x":175,"y":120,"wires":[]},{"id":"5cbc660.0082a9c","type":"api-call-service","z":"84981495.71c2a","name":"iOS Notification","server":"e2ec910d.ac4e7","service_domain":"script","service":"notify_ios","data":"{\"title\":\"Bedtime\",\"message\":\"The boys were reminded to go to bed.\",\"who\":\"brian\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":360,"y":560,"wires":[[]]},{"id":"6a48b08d.f466","type":"api-call-service","z":"9bb2ea23.9ebc6","name":"iOS Notification","server":"e2ec910d.ac4e7","service_domain":"script","service":"notify_ios","data":"{\"title\":\"CLOSED\",\"message\":\"The garage door is closed.\",\"who\":\"parents\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":240,"y":380,"wires":[[]]},{"id":"33606982.06e5be","type":"trigger-state","z":"2b77891e.869d1e","name":"locked","server":"e2ec910d.ac4e7","entityid":"lock.front_door","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"zw84gf9o1do","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"unlocked"},{"id":"pive1wk276d","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"locked"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":70,"y":360,"wires":[["caadf8af.77d9f8","4c7be238.6fddc4","b1b08f8d.00fc98"],[]]},{"id":"5251f07.a1d8d9","type":"trigger-state","z":"2b77891e.869d1e","name":"unlocked","server":"e2ec910d.ac4e7","entityid":"lock.front_door","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"cfev1052maw","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"locked"},{"id":"01gmr6s7g0n2","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"unlocked"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":80,"y":120,"wires":[["d589cd2.0c628b","83d1a7c.3d6ef58","dadf9a09.9d0db8"],[]]},{"id":"27eb2287.40d066","type":"inject","z":"d691a75f.96e7e8","name":">","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":120,"wires":[["1cdda412.62036c"]]},{"id":"1cdda412.62036c","type":"http request","z":"d691a75f.96e7e8","name":"","method":"POST","ret":"txt","url":"https://hooks.nabu.casa/gAAAAABcMnXt6U-vYxR9bEjCrhf0ZxB1oyBIXCAhLsmdJXX-MDV-T8NwvVyg_vdfBJElEwNHZvPEVQUFR1JQs0kSUKF--Q7dydyqEKm1WCtFPC1a54aDwd-QrAqqZnX_ZYDe0lM-suZLIqaJyv9viQFieig9axkF2i13LoMMscJ7WCKC8iCvFdg=","tls":"","x":230,"y":120,"wires":[["8c125416.49e208"]],"outputLabels":["{\"entity_id\": \"light.family_room_table_lamp\"}"]},{"id":"8c125416.49e208","type":"debug","z":"d691a75f.96e7e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":370,"y":120,"wires":[]},{"id":"be5e91.d2fd897","type":"light-scheduler","z":"84981495.71c2a","settings":"e3a152c5.b7ed98","events":"[{\"start\":{\"dow\":1,\"mod\":1230},\"end\":{\"dow\":1,\"mod\":1245}},{\"start\":{\"dow\":2,\"mod\":1230},\"end\":{\"dow\":2,\"mod\":1245}},{\"start\":{\"dow\":3,\"mod\":1230},\"end\":{\"dow\":3,\"mod\":1245}},{\"start\":{\"dow\":4,\"mod\":1230},\"end\":{\"dow\":4,\"mod\":1245}},{\"start\":{\"dow\":5,\"mod\":1290},\"end\":{\"dow\":5,\"mod\":1305}},{\"start\":{\"dow\":6,\"mod\":1290},\"end\":{\"dow\":6,\"mod\":1305}},{\"start\":{\"dow\":0,\"mod\":1230},\"end\":{\"dow\":0,\"mod\":1245}}]","topic":"","name":"8:30/9:30","onPayload":"ON","onPayloadType":"str","offPayload":"OFF","offPayloadType":"str","onlyWhenDark":false,"sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange","x":80,"y":420,"wires":[["16aafc2e.d80fac"]]},{"id":"68165b65.b1d45c","type":"debug","z":"d691a75f.96e7e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":80,"wires":[]},{"id":"de39ed4f.143598","type":"debug","z":"d691a75f.96e7e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":310,"y":180,"wires":[]},{"id":"19a1b5d4.573c7a","type":"mqtt in","z":"d691a75f.96e7e8","name":"","topic":"speech/last_message","qos":"2","broker":"7bbb53e6.168a74","x":120,"y":180,"wires":[["de39ed4f.143598"]]},{"id":"783ae765.8a5538","type":"api-current-state","z":"d691a75f.96e7e8","name":"get: climate.home","server":"e2ec910d.ac4e7","halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"climate.home","state_type":"str","outputs":1,"x":250,"y":260,"wires":[["3f1fca99.6390ee"]]},{"id":"3f1fca99.6390ee","type":"debug","z":"d691a75f.96e7e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":290,"y":260,"wires":[]},{"id":"888d72de.359528","type":"inject","z":"d691a75f.96e7e8","name":">","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":260,"wires":[["783ae765.8a5538"]]},{"id":"52008216.c6bebc","type":"api-current-state","z":"9bb2ea23.9ebc6","name":"table lamp on?","server":"e2ec910d.ac4e7","halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"light.family_room_table_lamp","state_type":"habool","outputs":2,"x":240,"y":500,"wires":[["80460a.de7bd9f8"],[]]},{"id":"80460a.de7bd9f8","type":"switch","z":"9bb2ea23.9ebc6","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":true,"outputs":2,"x":410,"y":480,"wires":[["a18ce07f.a84a","1c0664e.3f76a9b"],[]]},{"id":"9fa58403.8b391","type":"link out","z":"9bb2ea23.9ebc6","name":"","links":["ecd19b0b.d5a808"],"x":815,"y":200,"wires":[]},{"id":"39f1dcb4.006074","type":"inject","z":"9bb2ea23.9ebc6","name":"Test Garage OPEN","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":670,"y":200,"wires":[["9fa58403.8b391"]]},{"id":"af55db8b.f5fa9","type":"link out","z":"9bb2ea23.9ebc6","name":"","links":["386aade4.635892"],"x":815,"y":240,"wires":[]},{"id":"58aac7ae.9d7e1","type":"inject","z":"9bb2ea23.9ebc6","name":"Test Garage CLOSED","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":240,"wires":[["af55db8b.f5fa9"]]},{"id":"5e719e7c.11d93","type":"link in","z":"28e2850d.c5e902","name":"flash_lights","links":["be0f5016.b9e248","4ebf5b85.7e8b9c","d9d27a65.b5833","b0acf8b8.87e5f","867508b7.fc461","7b69125.38de0ec"],"x":35,"y":60,"wires":[["808e2701.7cdd1"]]},{"id":"808e2701.7cdd1","type":"api-call-service","z":"28e2850d.c5e902","name":"flash","server":"e2ec910d.ac4e7","service_domain":"light","service":"turn_on","data":"{\"flash\":\"short\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":125,"y":60,"wires":[["a4e025c3.057a4"]]},{"id":"492a6983.ca8c28","type":"api-call-service","z":"28e2850d.c5e902","name":"flash","server":"e2ec910d.ac4e7","service_domain":"light","service":"turn_on","data":"{\"flash\":\"short\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":325,"y":60,"wires":[["44a55243.8edb74"]]},{"id":"a4e025c3.057a4","type":"delay","z":"28e2850d.c5e902","name":"1s","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":225,"y":60,"wires":[["492a6983.ca8c28"]]},{"id":"1b8b7250.c5aa7e","type":"api-call-service","z":"28e2850d.c5e902","name":"flash","server":"e2ec910d.ac4e7","service_domain":"light","service":"turn_on","data":"{\"flash\":\"short\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":525,"y":60,"wires":[[]]},{"id":"44a55243.8edb74","type":"delay","z":"28e2850d.c5e902","name":"1s","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":425,"y":60,"wires":[["1b8b7250.c5aa7e"]]},{"id":"c6d49971.b191e8","type":"comment","z":"28e2850d.c5e902","name":"flash_lights","info":"","x":80,"y":20,"wires":[]},{"id":"6efa6e6f.e3b818","type":"link out","z":"84981495.71c2a","name":"","links":["ecd19b0b.d5a808"],"x":295,"y":80,"wires":[]},{"id":"91c79849.c895d8","type":"link out","z":"84981495.71c2a","name":"","links":["ecd19b0b.d5a808"],"x":295,"y":300,"wires":[]},{"id":"d80540f5.566f58","type":"comment","z":"28e2850d.c5e902","name":"notification_lights","info":"","x":100,"y":140,"wires":[]},{"id":"3d6eb4ef.ba5be4","type":"api-call-service","z":"28e2850d.c5e902","name":"garage entry light: color_loop, 75% brightness","server":"e2ec910d.ac4e7","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.garage_entry_light\",\"brightness\":\"191\",\"effect\":\"colorloop\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":260,"y":180,"wires":[["7b69125.38de0ec"]]},{"id":"4b1acc34.e5c0e4","type":"api-current-state","z":"28e2850d.c5e902","name":"family room lamp: current_state","server":"e2ec910d.ac4e7","halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"light.family_room_table_lamp","state_type":"str","outputs":1,"x":210,"y":220,"wires":[["daabc238.32231"]]},{"id":"7750af4d.b6ec5","type":"api-call-service","z":"28e2850d.c5e902","name":"full brightness","server":"e2ec910d.ac4e7","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.family_room_table_lamp\",\"brightness\":\"255\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":540,"y":220,"wires":[["867508b7.fc461"]]},{"id":"daabc238.32231","type":"function","z":"28e2850d.c5e902","name":"set_state","func":"var rgb = msg.data.attributes.rgb_color||\"\"\nvar state = {\n    'state': msg.payload, \n    'brightness': msg.data.attributes.brightness||0,\n    'color_temp': msg.data.attributes.color_temp||\"\",\n    'rgb_color': rgb.toString()\n}\nflow.set(\"family_room_table_lamp_state\",state);\n\nmsg.payload = state\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":220,"wires":[["7750af4d.b6ec5"]]},{"id":"867508b7.fc461","type":"link out","z":"28e2850d.c5e902","name":"","links":["5e719e7c.11d93"],"x":675,"y":220,"wires":[]},{"id":"7b69125.38de0ec","type":"link out","z":"28e2850d.c5e902","name":"","links":["5e719e7c.11d93"],"x":495,"y":180,"wires":[]},{"id":"ecd19b0b.d5a808","type":"link in","z":"28e2850d.c5e902","name":"notification_lights","links":["675cebfe.6360f4","9fa58403.8b391","6efa6e6f.e3b818","91c79849.c895d8","a603c03c.ed01a","87760c43.8515e","1fdd9fb4.863268","a6ec835e.0d184","c1057865.08bdc","53ab4920.f05148"],"x":35,"y":200,"wires":[["3d6eb4ef.ba5be4","4b1acc34.e5c0e4"]]},{"id":"675cebfe.6360f4","type":"link out","z":"9bb2ea23.9ebc6","name":"","links":["ecd19b0b.d5a808"],"x":295,"y":100,"wires":[]},{"id":"63456cc1.c1796c","type":"comment","z":"28e2850d.c5e902","name":"notification_lights_restore","info":"","x":130,"y":300,"wires":[]},{"id":"a01d75a0.092bc","type":"api-call-service","z":"28e2850d.c5e902","name":"garage entry: OFF","server":"e2ec910d.ac4e7","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.garage_entry_light\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":170,"y":340,"wires":[[]]},{"id":"164ddf03.4cd101","type":"function","z":"28e2850d.c5e902","name":"get_state","func":"msg.payload = flow.get(\"family_room_table_lamp_state\");\nreturn msg;","outputs":1,"noerr":0,"x":140,"y":380,"wires":[["6ea7a0d6.19c7e"]]},{"id":"d1ab2e34.46d428","type":"api-call-service","z":"28e2850d.c5e902","name":"restore brightness","server":"e2ec910d.ac4e7","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.family_room_table_lamp\",\"brightness\":\"{{payload.brightness}}\"}","render_data":true,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":410,"y":360,"wires":[[]]},{"id":"6ea7a0d6.19c7e","type":"switch","z":"28e2850d.c5e902","name":"","property":"payload.state","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":true,"outputs":2,"x":250,"y":380,"wires":[["d1ab2e34.46d428"],["13afea8d.0155f5"]]},{"id":"13afea8d.0155f5","type":"api-call-service","z":"28e2850d.c5e902","name":"restore off state","server":"e2ec910d.ac4e7","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.family_room_table_lamp\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":400,"y":400,"wires":[[]]},{"id":"386aade4.635892","type":"link in","z":"28e2850d.c5e902","name":"notification_lights_restore","links":["39e41339.940704","5a896dce.eeaa74","af55db8b.f5fa9","27e9f648.b2360a"],"x":35,"y":360,"wires":[["a01d75a0.092bc","164ddf03.4cd101"]]},{"id":"5a896dce.eeaa74","type":"link out","z":"9bb2ea23.9ebc6","name":"","links":["386aade4.635892"],"x":175,"y":300,"wires":[]},{"id":"cc1b9041.be3d2","type":"comment","z":"9bb2ea23.9ebc6","name":"notification_lights","info":"","x":400,"y":100,"wires":[]},{"id":"7b7a460b.0ec4f","type":"comment","z":"9bb2ea23.9ebc6","name":"notification_lights_restore","info":"","x":310,"y":300,"wires":[]},{"id":"61c19e71.a381d8","type":"comment","z":"9bb2ea23.9ebc6","name":"notification_lights_restore","info":"","x":790,"y":460,"wires":[]},{"id":"3ce60653.9d875a","type":"comment","z":"84981495.71c2a","name":"notification_lights","info":"","x":400,"y":80,"wires":[]},{"id":"66172e9.16f37d","type":"comment","z":"84981495.71c2a","name":"notification_lights","info":"","x":400,"y":300,"wires":[]},{"id":"d81f486.3a02b38","type":"comment","z":"84981495.71c2a","name":"notification_lights_restore","info":"","x":530,"y":360,"wires":[]},{"id":"27e9f648.b2360a","type":"link out","z":"84981495.71c2a","name":"","links":["386aade4.635892"],"x":395,"y":360,"wires":[]},{"id":"88801e10.43174","type":"light-scheduler","z":"fa86ebeb.628fb8","settings":"e3a152c5.b7ed98","events":"[{\"start\":{\"dow\":1,\"mod\":420},\"end\":{\"dow\":1,\"mod\":435}},{\"start\":{\"dow\":2,\"mod\":420},\"end\":{\"dow\":2,\"mod\":435}},{\"start\":{\"dow\":3,\"mod\":420},\"end\":{\"dow\":3,\"mod\":435}},{\"start\":{\"dow\":4,\"mod\":420},\"end\":{\"dow\":4,\"mod\":435}},{\"start\":{\"dow\":5,\"mod\":420},\"end\":{\"dow\":5,\"mod\":435}}]","topic":"","name":"Weekdays @ 7:00","onPayload":"ON","onPayloadType":"str","offPayload":"OFF","offPayloadType":"str","onlyWhenDark":false,"sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange","x":110,"y":80,"wires":[["abc36cd0.bc5cd"]]},{"id":"994f2383.845b2","type":"comment","z":"fa86ebeb.628fb8","name":"School","info":"","x":70,"y":40,"wires":[]},{"id":"1a90495e.ce8987","type":"api-call-service","z":"fa86ebeb.628fb8","name":"Announce","server":"e2ec910d.ac4e7","service_domain":"script","service":"notify_speech","data":"{\"message\":\"It's almost time to leave for school. ... Please brush your hair ... and pack your bags.\",\"media_player\":\"media_player.living_room, media_player.family_room\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":500,"y":80,"wires":[[]]},{"id":"abc36cd0.bc5cd","type":"switch","z":"fa86ebeb.628fb8","name":"Warn","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":80,"wires":[["f48ab624.959218","2fd467b5.fa022","a603c03c.ed01a"]]},{"id":"f48ab624.959218","type":"delay","z":"fa86ebeb.628fb8","name":"10s","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":390,"y":80,"wires":[["1a90495e.ce8987"]]},{"id":"2fd467b5.fa022","type":"api-call-service","z":"fa86ebeb.628fb8","name":"logbook","server":"e2ec910d.ac4e7","service_domain":"logbook","service":"log","data":"{\"name\":\"Node-RED > Event Reminders\",\"message\":\"School\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":400,"y":120,"wires":[[]]},{"id":"a603c03c.ed01a","type":"link out","z":"fa86ebeb.628fb8","name":"","links":["ecd19b0b.d5a808"],"x":355,"y":40,"wires":[]},{"id":"51a9d969.58d498","type":"comment","z":"fa86ebeb.628fb8","name":"notification_lights","info":"","x":460,"y":40,"wires":[]},{"id":"d64e812c.682658","type":"light-scheduler","z":"fa86ebeb.628fb8","settings":"e3a152c5.b7ed98","events":"[{\"start\":{\"dow\":1,\"mod\":435},\"end\":{\"dow\":1,\"mod\":450}},{\"start\":{\"dow\":2,\"mod\":435},\"end\":{\"dow\":2,\"mod\":450}},{\"start\":{\"dow\":3,\"mod\":435},\"end\":{\"dow\":3,\"mod\":450}},{\"start\":{\"dow\":4,\"mod\":435},\"end\":{\"dow\":4,\"mod\":450}},{\"start\":{\"dow\":5,\"mod\":435},\"end\":{\"dow\":5,\"mod\":450}}]","topic":"","name":"Weekdays @ 7:15","onPayload":"ON","onPayloadType":"str","offPayload":"OFF","offPayloadType":"str","onlyWhenDark":false,"sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange","x":110,"y":200,"wires":[["a4127e97.d25ea8"]]},{"id":"6fb033a.0fd61cc","type":"api-call-service","z":"fa86ebeb.628fb8","name":"Announce","server":"e2ec910d.ac4e7","service_domain":"script","service":"notify_speech","data":"{\"message\":\"It is time to get in the car. ... Grab your things and go.\",\"media_player\":\"media_player.living_room, media_player.family_room\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":500,"y":200,"wires":[["7380ee25.07cea"]]},{"id":"a4127e97.d25ea8","type":"switch","z":"fa86ebeb.628fb8","name":"Warn","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":200,"wires":[["b789fe40.09bc7","ddc9803e.f0744","87760c43.8515e"]]},{"id":"b789fe40.09bc7","type":"delay","z":"fa86ebeb.628fb8","name":"10s","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":390,"y":200,"wires":[["6fb033a.0fd61cc"]]},{"id":"ddc9803e.f0744","type":"api-call-service","z":"fa86ebeb.628fb8","name":"logbook","server":"e2ec910d.ac4e7","service_domain":"logbook","service":"log","data":"{\"name\":\"Node-RED > Event Reminders\",\"message\":\"School\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":400,"y":240,"wires":[[]]},{"id":"87760c43.8515e","type":"link out","z":"fa86ebeb.628fb8","name":"","links":["ecd19b0b.d5a808"],"x":355,"y":160,"wires":[]},{"id":"cb5c10c9.fd80d","type":"comment","z":"fa86ebeb.628fb8","name":"notification_lights","info":"","x":460,"y":160,"wires":[]},{"id":"7380ee25.07cea","type":"delay","z":"fa86ebeb.628fb8","name":"10s","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":630,"y":200,"wires":[["1e696398.2df0f4"]]},{"id":"1e696398.2df0f4","type":"api-call-service","z":"fa86ebeb.628fb8","name":"Goodbye","server":"e2ec910d.ac4e7","service_domain":"script","service":"goodbye_routine","data":"","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":740,"y":200,"wires":[[]]},{"id":"8aae9db1.edd1b8","type":"light-scheduler","z":"fa86ebeb.628fb8","settings":"e3a152c5.b7ed98","events":"[{\"start\":{\"dow\":2,\"mod\":900},\"end\":{\"dow\":2,\"mod\":915}}]","topic":"","name":"Tue @ 3:00","onPayload":"ON","onPayloadType":"str","offPayload":"OFF","offPayloadType":"str","onlyWhenDark":false,"sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange","x":90,"y":340,"wires":[["c58b92.62a7147"]]},{"id":"431dffb6.f0b138","type":"comment","z":"fa86ebeb.628fb8","name":"Art","info":"","x":70,"y":300,"wires":[]},{"id":"9e8db3c5.ae015","type":"api-call-service","z":"fa86ebeb.628fb8","name":"Announce","server":"e2ec910d.ac4e7","service_domain":"script","service":"notify_speech","data":"{\"message\":\"Kyle, ... it's almost time to leave for art. ... Please start wrapping up.\",\"media_player\":\"media_player.living_room, media_player.family_room\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":500,"y":340,"wires":[[]]},{"id":"c58b92.62a7147","type":"switch","z":"fa86ebeb.628fb8","name":"Warn","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":340,"wires":[["451bf247.0a92ac","4b653d2f.27599c","1fdd9fb4.863268"]]},{"id":"451bf247.0a92ac","type":"delay","z":"fa86ebeb.628fb8","name":"10s","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":390,"y":340,"wires":[["9e8db3c5.ae015"]]},{"id":"4b653d2f.27599c","type":"api-call-service","z":"fa86ebeb.628fb8","name":"logbook","server":"e2ec910d.ac4e7","service_domain":"logbook","service":"log","data":"{\"name\":\"Node-RED > Event Reminders\",\"message\":\"Art\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":400,"y":380,"wires":[[]]},{"id":"1fdd9fb4.863268","type":"link out","z":"fa86ebeb.628fb8","name":"","links":["ecd19b0b.d5a808"],"x":355,"y":300,"wires":[]},{"id":"3e6b54ca.8e5bb4","type":"comment","z":"fa86ebeb.628fb8","name":"notification_lights","info":"","x":460,"y":300,"wires":[]},{"id":"c6c6db78.6e9878","type":"light-scheduler","z":"fa86ebeb.628fb8","settings":"e3a152c5.b7ed98","events":"[{\"start\":{\"dow\":2,\"mod\":915},\"end\":{\"dow\":2,\"mod\":930}}]","topic":"","name":"Tue @ 3:15","onPayload":"ON","onPayloadType":"str","offPayload":"OFF","offPayloadType":"str","onlyWhenDark":false,"sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange","x":90,"y":460,"wires":[["916bbd0c.05f568"]]},{"id":"1d16d8cd.b9fe67","type":"api-call-service","z":"fa86ebeb.628fb8","name":"Announce","server":"e2ec910d.ac4e7","service_domain":"script","service":"notify_speech","data":"{\"message\":\"Kyle ... it is time to get in the car. Let's go.\",\"media_player\":\"media_player.living_room, media_player.family_room\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":500,"y":460,"wires":[[]]},{"id":"916bbd0c.05f568","type":"switch","z":"fa86ebeb.628fb8","name":"Warn","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":460,"wires":[["cd8f916d.46755","bce21818.898eb","a6ec835e.0d184"]]},{"id":"cd8f916d.46755","type":"delay","z":"fa86ebeb.628fb8","name":"10s","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":390,"y":460,"wires":[["1d16d8cd.b9fe67"]]},{"id":"bce21818.898eb","type":"api-call-service","z":"fa86ebeb.628fb8","name":"logbook","server":"e2ec910d.ac4e7","service_domain":"logbook","service":"log","data":"{\"name\":\"Node-RED > Event Reminders\",\"message\":\"Art\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":400,"y":500,"wires":[[]]},{"id":"a6ec835e.0d184","type":"link out","z":"fa86ebeb.628fb8","name":"","links":["ecd19b0b.d5a808"],"x":355,"y":420,"wires":[]},{"id":"1782ef17.727091","type":"comment","z":"fa86ebeb.628fb8","name":"notification_lights","info":"","x":460,"y":420,"wires":[]},{"id":"fffc939c.975c88","type":"light-scheduler","z":"fa86ebeb.628fb8","settings":"e3a152c5.b7ed98","events":"[{\"start\":{\"dow\":1,\"mod\":465},\"end\":{\"dow\":1,\"mod\":480}},{\"start\":{\"dow\":3,\"mod\":885},\"end\":{\"dow\":3,\"mod\":900}}]","topic":"","name":"Wed @ 2:45","onPayload":"ON","onPayloadType":"str","offPayload":"OFF","offPayloadType":"str","onlyWhenDark":false,"sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange","x":90,"y":600,"wires":[["e1635de7.2dd18"]]},{"id":"bbd74aa6.372658","type":"comment","z":"fa86ebeb.628fb8","name":"Counseling","info":"","x":80,"y":560,"wires":[]},{"id":"2a38f37a.ad2e04","type":"api-call-service","z":"fa86ebeb.628fb8","name":"Announce","server":"e2ec910d.ac4e7","service_domain":"script","service":"notify_speech","data":"{\"message\":\"It's almost time to leave for counseling. ... Please start wrapping up what you are doing.\",\"media_player\":\"media_player.living_room, media_player.family_room\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":500,"y":600,"wires":[[]]},{"id":"e1635de7.2dd18","type":"switch","z":"fa86ebeb.628fb8","name":"Warn","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":600,"wires":[["7492291f.c9a49","a5c2265f.a6a6a","c1057865.08bdc"]]},{"id":"7492291f.c9a49","type":"delay","z":"fa86ebeb.628fb8","name":"10s","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":390,"y":600,"wires":[["2a38f37a.ad2e04"]]},{"id":"a5c2265f.a6a6a","type":"api-call-service","z":"fa86ebeb.628fb8","name":"logbook","server":"e2ec910d.ac4e7","service_domain":"logbook","service":"log","data":"{\"name\":\"Node-RED > Event Reminders\",\"message\":\"Counseling\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":400,"y":640,"wires":[[]]},{"id":"c1057865.08bdc","type":"link out","z":"fa86ebeb.628fb8","name":"","links":["ecd19b0b.d5a808"],"x":355,"y":560,"wires":[]},{"id":"6c918c48.58ada4","type":"comment","z":"fa86ebeb.628fb8","name":"notification_lights","info":"","x":460,"y":560,"wires":[]},{"id":"f81ec891.abe1a8","type":"light-scheduler","z":"fa86ebeb.628fb8","settings":"e3a152c5.b7ed98","events":"[{\"start\":{\"dow\":2,\"mod\":915},\"end\":{\"dow\":2,\"mod\":930}}]","topic":"","name":"Wed @ 3:00","onPayload":"ON","onPayloadType":"str","offPayload":"OFF","offPayloadType":"str","onlyWhenDark":false,"sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange","x":90,"y":740,"wires":[["786e4b73.4be2b4"]]},{"id":"39d1bf85.5ae6a","type":"api-call-service","z":"fa86ebeb.628fb8","name":"Announce","server":"e2ec910d.ac4e7","service_domain":"script","service":"notify_speech","data":"{\"message\":\"It is time to get in the car. Let's go.\",\"media_player\":\"media_player.living_room, media_player.family_room\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":500,"y":740,"wires":[["79bd9831.11aaa"]]},{"id":"786e4b73.4be2b4","type":"switch","z":"fa86ebeb.628fb8","name":"Warn","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":740,"wires":[["7b5ab6fe.e5be7","4fe60a01.a5e71c","53ab4920.f05148"]]},{"id":"7b5ab6fe.e5be7","type":"delay","z":"fa86ebeb.628fb8","name":"10s","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":390,"y":740,"wires":[["39d1bf85.5ae6a"]]},{"id":"4fe60a01.a5e71c","type":"api-call-service","z":"fa86ebeb.628fb8","name":"logbook","server":"e2ec910d.ac4e7","service_domain":"logbook","service":"log","data":"{\"name\":\"Node-RED > Event Reminders\",\"message\":\"Counseling\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":400,"y":780,"wires":[[]]},{"id":"53ab4920.f05148","type":"link out","z":"fa86ebeb.628fb8","name":"","links":["ecd19b0b.d5a808"],"x":355,"y":700,"wires":[]},{"id":"fcc61c6e.cbb598","type":"comment","z":"fa86ebeb.628fb8","name":"notification_lights","info":"","x":460,"y":700,"wires":[]},{"id":"79bd9831.11aaa","type":"delay","z":"fa86ebeb.628fb8","name":"10s","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":630,"y":740,"wires":[["c47346f9.3eec38"]]},{"id":"c47346f9.3eec38","type":"api-call-service","z":"fa86ebeb.628fb8","name":"Goodbye","server":"e2ec910d.ac4e7","service_domain":"script","service":"goodbye_routine","data":"","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":740,"y":740,"wires":[[]]}]