node-red/flows.json
[{"id":"754c564.7b83828","type":"tab","label":"Event Reminders","disabled":false,"info":""},{"id":"450e6ab5.73fe64","type":"tab","label":"Front Door","disabled":false,"info":""},{"id":"ca5c607e.6b2b18","type":"tab","label":"Garage Door","disabled":false,"info":""},{"id":"f6fd4470.cafc38","type":"tab","label":"Watch Dogs","disabled":false,"info":""},{"id":"1f7e758c.1055ea","type":"tab","label":"XPresence","disabled":false,"info":"Extended presence detection:\n\n* Just Arrived\n* Home\n* Just Left\n* Away\n* Extended Away\n\nBased on Phil Hawthorne's [Making Home Assistant’s Presence Detection not so Binary](https://philhawthorne.com/making-home-assistants-presence-detection-not-so-binary/)\nand Mauricio Bonani's [Node-RED version](https://bonani.tech/making-home-assistants-presence-detection-not-so-binary-node-red-version/)."},{"id":"a14a13fb.20e7d8","type":"tab","label":"functions","disabled":false,"info":""},{"id":"da29b66a.c6921","type":"tab","label":"x","disabled":false,"info":""},{"id":"6aa0e47a.29857c","type":"mqtt-broker","z":"","name":"Mosquitto","broker":"a0d7b954-mqtt","port":"1883","clientid":"node-red","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"nodered/status","birthQos":"0","birthRetain":"false","birthPayload":"online","closeTopic":"nodered/status","closeQos":"0","closeRetain":"false","closePayload":"disconnected","willTopic":"nodered/status","willQos":"0","willRetain":"false","willPayload":"offline"},{"id":"71cca0bd.6fe0a","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true},{"id":"70840d2c.2700ac","type":"light-scheduler-settings","z":"","name":"home","latitude":"32.854105","longitude":"-117.0051645"},{"id":"9d75b900.c4f26","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"34de6e23.40e69a","type":"inject","z":"da29b66a.c6921","name":">","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":340,"wires":[["ca8809c5.c63148"]]},{"id":"26fbc3ff.ce2d74","type":"function","z":"450e6ab5.73fe64","name":"set_state","func":"var state = {\n    'state': msg.payload,\n    'brightness': msg.data.attributes.brightness||0\n}\nflow.set(\"entry_light_state\",state);\nmsg.data = null\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":180,"wires":[["d56ee077.72a65"]]},{"id":"74e5190c.a3a1d","type":"function","z":"450e6ab5.73fe64","name":"entry light: old_state","func":"msg.payload = flow.get(\"entry_light_state\");\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":420,"wires":[["ff2d1e93.330348"]]},{"id":"ff2d1e93.330348","type":"switch","z":"450e6ab5.73fe64","name":"","property":"payload.state","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":true,"outputs":2,"x":390,"y":420,"wires":[["efd758b3.1a9b18"],["b7eb3298.b985a8"]]},{"id":"9b87404.80f3d4","type":"comment","z":"450e6ab5.73fe64","name":"Turn porch + entry lights to full brightness when unlocked.","info":"","x":230,"y":140,"wires":[]},{"id":"964404f4.6b395","type":"function","z":"450e6ab5.73fe64","name":"porch light: old_state","func":"msg.payload = flow.get(\"porch_light_state\");\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":500,"wires":[["8b7031f5.eb7288"]]},{"id":"8b7031f5.eb7288","type":"switch","z":"450e6ab5.73fe64","name":"","property":"payload.state","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":true,"outputs":2,"x":390,"y":500,"wires":[["f91ebc0c.726e1"],["6a4e3836.fff1e8"]]},{"id":"e0f5717e.4c6ee","type":"function","z":"450e6ab5.73fe64","name":"set_state","func":"var rgb = msg.data.attributes.rgb_color||\"\"\nvar state = {\n    'state': msg.payload, \n    'brightness': msg.data.attributes.brightness||0,\n    'color_temp': msg.data.attributes.color_temp||\"\",\n    'rgb_color': rgb.toString()\n}\nflow.set(\"porch_light_state\",state);\n\nmsg.payload = state\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":240,"wires":[["fd6008a8.b29698"]]},{"id":"205b4ae3.02aab6","type":"comment","z":"ca5c607e.6b2b18","name":"Turn garage door notificaiton lights on when it opens.","info":"","x":220,"y":20,"wires":[]},{"id":"1071a5.8c709e5b","type":"comment","z":"450e6ab5.73fe64","name":"Restore the porch + entry lights to their previous states.","info":"","x":220,"y":380,"wires":[]},{"id":"df8a9ce5.1ec16","type":"inject","z":"ca5c607e.6b2b18","name":"5m","topic":"","payload":"true","payloadType":"bool","repeat":"300","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":380,"wires":[["fe3f6676.83f7d"]]},{"id":"7de72f13.1b095","type":"comment","z":"ca5c607e.6b2b18","name":"Restore the garage notification lights to their previous states.","info":"","x":240,"y":180,"wires":[]},{"id":"c68d075.1c68f78","type":"link out","z":"ca5c607e.6b2b18","name":"","links":["f7563356.ef229"],"x":655,"y":360,"wires":[]},{"id":"6023431.e9f7f3c","type":"debug","z":"da29b66a.c6921","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":360,"wires":[]},{"id":"3e559c98.244a24","type":"debug","z":"da29b66a.c6921","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":310,"y":660,"wires":[]},{"id":"3def1843.de0268","type":"mqtt in","z":"da29b66a.c6921","name":"","topic":"speech/last_message","qos":"2","broker":"6aa0e47a.29857c","x":120,"y":660,"wires":[["3e559c98.244a24"]]},{"id":"4b78e8da.64ba68","type":"debug","z":"da29b66a.c6921","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":490,"y":740,"wires":[]},{"id":"45211d6f.92612c","type":"inject","z":"da29b66a.c6921","name":">","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":740,"wires":[["53904ad5.e90fbc"]]},{"id":"6af78adb.ea63fc","type":"switch","z":"ca5c607e.6b2b18","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":true,"outputs":2,"x":410,"y":380,"wires":[["f59068df.e1b4e","f66baed.feca35"],[]]},{"id":"8700c95e.69cec","type":"link out","z":"ca5c607e.6b2b18","name":"","links":["8f1fda29.143998","c6f7fd73.d9dee"],"x":715,"y":80,"wires":[]},{"id":"7d215503.c3568c","type":"inject","z":"ca5c607e.6b2b18","name":"Test Garage OPEN","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":570,"y":80,"wires":[["8700c95e.69cec"]]},{"id":"45e89160.faee58","type":"link out","z":"ca5c607e.6b2b18","name":"","links":["f7563356.ef229"],"x":715,"y":120,"wires":[]},{"id":"33675c80.8bb244","type":"inject","z":"ca5c607e.6b2b18","name":"Test Garage CLOSED","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":580,"y":120,"wires":[["45e89160.faee58","58a8e0b1.36d0f"]]},{"id":"dc672aa5.6b1d1","type":"link in","z":"a14a13fb.20e7d8","name":"flash_lights","links":["be0f5016.b9e248","4ebf5b85.7e8b9c","d9d27a65.b5833","b0acf8b8.87e5f","8688db4a.98e478","b2f5300d.e5abe","c64ec2f0.977b5"],"x":35,"y":60,"wires":[["1b3d5990.34cde6"]]},{"id":"83fc7716.83fdc","type":"delay","z":"a14a13fb.20e7d8","name":"1s","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":330,"y":60,"wires":[["29abbeeb.066392"]]},{"id":"98889258.bc24c","type":"delay","z":"a14a13fb.20e7d8","name":"1s","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":530,"y":60,"wires":[["3cb3ccfe.66fa1c"]]},{"id":"a9b91064.7ab3b8","type":"comment","z":"a14a13fb.20e7d8","name":"flash_lights","info":"","x":80,"y":20,"wires":[]},{"id":"24801f3e.31b7b8","type":"comment","z":"a14a13fb.20e7d8","name":"notification_lights","info":"","x":100,"y":320,"wires":[]},{"id":"8c6f2669.ca7e6","type":"function","z":"a14a13fb.20e7d8","name":"set_curr_state","func":"var rgb = msg.data.attributes.rgb_color||\"\"\nvar state = {\n    'state': msg.payload, \n    'brightness': msg.data.attributes.brightness||0,\n    'color_temp': msg.data.attributes.color_temp||\"\",\n    'rgb_color': rgb.toString()\n}\nflow.set(\"dining_room_state\",state);\n\nmsg.payload = state\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":460,"wires":[["9dac1df2.0f11a"]]},{"id":"8688db4a.98e478","type":"link out","z":"a14a13fb.20e7d8","name":"","links":["dc672aa5.6b1d1"],"x":695,"y":460,"wires":[]},{"id":"b2f5300d.e5abe","type":"link out","z":"a14a13fb.20e7d8","name":"","links":["dc672aa5.6b1d1"],"x":495,"y":360,"wires":[]},{"id":"8f1fda29.143998","type":"link in","z":"a14a13fb.20e7d8","name":"notification_lights","links":["d4b696cd.ee40c","8700c95e.69cec","c7477549.b13398","759647b.d226bb8","5898afa4.9c9f3","61b4602f.3055","1200fcb3.1714cb","5dc4c79c.fc5c1","fd1778d.2525a88","53bec38a.05aa54","98600f40.c202f","146331e7.f474a6","270466e5.778baa","f0a8155e.8dae78","bc522b6f.e7fd88","54660064.0c351"],"x":35,"y":380,"wires":[["54a2d423.65546c","f58feb99.ba1ca8"]]},{"id":"d4b696cd.ee40c","type":"link out","z":"ca5c607e.6b2b18","name":"","links":["8f1fda29.143998","c6f7fd73.d9dee"],"x":155,"y":120,"wires":[]},{"id":"1e7d23cc.444c1c","type":"comment","z":"a14a13fb.20e7d8","name":"notification_lights_restore","info":"","x":130,"y":520,"wires":[]},{"id":"5d38e19d.da4b7","type":"function","z":"a14a13fb.20e7d8","name":"get_prev_state","func":"msg.payload = flow.get(\"dining_room_state\");\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":740,"wires":[["24a095f4.c19b6a"]]},{"id":"24a095f4.c19b6a","type":"switch","z":"a14a13fb.20e7d8","name":"","property":"payload.state","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":true,"outputs":2,"x":310,"y":740,"wires":[["1ec10f5c.717259"],["2fc382a4.075146"]]},{"id":"f7563356.ef229","type":"link in","z":"a14a13fb.20e7d8","name":"notification_lights_restore","links":["c68d075.1c68f78","c7bab392.8a157","45e89160.faee58","843043a9.581cc","315f1430.bfbdcc"],"x":35,"y":580,"wires":[["17489a33.40c76e","d56981dc.b2559"]]},{"id":"c7bab392.8a157","type":"link out","z":"ca5c607e.6b2b18","name":"","links":["f7563356.ef229"],"x":275,"y":220,"wires":[]},{"id":"c535e63.77b2318","type":"comment","z":"ca5c607e.6b2b18","name":"notification_lights","info":"","x":270,"y":120,"wires":[]},{"id":"5eef6c3.80fd294","type":"comment","z":"ca5c607e.6b2b18","name":"notification_lights_restore","info":"","x":410,"y":220,"wires":[]},{"id":"ccf338cd.045f18","type":"comment","z":"ca5c607e.6b2b18","name":"notification_lights_restore","info":"","x":790,"y":360,"wires":[]},{"id":"bedaa953.86b0c","type":"comment","z":"754c564.7b83828","name":"School","info":"","x":70,"y":160,"wires":[]},{"id":"f6bdcc9a.b82948","type":"switch","z":"754c564.7b83828","name":"warn","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":200,"wires":[["5898afa4.9c9f3","aaa53789.dbaea8","3f0cbd40.1f4fa2"]]},{"id":"aaa53789.dbaea8","type":"delay","z":"754c564.7b83828","name":"10s","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":550,"y":200,"wires":[["1c195dd.256f3a2"]]},{"id":"5898afa4.9c9f3","type":"link out","z":"754c564.7b83828","name":"","links":["8f1fda29.143998","c6f7fd73.d9dee"],"x":515,"y":160,"wires":[]},{"id":"f32cfa02.47e04","type":"comment","z":"754c564.7b83828","name":"notification_lights","info":"","x":620,"y":160,"wires":[]},{"id":"c96df73a.4e8d48","type":"switch","z":"754c564.7b83828","name":"warn","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":320,"wires":[["61b4602f.3055","4ac48397.09f92c","ae53fcca.5960d"]]},{"id":"4ac48397.09f92c","type":"delay","z":"754c564.7b83828","name":"10s","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":550,"y":320,"wires":[["342ae7e2.f1247"]]},{"id":"61b4602f.3055","type":"link out","z":"754c564.7b83828","name":"","links":["8f1fda29.143998","c6f7fd73.d9dee"],"x":515,"y":280,"wires":[]},{"id":"4a83e75.42c4d18","type":"comment","z":"754c564.7b83828","name":"notification_lights","info":"","x":620,"y":280,"wires":[]},{"id":"1d3a99f4.3c1a06","type":"delay","z":"754c564.7b83828","name":"10s","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":790,"y":320,"wires":[["6a86b056.e316a8"]]},{"id":"cef7c005.d546c","type":"comment","z":"754c564.7b83828","name":"Art","info":"","x":70,"y":560,"wires":[]},{"id":"c864b41d.98e718","type":"switch","z":"754c564.7b83828","name":"warn","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":600,"wires":[["eb9b0206.ec8e68","d64e41c.876bb4","1200fcb3.1714cb"]]},{"id":"eb9b0206.ec8e68","type":"delay","z":"754c564.7b83828","name":"10s","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":390,"y":600,"wires":[["61f8d35f.50f2ac"]]},{"id":"1200fcb3.1714cb","type":"link out","z":"754c564.7b83828","name":"","links":["8f1fda29.143998","c6f7fd73.d9dee"],"x":355,"y":560,"wires":[]},{"id":"243e3d67.26caea","type":"comment","z":"754c564.7b83828","name":"notification_lights","info":"","x":460,"y":560,"wires":[]},{"id":"8c828c31.c024e","type":"switch","z":"754c564.7b83828","name":"warn","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":720,"wires":[["7bfd24ee.c1618c","2ca5381.1732bc8","5dc4c79c.fc5c1"]]},{"id":"7bfd24ee.c1618c","type":"delay","z":"754c564.7b83828","name":"10s","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":390,"y":720,"wires":[["fb220d5f.6d6eb"]]},{"id":"5dc4c79c.fc5c1","type":"link out","z":"754c564.7b83828","name":"","links":["8f1fda29.143998","c6f7fd73.d9dee"],"x":355,"y":680,"wires":[]},{"id":"6a2e1a34.4a0fe4","type":"comment","z":"754c564.7b83828","name":"notification_lights","info":"","x":460,"y":680,"wires":[]},{"id":"8c3c0880.b4525","type":"comment","z":"754c564.7b83828","name":"Counseling","info":"","x":80,"y":820,"wires":[]},{"id":"4adf6584.3bd4d4","type":"switch","z":"754c564.7b83828","name":"warn","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":860,"wires":[["7f116965.8e9198","1055b4f3.5f87db","fd1778d.2525a88"]]},{"id":"7f116965.8e9198","type":"delay","z":"754c564.7b83828","name":"10s","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":390,"y":860,"wires":[["d3710798.53a65"]]},{"id":"fd1778d.2525a88","type":"link out","z":"754c564.7b83828","name":"","links":["8f1fda29.143998","c6f7fd73.d9dee"],"x":355,"y":820,"wires":[]},{"id":"dd21d269.320398","type":"comment","z":"754c564.7b83828","name":"notification_lights","info":"","x":460,"y":820,"wires":[]},{"id":"14e66f25.06c2c9","type":"switch","z":"754c564.7b83828","name":"warn","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":980,"wires":[["21e7f0c7.92487","ffc905d1.347b4","53bec38a.05aa54"]]},{"id":"21e7f0c7.92487","type":"delay","z":"754c564.7b83828","name":"10s","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":390,"y":980,"wires":[["784e6f23.1308e8"]]},{"id":"53bec38a.05aa54","type":"link out","z":"754c564.7b83828","name":"","links":["8f1fda29.143998","c6f7fd73.d9dee"],"x":355,"y":940,"wires":[]},{"id":"54b22ea7.1c759","type":"comment","z":"754c564.7b83828","name":"notification_lights","info":"","x":460,"y":940,"wires":[]},{"id":"fac0ae5c.057ce","type":"delay","z":"754c564.7b83828","name":"10s","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":630,"y":980,"wires":[["baea09c3.32077"]]},{"id":"ecc9572b.40b54","type":"delay","z":"ca5c607e.6b2b18","name":"5s","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":190,"y":260,"wires":[["c7bab392.8a157","bfa887ff.983ae","58a8e0b1.36d0f"]]},{"id":"dca570f8.9590f8","type":"comment","z":"ca5c607e.6b2b18","name":"notification_lights","info":"","x":830,"y":80,"wires":[]},{"id":"59483621.11b0f8","type":"comment","z":"ca5c607e.6b2b18","name":"notification_lights_restore","info":"","x":850,"y":120,"wires":[]},{"id":"8d2807e.d2bff78","type":"function","z":"a14a13fb.20e7d8","name":"clear_state","func":"var rgb = msg.data.attributes.rgb_color||\"\"\nvar state = {\n    'state': \"off\", \n    'brightness': \"0\",\n    'color_temp': \"\",\n    'rgb_color': \"\"\n}\nflow.set(\"dining_room_state\",state);\n\nmsg.payload = state\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":740,"wires":[[]]},{"id":"be39d7dd.494038","type":"function","z":"450e6ab5.73fe64","name":"clear_state","func":"var rgb = msg.data.attributes.rgb_color||\"\"\nvar state = {\n    'state': \"off\", \n    'brightness': \"0\",\n    'color_temp': \"\",\n    'rgb_color': \"\"\n}\nflow.set(\"entry_light_state\",state);\n\nmsg.payload = state\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":420,"wires":[[]]},{"id":"8b27bef1.58ea","type":"function","z":"450e6ab5.73fe64","name":"clear_state","func":"var rgb = msg.data.attributes.rgb_color||\"\"\nvar state = {\n    'state': \"off\", \n    'brightness': \"0\",\n    'color_temp': \"\",\n    'rgb_color': \"\"\n}\nflow.set(\"porch_light_state\",state);\n\nmsg.payload = state\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":500,"wires":[[]]},{"id":"be213986.1cad","type":"inject","z":"da29b66a.c6921","name":">","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":400,"wires":[["4eb652b2.514f14"]]},{"id":"ac367463.e8c26","type":"switch","z":"da29b66a.c6921","name":"not light.3a*","property":"payload.entity_id","propertyType":"msg","rules":[{"t":"cont","v":"light.3a","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":400,"wires":[[],["2ef73736.1d556"]]},{"id":"2ef73736.1d556","type":"join","z":"da29b66a.c6921","name":"","mode":"auto","build":"array","property":"payload.entity_id","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":510,"y":400,"wires":[["24c667d5.effd48","a4b9f7c4.475b3"]]},{"id":"96543586.5cc738","type":"switch","z":"a14a13fb.20e7d8","name":"exclude light.3a*","property":"payload.entity_id","propertyType":"msg","rules":[{"t":"cont","v":"light.3a","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":320,"y":260,"wires":[[],["1d100a3d.150806"]]},{"id":"1d100a3d.150806","type":"join","z":"a14a13fb.20e7d8","name":"","mode":"auto","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":470,"y":260,"wires":[["97c86e98.30de28"]]},{"id":"c6f7fd73.d9dee","type":"link in","z":"a14a13fb.20e7d8","name":"lights_on","links":["1200fcb3.1714cb","53bec38a.05aa54","d4b696cd.ee40c","c7477549.b13398","61b4602f.3055","759647b.d226bb8","8700c95e.69cec","5898afa4.9c9f3","5dc4c79c.fc5c1","fd1778d.2525a88","1c785aa4.b578d5","98600f40.c202f","146331e7.f474a6","270466e5.778baa","f0a8155e.8dae78","bc522b6f.e7fd88","54660064.0c351"],"x":35,"y":180,"wires":[["6b718b2d.610504"]]},{"id":"19133fbe.0c9b08","type":"comment","z":"a14a13fb.20e7d8","name":"lights_on","info":"","x":80,"y":140,"wires":[]},{"id":"97c86e98.30de28","type":"function","z":"a14a13fb.20e7d8","name":"set_global.lights_on","func":"global.set(\"lights_on\",msg);\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":260,"wires":[[]]},{"id":"7576a9c0.14ad48","type":"inject","z":"da29b66a.c6921","name":">","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":520,"wires":[["1c785aa4.b578d5","bbc4f7e1.58001"]]},{"id":"72b53231.7e102c","type":"debug","z":"da29b66a.c6921","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":470,"y":520,"wires":[]},{"id":"1c785aa4.b578d5","type":"link out","z":"da29b66a.c6921","name":"","links":["c6f7fd73.d9dee"],"x":175,"y":500,"wires":[]},{"id":"8abbc0ff.14768","type":"function","z":"da29b66a.c6921","name":"get_lights_on","func":"msg = global.get(\"lights_on\");\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":540,"wires":[["cf7d4f8f.53a558","72b53231.7e102c"]]},{"id":"99106076.8ae068","type":"comment","z":"da29b66a.c6921","name":"lights_on","info":"","x":260,"y":500,"wires":[]},{"id":"bbc4f7e1.58001","type":"delay","z":"da29b66a.c6921","name":"1s","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":210,"y":540,"wires":[["8abbc0ff.14768"]]},{"id":"cf7d4f8f.53a558","type":"function","z":"da29b66a.c6921","name":"clear_state","func":"global.set(\"lights_on\",\"\");\nmsg = global.get(\"lights_on\");\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":560,"wires":[[]]},{"id":"dbbcfa3.d320c88","type":"function","z":"da29b66a.c6921","name":"get_lights_on","func":"msg = global.get(\"lights_on\");\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":600,"wires":[["7c60c820.6cf37"]]},{"id":"7c60c820.6cf37","type":"debug","z":"da29b66a.c6921","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":390,"y":600,"wires":[]},{"id":"9e25e76e.731bc","type":"inject","z":"da29b66a.c6921","name":">","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":600,"wires":[["dbbcfa3.d320c88"]]},{"id":"1b3d5990.34cde6","type":"delay","z":"a14a13fb.20e7d8","name":"1s","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":130,"y":60,"wires":[["493700ea.15c01"]]},{"id":"24c667d5.effd48","type":"debug","z":"da29b66a.c6921","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":630,"y":460,"wires":[]},{"id":"bf6954a7.00fae","type":"server-state-changed","z":"ca5c607e.6b2b18","name":"'open'","server":"71cca0bd.6fe0a","version":"1","entityidfilter":"cover.garage_door","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"open","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"output_only_on_state_change":false,"x":70,"y":100,"wires":[[],["50f0117a.626be","d4b696cd.ee40c"]]},{"id":"af3f1886.af36f8","type":"server-state-changed","z":"ca5c607e.6b2b18","name":"'closed'","server":"71cca0bd.6fe0a","version":"1","entityidfilter":"cover.garage_door","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"closed","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"output_only_on_state_change":false,"x":70,"y":260,"wires":[[],["ecc9572b.40b54"]]},{"id":"3e263fab.ea5108","type":"api-call-service","z":"da29b66a.c6921","name":"off","server":"71cca0bd.6fe0a","version":"1","service_domain":"light","service":"turn_off","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":570,"y":320,"wires":[[]]},{"id":"ca8809c5.c63148","type":"api-call-service","z":"da29b66a.c6921","name":"update: lights_on","server":"71cca0bd.6fe0a","version":"1","service_domain":"script","service":"turn_on","entityId":"script.lights_on_update","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":250,"y":340,"wires":[["cf52e137.624de8"]]},{"id":"d56ee077.72a65","type":"api-call-service","z":"450e6ab5.73fe64","name":"full brightness","server":"71cca0bd.6fe0a","version":"1","service_domain":"light","service":"turn_on","entityId":"light.entry_light","data":"{\"brightness\":\"255\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":600,"y":180,"wires":[[]]},{"id":"efd758b3.1a9b18","type":"api-call-service","z":"450e6ab5.73fe64","name":"restore brightness","server":"71cca0bd.6fe0a","version":"1","service_domain":"light","service":"turn_on","entityId":"light.entry_light","data":"{\"brightness\":\"{{payload.brightness}}\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":570,"y":400,"wires":[["be39d7dd.494038"]]},{"id":"b7eb3298.b985a8","type":"api-call-service","z":"450e6ab5.73fe64","name":"restore off state","server":"71cca0bd.6fe0a","version":"1","service_domain":"light","service":"turn_off","entityId":"light.entry_light","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":560,"y":440,"wires":[["be39d7dd.494038"]]},{"id":"fd6008a8.b29698","type":"api-call-service","z":"450e6ab5.73fe64","name":"full brightness","server":"71cca0bd.6fe0a","version":"1","service_domain":"light","service":"turn_on","entityId":"light.porch","data":"{\"brightness\":\"255\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":600,"y":240,"wires":[[]]},{"id":"f91ebc0c.726e1","type":"api-call-service","z":"450e6ab5.73fe64","name":"restore brightness","server":"71cca0bd.6fe0a","version":"1","service_domain":"light","service":"turn_on","entityId":"light.porch","data":"{\"brightness\":\"{{payload.brightness}}\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":570,"y":480,"wires":[["8b27bef1.58ea"]]},{"id":"6a4e3836.fff1e8","type":"api-call-service","z":"450e6ab5.73fe64","name":"restore off state","server":"71cca0bd.6fe0a","version":"1","service_domain":"light","service":"turn_off","entityId":"light.porch","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":560,"y":520,"wires":[["8b27bef1.58ea"]]},{"id":"112870f4.8e9d87","type":"api-call-service","z":"450e6ab5.73fe64","name":"logbook","server":"71cca0bd.6fe0a","version":"1","service_domain":"logbook","service":"log","entityId":"","data":"{\"name\":\"Node-RED > Front Door\",\"message\":\"Unlocked: entry lights at full brightness\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":240,"y":300,"wires":[[]]},{"id":"bb0e68f6.537748","type":"api-call-service","z":"450e6ab5.73fe64","name":"logbook","server":"71cca0bd.6fe0a","version":"1","service_domain":"logbook","service":"log","entityId":"","data":"{\"name\":\"Node-RED > Front Door\",\"message\":\"Locked: restore entry lights state\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":220,"y":560,"wires":[[]]},{"id":"bfa887ff.983ae","type":"api-call-service","z":"ca5c607e.6b2b18","name":"logbook","server":"71cca0bd.6fe0a","version":"1","service_domain":"logbook","service":"log","entityId":"","data":"{\"name\":\"Node-RED > Garage Door\",\"message\":\"Closed\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":320,"y":260,"wires":[[]]},{"id":"f66baed.feca35","type":"api-call-service","z":"ca5c607e.6b2b18","name":"logbook","server":"71cca0bd.6fe0a","version":"1","service_domain":"logbook","service":"log","entityId":"","data":"{\"name\":\"Node-RED > Garage Door\",\"message\":\"5 minute timeout\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":540,"y":400,"wires":[[]]},{"id":"50f0117a.626be","type":"api-call-service","z":"ca5c607e.6b2b18","name":"logbook","server":"71cca0bd.6fe0a","version":"1","service_domain":"logbook","service":"log","entityId":"","data":"{\"name\":\"Node-RED > Garage Door\",\"message\":\"Open\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":200,"y":80,"wires":[[]]},{"id":"58a8e0b1.36d0f","type":"api-call-service","z":"ca5c607e.6b2b18","name":"iOS Notification","server":"71cca0bd.6fe0a","version":"1","service_domain":"script","service":"notify_mobile","entityId":"","data":"{\"title\":\"CLOSED\",\"message\":\"The garage door is closed.\",\"who\":\"parents\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":340,"y":300,"wires":[[]]},{"id":"493700ea.15c01","type":"api-call-service","z":"a14a13fb.20e7d8","name":"flash","server":"71cca0bd.6fe0a","version":"1","service_domain":"light","service":"turn_on","entityId":"","data":"{\"flash\":\"short\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":230,"y":60,"wires":[["83fc7716.83fdc"]]},{"id":"29abbeeb.066392","type":"api-call-service","z":"a14a13fb.20e7d8","name":"flash","server":"71cca0bd.6fe0a","version":"1","service_domain":"light","service":"turn_on","entityId":"","data":"{\"flash\":\"short\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":430,"y":60,"wires":[["98889258.bc24c"]]},{"id":"3cb3ccfe.66fa1c","type":"api-call-service","z":"a14a13fb.20e7d8","name":"flash","server":"71cca0bd.6fe0a","version":"1","service_domain":"light","service":"turn_on","entityId":"","data":"{\"flash\":\"short\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":630,"y":60,"wires":[[]]},{"id":"54a2d423.65546c","type":"api-call-service","z":"a14a13fb.20e7d8","name":"garage entry light: color_loop, 75% brightness","server":"71cca0bd.6fe0a","version":1,"service_domain":"light","service":"turn_on","entityId":"light.garage_entry","data":"{\"brightness\":\"191\",\"effect\":\"colorloop\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":260,"y":360,"wires":[["b2f5300d.e5abe"]]},{"id":"9dac1df2.0f11a","type":"api-call-service","z":"a14a13fb.20e7d8","name":"25% brightness","server":"71cca0bd.6fe0a","version":1,"service_domain":"light","service":"turn_on","entityId":"light.dining3","data":"{\"brightness\":\"64\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":540,"y":460,"wires":[["8688db4a.98e478"]]},{"id":"17489a33.40c76e","type":"api-call-service","z":"a14a13fb.20e7d8","name":"garage entry: OFF","server":"71cca0bd.6fe0a","version":"1","service_domain":"light","service":"turn_off","entityId":"light.garage_entry","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":170,"y":560,"wires":[[]]},{"id":"1ec10f5c.717259","type":"api-call-service","z":"a14a13fb.20e7d8","name":"restore brightness","server":"71cca0bd.6fe0a","version":1,"service_domain":"light","service":"turn_on","entityId":"light.dining3","data":"{\"brightness\":\"{{payload.brightness}}\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":470,"y":720,"wires":[["8d2807e.d2bff78"]]},{"id":"2fc382a4.075146","type":"api-call-service","z":"a14a13fb.20e7d8","name":"restore off state","server":"71cca0bd.6fe0a","version":1,"service_domain":"light","service":"turn_off","entityId":"light.dining3","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":460,"y":760,"wires":[["8d2807e.d2bff78"]]},{"id":"1c195dd.256f3a2","type":"api-call-service","z":"754c564.7b83828","name":"Announce","server":"71cca0bd.6fe0a","version":"1","service_domain":"script","service":"notify_speech","entityId":"","data":"{\"message\":\"It's almost time to leave for school. ... Please brush your hair ... and pack your supplies in the car.\",\"media_player\":\"group.alexa_downstairs\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":660,"y":200,"wires":[[]]},{"id":"3f0cbd40.1f4fa2","type":"api-call-service","z":"754c564.7b83828","name":"logbook","server":"71cca0bd.6fe0a","version":"1","service_domain":"logbook","service":"log","entityId":"","data":"{\"name\":\"Node-RED > Event Reminders\",\"message\":\"School\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":560,"y":240,"wires":[[]]},{"id":"342ae7e2.f1247","type":"api-call-service","z":"754c564.7b83828","name":"Announce","server":"71cca0bd.6fe0a","version":"1","service_domain":"script","service":"notify_speech","entityId":"","data":"{\"message\":\"It is time to get in the car. ... Grab your things and go.\",\"media_player\":\"group.alexa_downstairs\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":660,"y":320,"wires":[["1d3a99f4.3c1a06"]]},{"id":"ae53fcca.5960d","type":"api-call-service","z":"754c564.7b83828","name":"logbook","server":"71cca0bd.6fe0a","version":"1","service_domain":"logbook","service":"log","entityId":"","data":"{\"name\":\"Node-RED > Event Reminders\",\"message\":\"School\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":560,"y":360,"wires":[[]]},{"id":"6a86b056.e316a8","type":"api-call-service","z":"754c564.7b83828","name":"Goodbye Routine","server":"71cca0bd.6fe0a","version":"1","service_domain":"script","service":"goodbye_routine","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":930,"y":320,"wires":[[]]},{"id":"61f8d35f.50f2ac","type":"api-call-service","z":"754c564.7b83828","name":"Announce","server":"71cca0bd.6fe0a","version":"1","service_domain":"script","service":"notify_speech","entityId":"","data":"{\"message\":\"Kyle, ... it's almost time to leave for art. ... Please start wrapping up.\",\"media_player\":\"group.alexa_downstairs\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":500,"y":600,"wires":[[]]},{"id":"d64e41c.876bb4","type":"api-call-service","z":"754c564.7b83828","name":"logbook","server":"71cca0bd.6fe0a","version":"1","service_domain":"logbook","service":"log","entityId":"","data":"{\"name\":\"Node-RED > Event Reminders\",\"message\":\"Art\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":400,"y":640,"wires":[[]]},{"id":"fb220d5f.6d6eb","type":"api-call-service","z":"754c564.7b83828","name":"Announce","server":"71cca0bd.6fe0a","version":"1","service_domain":"script","service":"notify_speech","entityId":"","data":"{\"message\":\"Kyle ... it is time to get in the car. Let's go.\",\"media_player\":\"group.alexa_downstairs\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":500,"y":720,"wires":[[]]},{"id":"2ca5381.1732bc8","type":"api-call-service","z":"754c564.7b83828","name":"logbook","server":"71cca0bd.6fe0a","version":"1","service_domain":"logbook","service":"log","entityId":"","data":"{\"name\":\"Node-RED > Event Reminders\",\"message\":\"Art\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":400,"y":760,"wires":[[]]},{"id":"d3710798.53a65","type":"api-call-service","z":"754c564.7b83828","name":"Announce","server":"71cca0bd.6fe0a","version":"1","service_domain":"script","service":"notify_speech","entityId":"","data":"{\"message\":\"It's almost time to leave for counseling. ... Please start wrapping up what you are doing.\",\"media_player\":\"group.alexa_downstairs\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":500,"y":860,"wires":[[]]},{"id":"1055b4f3.5f87db","type":"api-call-service","z":"754c564.7b83828","name":"logbook","server":"71cca0bd.6fe0a","version":"1","service_domain":"logbook","service":"log","entityId":"","data":"{\"name\":\"Node-RED > Event Reminders\",\"message\":\"Counseling\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":400,"y":900,"wires":[[]]},{"id":"784e6f23.1308e8","type":"api-call-service","z":"754c564.7b83828","name":"Announce","server":"71cca0bd.6fe0a","version":"1","service_domain":"script","service":"notify_speech","entityId":"","data":"{\"message\":\"It is time to get in the car. Let's go.\",\"media_player\":\"group.alexa_downstairs\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":500,"y":980,"wires":[["fac0ae5c.057ce"]]},{"id":"ffc905d1.347b4","type":"api-call-service","z":"754c564.7b83828","name":"logbook","server":"71cca0bd.6fe0a","version":"1","service_domain":"logbook","service":"log","entityId":"","data":"{\"name\":\"Node-RED > Event Reminders\",\"message\":\"Counseling\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":400,"y":1020,"wires":[[]]},{"id":"baea09c3.32077","type":"api-call-service","z":"754c564.7b83828","name":"Goodbye Routine","server":"71cca0bd.6fe0a","version":"1","service_domain":"script","service":"goodbye_routine","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":770,"y":980,"wires":[[]]},{"id":"a4b9f7c4.475b3","type":"api-call-service","z":"da29b66a.c6921","name":"off","server":"71cca0bd.6fe0a","version":"1","service_domain":"light","service":"turn_off","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":650,"y":400,"wires":[[]]},{"id":"c73f2d79.9ba418","type":"trigger-state","z":"450e6ab5.73fe64","name":"locked","server":"71cca0bd.6fe0a","entityid":"lock.front_door","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"zw84gf9o1do","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"unlocked"},{"id":"pive1wk276d","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"locked"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":70,"y":500,"wires":[["964404f4.6b395","74e5190c.a3a1d","bb0e68f6.537748"],[]]},{"id":"44a299e6.036eb","type":"trigger-state","z":"450e6ab5.73fe64","name":"unlocked","server":"71cca0bd.6fe0a","entityid":"lock.front_door","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"cfev1052maw","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"locked"},{"id":"01gmr6s7g0n2","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"unlocked"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":80,"y":240,"wires":[["1daad02c.93d5d8","ead9322c.47eb1","112870f4.8e9d87"],[]]},{"id":"cf52e137.624de8","type":"api-current-state","z":"da29b66a.c6921","name":"get: lights_on","server":"71cca0bd.6fe0a","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"variable.lights_on","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":420,"y":340,"wires":[["6023431.e9f7f3c","3e263fab.ea5108"]]},{"id":"1daad02c.93d5d8","type":"api-current-state","z":"450e6ab5.73fe64","name":"entry light: current_state","server":"71cca0bd.6fe0a","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"light.entry_light","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":290,"y":180,"wires":[["26fbc3ff.ce2d74"]]},{"id":"ead9322c.47eb1","type":"api-current-state","z":"450e6ab5.73fe64","name":"porch light: current_state","server":"71cca0bd.6fe0a","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"light.porch","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":290,"y":240,"wires":[["e0f5717e.4c6ee"]]},{"id":"f59068df.e1b4e","type":"api-current-state","z":"ca5c607e.6b2b18","name":"door closed?","server":"71cca0bd.6fe0a","version":"1","outputs":2,"halt_if":"closed","halt_if_type":"str","halt_if_compare":"is_not","override_topic":true,"entity_id":"cover.garage_door","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":550,"y":360,"wires":[[],["c68d075.1c68f78"]]},{"id":"fe3f6676.83f7d","type":"api-current-state","z":"ca5c607e.6b2b18","name":"garage entry on?","server":"71cca0bd.6fe0a","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"light.garage_entry","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":250,"y":380,"wires":[[],["6af78adb.ea63fc"]]},{"id":"53904ad5.e90fbc","type":"api-current-state","z":"da29b66a.c6921","name":"get: weather.home","server":"71cca0bd.6fe0a","version":"1","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"weather.home","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":250,"y":740,"wires":[["4b78e8da.64ba68"]]},{"id":"4ad5c71e.1acf5","type":"api-current-state","z":"a14a13fb.20e7d8","name":"dining room: current_state","server":"71cca0bd.6fe0a","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"light.dining3","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":200,"y":460,"wires":[["8c6f2669.ca7e6"]]},{"id":"4eb652b2.514f14","type":"ha-get-entities","z":"da29b66a.c6921","server":"71cca0bd.6fe0a","name":"get_lights_on","rules":[{"property":"state","logic":"is","value":"on","valueType":"str"},{"property":"entity_id","logic":"starts_with","value":"light.","valueType":"str"},{"property":"entity_id","logic":"is_not","value":"light.dummy","valueType":"str"},{"property":"entity_id","logic":"is_not","value":"light.entry","valueType":"str"},{"property":"entity_id","logic":"is_not","value":"light.hue","valueType":"str"},{"property":"entity_id","logic":"is_not","value":"light.living_room","valueType":"str"},{"property":"entity_id","logic":"does_not_include","value":"garage_entry","valueType":"str"},{"property":"entity_id","logic":"does_not_include","value":"gateway_light","valueType":"str"},{"property":"entity_id","logic":"does_not_include","value":"shoe_closet","valueType":"str"},{"property":"entity_id","logic":"does_not_include","value":"nightlight","valueType":"str"},{"property":"entity_id","logic":"does_not_include","value":"_group","valueType":"str"}],"output_type":"split","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":230,"y":400,"wires":[["ac367463.e8c26"]]},{"id":"d55a76bd.67c26","type":"ha-get-entities","z":"a14a13fb.20e7d8","server":"71cca0bd.6fe0a","name":"get_lights_on","rules":[{"property":"state","logic":"is","value":"on","valueType":"str"},{"property":"entity_id","logic":"starts_with","value":"light.","valueType":"str"},{"property":"entity_id","logic":"is_not","value":"light.dummy","valueType":"str"},{"property":"entity_id","logic":"is_not","value":"light.entry","valueType":"str"},{"property":"entity_id","logic":"is_not","value":"light.hue","valueType":"str"},{"property":"entity_id","logic":"is_not","value":"light.living_room","valueType":"str"},{"property":"entity_id","logic":"does_not_include","value":"garage_entry","valueType":"str"},{"property":"entity_id","logic":"does_not_include","value":"gateway_light","valueType":"str"},{"property":"entity_id","logic":"does_not_include","value":"network_closet","valueType":"str"},{"property":"entity_id","logic":"does_not_include","value":"nightlight","valueType":"str"},{"property":"entity_id","logic":"does_not_include","value":"_group","valueType":"str"}],"output_type":"split","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":170,"y":260,"wires":[["96543586.5cc738"]]},{"id":"fd03bd48.31be7","type":"light-scheduler","z":"754c564.7b83828","settings":"70840d2c.2700ac","events":"[{\"start\":{\"dow\":1,\"mod\":420},\"end\":{\"dow\":1,\"mod\":435}},{\"start\":{\"dow\":2,\"mod\":420},\"end\":{\"dow\":2,\"mod\":435}},{\"start\":{\"dow\":3,\"mod\":420},\"end\":{\"dow\":3,\"mod\":435}},{\"start\":{\"dow\":4,\"mod\":420},\"end\":{\"dow\":4,\"mod\":435}},{\"start\":{\"dow\":5,\"mod\":420},\"end\":{\"dow\":5,\"mod\":435}}]","topic":"","name":"M-F @ 7:00","onPayload":"ON","onPayloadType":"str","offPayload":"OFF","offPayloadType":"str","onlyWhenDark":false,"scheduleRndMax":"","sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange","x":90,"y":200,"wires":[["f6bdcc9a.b82948"]]},{"id":"6ace99c4.bb9f58","type":"light-scheduler","z":"754c564.7b83828","settings":"70840d2c.2700ac","events":"[{\"start\":{\"dow\":1,\"mod\":435},\"end\":{\"dow\":1,\"mod\":450}},{\"start\":{\"dow\":2,\"mod\":435},\"end\":{\"dow\":2,\"mod\":450}},{\"start\":{\"dow\":3,\"mod\":435},\"end\":{\"dow\":3,\"mod\":450}},{\"start\":{\"dow\":4,\"mod\":435},\"end\":{\"dow\":4,\"mod\":450}},{\"start\":{\"dow\":5,\"mod\":435},\"end\":{\"dow\":5,\"mod\":450}}]","topic":"","name":"M-F @ 7:15","onPayload":"ON","onPayloadType":"str","offPayload":"OFF","offPayloadType":"str","onlyWhenDark":false,"scheduleRndMax":"","sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange","x":90,"y":320,"wires":[["c96df73a.4e8d48"]]},{"id":"38440bfd.7b0934","type":"light-scheduler","z":"754c564.7b83828","settings":"70840d2c.2700ac","events":"[{\"start\":{\"dow\":2,\"mod\":900},\"end\":{\"dow\":2,\"mod\":915}}]","topic":"","name":"Tue @ 3:00","onPayload":"ON","onPayloadType":"str","offPayload":"OFF","offPayloadType":"str","onlyWhenDark":false,"scheduleRndMax":"","sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange","x":90,"y":600,"wires":[[]]},{"id":"c2d767a.571ad18","type":"light-scheduler","z":"754c564.7b83828","settings":"70840d2c.2700ac","events":"[{\"start\":{\"dow\":2,\"mod\":915},\"end\":{\"dow\":2,\"mod\":930}}]","topic":"","name":"Tue @ 3:15","onPayload":"ON","onPayloadType":"str","offPayload":"OFF","offPayloadType":"str","onlyWhenDark":false,"scheduleRndMax":"","sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange","x":90,"y":720,"wires":[[]]},{"id":"d418a8da.2c4b","type":"light-scheduler","z":"754c564.7b83828","settings":"70840d2c.2700ac","events":"[{\"start\":{\"dow\":3,\"mod\":945},\"end\":{\"dow\":3,\"mod\":960}}]","topic":"","name":"Wed @ 3:45 ","onPayload":"ON","onPayloadType":"str","offPayload":"OFF","offPayloadType":"str","onlyWhenDark":false,"scheduleRndMax":"","sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange","x":90,"y":860,"wires":[["4adf6584.3bd4d4"]]},{"id":"5423260a.3b7508","type":"light-scheduler","z":"754c564.7b83828","settings":"70840d2c.2700ac","events":"[{\"start\":{\"dow\":3,\"mod\":960},\"end\":{\"dow\":3,\"mod\":975}}]","topic":"","name":"Wed @ 4:00","onPayload":"ON","onPayloadType":"str","offPayload":"OFF","offPayloadType":"str","onlyWhenDark":false,"scheduleRndMax":"","sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange","x":90,"y":980,"wires":[["14e66f25.06c2c9"]]},{"id":"ded5cbb.3fb45b8","type":"comment","z":"754c564.7b83828","name":"Lucas Homework Review","info":"","x":130,"y":420,"wires":[]},{"id":"e3b596f.1d3ca68","type":"switch","z":"754c564.7b83828","name":"warn","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":460,"wires":[["98600f40.c202f","df2df3a9.21ef6","58e8e279.ec0fdc"]]},{"id":"df2df3a9.21ef6","type":"delay","z":"754c564.7b83828","name":"10s","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":550,"y":460,"wires":[["e3e0a377.d6812"]]},{"id":"98600f40.c202f","type":"link out","z":"754c564.7b83828","name":"","links":["8f1fda29.143998","c6f7fd73.d9dee"],"x":515,"y":420,"wires":[]},{"id":"e99342bf.d9463","type":"comment","z":"754c564.7b83828","name":"notification_lights","info":"","x":620,"y":420,"wires":[]},{"id":"e3e0a377.d6812","type":"api-call-service","z":"754c564.7b83828","name":"Announce","server":"71cca0bd.6fe0a","version":"1","service_domain":"script","service":"notify_speech","entityId":"","data":"{\"message\":\"Lucas... it is time to review your homework. Please bring it to mom or dad.\",\"media_player\":\"group.alexa_downstairs\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":660,"y":460,"wires":[[]]},{"id":"58e8e279.ec0fdc","type":"api-call-service","z":"754c564.7b83828","name":"logbook","server":"71cca0bd.6fe0a","version":"1","service_domain":"logbook","service":"log","entityId":"","data":"{\"name\":\"Node-RED > Event Reminders\",\"message\":\"Lucas Homework Review\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":560,"y":500,"wires":[[]]},{"id":"4f66f10f.43b808","type":"light-scheduler","z":"754c564.7b83828","settings":"70840d2c.2700ac","events":"[{\"start\":{\"dow\":1,\"mod\":1080},\"end\":{\"dow\":1,\"mod\":1095}},{\"start\":{\"dow\":2,\"mod\":1080},\"end\":{\"dow\":2,\"mod\":1095}},{\"start\":{\"dow\":4,\"mod\":1080},\"end\":{\"dow\":4,\"mod\":1095}},{\"start\":{\"dow\":5,\"mod\":1080},\"end\":{\"dow\":5,\"mod\":1095}},{\"start\":{\"dow\":3,\"mod\":1110},\"end\":{\"dow\":3,\"mod\":1125}}]","topic":"","name":"M-F @ 18:00/18:30","onPayload":"ON","onPayloadType":"str","offPayload":"OFF","offPayloadType":"str","onlyWhenDark":false,"scheduleRndMax":"","sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange","x":110,"y":460,"wires":[[]]},{"id":"332a3b13.51b6e4","type":"inject","z":"da29b66a.c6921","name":">","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":780,"wires":[["c76c0e0d.dc2c78"]]},{"id":"7ba688fd.c0bd6","type":"debug","z":"da29b66a.c6921","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":510,"y":780,"wires":[]},{"id":"c76c0e0d.dc2c78","type":"api-render-template","z":"da29b66a.c6921","name":"last_alexa","server":"71cca0bd.6fe0a","template":"{%- for entity in states.media_player -%}\n  {%- if state_attr(entity.entity_id, 'last_called') == True -%}\n    {{ entity.entity_id }}\n  {%- endif -%}\n{%- endfor -%}","x":220,"y":780,"wires":[["7ba688fd.c0bd6"]]},{"id":"901b5b6a.9da4a8","type":"comment","z":"1f7e758c.1055ea","name":"Extended presence detection","info":"* Just Arrived\n* Home\n* Just Left\n* Away\n* Extended Away\n\nBased on Phil Hawthorne's [Making Home Assistant’s Presence Detection not so Binary](https://philhawthorne.com/making-home-assistants-presence-detection-not-so-binary/)\nand Mauricio Bonani's [Node-RED version](https://bonani.tech/making-home-assistants-presence-detection-not-so-binary-node-red-version/).","x":140,"y":20,"wires":[]},{"id":"cced679b.610298","type":"server-state-changed","z":"da29b66a.c6921","name":"Brian","server":"71cca0bd.6fe0a","version":"1","entityidfilter":"device_tracker.life360_brian","entityidfiltertype":"substring","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":70,"y":920,"wires":[["40d3b8e1.d646c","bc9d0fc5.89f7"]]},{"id":"9772b158.3ff6a8","type":"server-state-changed","z":"da29b66a.c6921","name":"Nerene","server":"71cca0bd.6fe0a","version":"1","entityidfilter":"device_tracker.life360_nerene","entityidfiltertype":"substring","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":70,"y":960,"wires":[["40d3b8e1.d646c","bc9d0fc5.89f7"]]},{"id":"7792bcfa.9dee44","type":"server-state-changed","z":"da29b66a.c6921","name":"Eric","server":"71cca0bd.6fe0a","version":"1","entityidfilter":"device_tracker.eric","entityidfiltertype":"substring","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":70,"y":1020,"wires":[["214ba782.bd66d","bc9d0fc5.89f7"]]},{"id":"1d4b7faf.697f1","type":"server-state-changed","z":"da29b66a.c6921","name":"Sandy","server":"71cca0bd.6fe0a","version":"1","entityidfilter":"device_tracker.sandy","entityidfiltertype":"substring","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":70,"y":1060,"wires":[["214ba782.bd66d","bc9d0fc5.89f7"]]},{"id":"76c9acae.47dcbc","type":"server-state-changed","z":"da29b66a.c6921","name":"Heather","server":"71cca0bd.6fe0a","version":"1","entityidfilter":"device_tracker.eric","entityidfiltertype":"substring","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":70,"y":1100,"wires":[["214ba782.bd66d","bc9d0fc5.89f7"]]},{"id":"40d3b8e1.d646c","type":"link out","z":"da29b66a.c6921","name":"presence_hanifins","links":[],"x":235,"y":940,"wires":[]},{"id":"214ba782.bd66d","type":"link out","z":"da29b66a.c6921","name":"presence_goezs","links":[],"x":235,"y":1060,"wires":[]},{"id":"bc9d0fc5.89f7","type":"link out","z":"da29b66a.c6921","name":"presence_residents","links":["26e52f90.e382b","e7f82493.934508","2f16aaf0.59386e","f73e6dcf.78cd6"],"x":195,"y":1000,"wires":[]},{"id":"5c6b4b2b.24147c","type":"comment","z":"da29b66a.c6921","name":"presence","info":"","x":80,"y":880,"wires":[]},{"id":"81041078.b5c34","type":"comment","z":"da29b66a.c6921","name":"presence_hanifins","info":"","x":350,"y":940,"wires":[]},{"id":"903baec7.e75f58","type":"comment","z":"da29b66a.c6921","name":"presence_goezs","info":"","x":340,"y":1060,"wires":[]},{"id":"d155b3c7.791ce","type":"comment","z":"da29b66a.c6921","name":"presence_residents","info":"","x":350,"y":1000,"wires":[]},{"id":"c2cdfaa1.afeec8","type":"trigger-state","z":"da29b66a.c6921","name":"","server":"71cca0bd.6fe0a","entityid":"^input_boolean\\.(brian|nerene)$","entityidfiltertype":"regex","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":230,"y":1200,"wires":[["cb2f509d.479a68","8ec1b08e.e57a7"],[]]},{"id":"5cd629cb.54f8a8","type":"server-state-changed","z":"da29b66a.c6921","name":"","server":"71cca0bd.6fe0a","version":"1","entityidfilter":"^input_boolean\\.(brian|nerene)$","entityidfiltertype":"regex","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":200,"y":1360,"wires":[[]]},{"id":"3b951d6.3fe8662","type":"server-state-changed","z":"da29b66a.c6921","name":"","server":"71cca0bd.6fe0a","version":"1","entityidfilter":"^input_boolean\\.(eric|sandy|heather)$","entityidfiltertype":"regex","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":220,"y":1400,"wires":[[]]},{"id":"cb2f509d.479a68","type":"link out","z":"da29b66a.c6921","name":"presence_hanifins_regex","links":[],"x":455,"y":1180,"wires":[]},{"id":"d10a38a3.1bc798","type":"link out","z":"da29b66a.c6921","name":"presence_goezs_regex","links":[],"x":455,"y":1260,"wires":[]},{"id":"8ec1b08e.e57a7","type":"link out","z":"da29b66a.c6921","name":"presence_residents_regex","links":["26e52f90.e382b"],"x":455,"y":1220,"wires":[]},{"id":"4997c95d.683fb8","type":"comment","z":"da29b66a.c6921","name":"presence_hanifins_regex","info":"","x":590,"y":1180,"wires":[]},{"id":"e38598c3.db4068","type":"comment","z":"da29b66a.c6921","name":"presence_goezs_regex","info":"","x":580,"y":1260,"wires":[]},{"id":"eb8c2760.31ac5","type":"comment","z":"da29b66a.c6921","name":"presence_residents_regex","info":"","x":590,"y":1220,"wires":[]},{"id":"be8ca44f.5209a8","type":"trigger-state","z":"da29b66a.c6921","name":"","server":"71cca0bd.6fe0a","entityid":"^input_boolean\\.(eric|sandy|heather)$","entityidfiltertype":"regex","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":210,"y":1240,"wires":[["8ec1b08e.e57a7","d10a38a3.1bc798"],[]]},{"id":"2cf8b60.d5968ca","type":"api-call-service","z":"1f7e758c.1055ea","name":"set_home","server":"71cca0bd.6fe0a","version":"1","service_domain":"input_select","service":"select_option","entityId":"input_select.{{topic}}","data":"{\"option\":\"Home\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1660,"y":40,"wires":[[]]},{"id":"5c8599e8.8d939","type":"trigger","z":"1f7e758c.1055ea","op1":"","op2":"{\"payload\":{\"data\":{\"option\":\"\"}}}","op1type":"nul","op2type":"json","duration":"10","extend":false,"units":"min","reset":"","bytopic":"topic","name":"wait_10_minutes","x":1490,"y":40,"wires":[["2cf8b60.d5968ca"]]},{"id":"fa9f34b5.15d73","type":"api-call-service","z":"1f7e758c.1055ea","name":"set_just_arrived","server":"71cca0bd.6fe0a","version":"1","service_domain":"input_select","service":"select_option","entityId":"input_select.{{topic}}","data":"{\"option\":\"Just Arrived\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1300,"y":20,"wires":[["5c8599e8.8d939"]]},{"id":"a178b00f.8b989","type":"change","z":"1f7e758c.1055ea","name":"reset_timeout","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":100,"wires":[["5c8599e8.8d939","70a8a4ab.868dbc"]]},{"id":"4cbf078f.c86f58","type":"switch","z":"1f7e758c.1055ea","name":"not_just_left","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"Just Left","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":970,"y":20,"wires":[["b31ed07a.60a6c8"],[]]},{"id":"b31ed07a.60a6c8","type":"switch","z":"1f7e758c.1055ea","name":"not_home","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"Home","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1140,"y":20,"wires":[["fa9f34b5.15d73"]]},{"id":"70a8a4ab.868dbc","type":"trigger","z":"1f7e758c.1055ea","op1":"","op2":"{\"payload\":{\"data\":{\"option\":\"\"}}}","op1type":"nul","op2type":"json","duration":"24","extend":false,"units":"hr","reset":"","bytopic":"topic","name":"24 Hrs","x":2110,"y":80,"wires":[["1189313c.0d383f"]]},{"id":"440c847e.6fc77c","type":"api-current-state","z":"1f7e758c.1055ea","name":"get_curr_state","server":"71cca0bd.6fe0a","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":800,"y":120,"wires":[["a178b00f.8b989","3a5891d5.05a1fe","c221d093.ce0f8"]]},{"id":"80dbc994.261ca8","type":"api-current-state","z":"1f7e758c.1055ea","name":"get_curr_state","server":"71cca0bd.6fe0a","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":800,"y":40,"wires":[["4cbf078f.c86f58","c5974507.9b3fb8"]]},{"id":"c5974507.9b3fb8","type":"change","z":"1f7e758c.1055ea","name":"reset_timeout","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":60,"wires":[["70a8a4ab.868dbc","6003d40.f12e82c"]]},{"id":"513f21d2.27e4c8","type":"api-call-service","z":"1f7e758c.1055ea","name":"set_away","server":"71cca0bd.6fe0a","version":"1","service_domain":"input_select","service":"select_option","entityId":"input_select.{{topic}}","data":"{\"option\":\"Away\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1980,"y":120,"wires":[["70a8a4ab.868dbc"]]},{"id":"1189313c.0d383f","type":"api-call-service","z":"1f7e758c.1055ea","name":"set_extended_away","server":"71cca0bd.6fe0a","version":"1","service_domain":"input_select","service":"select_option","entityId":"input_select.{{topic}}","data":"{\"option\":\"Extended Away\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":2260,"y":80,"wires":[[]]},{"id":"6003d40.f12e82c","type":"trigger","z":"1f7e758c.1055ea","op1":"","op2":"{\"payload\":{\"data\":{\"option\":\"\"}}}","op1type":"nul","op2type":"json","duration":"10","extend":false,"units":"min","reset":"","bytopic":"topic","name":"wait_10_minutes","x":1510,"y":120,"wires":[["513f21d2.27e4c8"]]},{"id":"51e84b72.ce3a04","type":"template","z":"1f7e758c.1055ea","name":"set_entity_id","field":"payload.entity_id","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"input_select.{{topic}}","output":"str","x":650,"y":120,"wires":[["440c847e.6fc77c"]]},{"id":"3a5891d5.05a1fe","type":"switch","z":"1f7e758c.1055ea","name":"not_away","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"Away","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":960,"y":140,"wires":[["ffa15cdb.d7186"]]},{"id":"3028fba0.f6959c","type":"template","z":"1f7e758c.1055ea","name":"set_entity_id","field":"payload.entity_id","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"input_select.{{topic}}","output":"str","x":649,"y":40,"wires":[["80dbc994.261ca8"]]},{"id":"ffa15cdb.d7186","type":"api-call-service","z":"1f7e758c.1055ea","name":"set_just_left","server":"71cca0bd.6fe0a","version":"1","service_domain":"input_select","service":"select_option","entityId":"input_select.{{topic}}","data":"{\"option\":\"Just Left\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1310,"y":140,"wires":[["6003d40.f12e82c"]]},{"id":"9ed9e366.0342c8","type":"switch","z":"1f7e758c.1055ea","name":"simple_presence","property":"status","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":450,"y":80,"wires":[["3028fba0.f6959c","590eda84.d2ac64"],["51e84b72.ce3a04","590eda84.d2ac64"]]},{"id":"839786c4.5142f8","type":"change","z":"1f7e758c.1055ea","name":"format_data","rules":[{"t":"move","p":"payload","pt":"msg","to":"status","tot":"msg"},{"t":"change","p":"topic","pt":"msg","from":"person.","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":80,"wires":[["9ed9e366.0342c8"]]},{"id":"191b2fbd.001dd","type":"delay","z":"754c564.7b83828","name":"10s","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":390,"y":1120,"wires":[["c864df3a.4c42c"]]},{"id":"c956ce48.416678","type":"delay","z":"754c564.7b83828","name":"15s","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":390,"y":1260,"wires":[["315f1430.bfbdcc"]]},{"id":"146331e7.f474a6","type":"link out","z":"754c564.7b83828","name":"","links":["8f1fda29.143998","c6f7fd73.d9dee"],"x":355,"y":1080,"wires":[]},{"id":"270466e5.778baa","type":"link out","z":"754c564.7b83828","name":"","links":["8f1fda29.143998","c6f7fd73.d9dee"],"x":355,"y":1220,"wires":[]},{"id":"74a78217.9d163c","type":"comment","z":"754c564.7b83828","name":"notification_lights","info":"","x":460,"y":1080,"wires":[]},{"id":"acd80fa2.c8ddc","type":"comment","z":"754c564.7b83828","name":"notification_lights","info":"","x":460,"y":1220,"wires":[]},{"id":"e8b914f.512cbe8","type":"comment","z":"754c564.7b83828","name":"notification_lights_restore","info":"","x":590,"y":1260,"wires":[]},{"id":"315f1430.bfbdcc","type":"link out","z":"754c564.7b83828","name":"","links":["f7563356.ef229"],"x":455,"y":1260,"wires":[]},{"id":"c864df3a.4c42c","type":"api-call-service","z":"754c564.7b83828","name":"Announce","server":"71cca0bd.6fe0a","version":"1","service_domain":"script","service":"notify_speech","entityId":"","data":"{\"message\":\"It's almost bed time. Wrap up your activities and be ready to head upstairs.\",\"media_player\":\"media_player.play_room\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":500,"y":1120,"wires":[[]]},{"id":"cd8e4572.87d3","type":"api-call-service","z":"754c564.7b83828","name":"Announce","server":"71cca0bd.6fe0a","version":"1","service_domain":"script","service":"notify_speech","entityId":"","data":"{\"message\":\"Goodnight boys. It is time to go to bed.\",\"media_player\":\"media_player.play_room\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":500,"y":1300,"wires":[["a8e21553.be76b8"]]},{"id":"a426567c.82897","type":"api-call-service","z":"754c564.7b83828","name":"logbook","server":"71cca0bd.6fe0a","version":"1","service_domain":"logbook","service":"log","entityId":"","data":"{\"name\":\"Node-RED > Bedtime\",\"message\":\"Start: Announce it almost bedtime\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":400,"y":1160,"wires":[[]]},{"id":"95eb378b.7bcad","type":"api-call-service","z":"754c564.7b83828","name":"logbook","server":"71cca0bd.6fe0a","version":"1","service_domain":"logbook","service":"log","entityId":"","data":"{\"name\":\"Node-RED > Bedtime\",\"message\":\"End: Announce time to go to bed\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":400,"y":1340,"wires":[[]]},{"id":"34120dd6.d3e852","type":"api-call-service","z":"754c564.7b83828","name":"iOS Notification","server":"71cca0bd.6fe0a","version":"1","service_domain":"script","service":"notify_ios","entityId":"","data":"{\"title\":\"Bedtime\",\"message\":\"The boys were reminded to go to bed.\",\"who\":\"brian\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":420,"y":1380,"wires":[[]]},{"id":"5d2e42f6.8f424c","type":"light-scheduler","z":"754c564.7b83828","settings":"70840d2c.2700ac","events":"[{\"start\":{\"dow\":6,\"mod\":1275},\"end\":{\"dow\":6,\"mod\":1290}},{\"start\":{\"dow\":5,\"mod\":1275},\"end\":{\"dow\":5,\"mod\":1290}},{\"start\":{\"dow\":1,\"mod\":1215},\"end\":{\"dow\":1,\"mod\":1230}},{\"start\":{\"dow\":2,\"mod\":1215},\"end\":{\"dow\":2,\"mod\":1230}},{\"start\":{\"dow\":3,\"mod\":1215},\"end\":{\"dow\":3,\"mod\":1230}},{\"start\":{\"dow\":4,\"mod\":1215},\"end\":{\"dow\":4,\"mod\":1230}},{\"start\":{\"dow\":0,\"mod\":1215},\"end\":{\"dow\":0,\"mod\":1230}}]","topic":"","name":"8:15/9:15","onPayload":"ON","onPayloadType":"str","offPayload":"OFF","offPayloadType":"str","onlyWhenDark":false,"scheduleRndMax":"","sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange","x":80,"y":1120,"wires":[["1a49b928.b1bd57"]]},{"id":"3ddcdcb0.d737cc","type":"light-scheduler","z":"754c564.7b83828","settings":"70840d2c.2700ac","events":"[{\"start\":{\"dow\":5,\"mod\":1290},\"end\":{\"dow\":5,\"mod\":1305}},{\"start\":{\"dow\":0,\"mod\":1230},\"end\":{\"dow\":0,\"mod\":1245}},{\"start\":{\"dow\":4,\"mod\":1230},\"end\":{\"dow\":4,\"mod\":1245}},{\"start\":{\"dow\":3,\"mod\":1230},\"end\":{\"dow\":3,\"mod\":1245}},{\"start\":{\"dow\":2,\"mod\":1230},\"end\":{\"dow\":2,\"mod\":1245}},{\"start\":{\"dow\":1,\"mod\":1230},\"end\":{\"dow\":1,\"mod\":1245}},{\"start\":{\"dow\":6,\"mod\":1290},\"end\":{\"dow\":6,\"mod\":1305}}]","topic":"","name":"8:30/9:30","onPayload":"ON","onPayloadType":"str","offPayload":"OFF","offPayloadType":"str","onlyWhenDark":false,"scheduleRndMax":"","sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange","x":80,"y":1300,"wires":[["ca6acd4f.cd4e88"]]},{"id":"8d6fea10.000d08","type":"comment","z":"754c564.7b83828","name":"Bedtime","info":"","x":80,"y":1080,"wires":[]},{"id":"a8e21553.be76b8","type":"delay","z":"754c564.7b83828","name":"10s","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":630,"y":1300,"wires":[["1c2e7832.8f6678"]]},{"id":"1c2e7832.8f6678","type":"api-call-service","z":"754c564.7b83828","name":"Goodbye Routine","server":"71cca0bd.6fe0a","version":"1","service_domain":"script","service":"goodbye_routine","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":770,"y":1300,"wires":[[]]},{"id":"3a708edd.184302","type":"delay","z":"754c564.7b83828","name":"10s","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":390,"y":1300,"wires":[["cd8e4572.87d3"]]},{"id":"73b25693.b2d368","type":"comment","z":"754c564.7b83828","name":"Buddy's Medicine","info":"","x":110,"y":20,"wires":[]},{"id":"b00bcc60.e79cc","type":"delay","z":"754c564.7b83828","name":"10s","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":590,"y":60,"wires":[["eced5a7e.ce05f8"]]},{"id":"f0a8155e.8dae78","type":"link out","z":"754c564.7b83828","name":"","links":["8f1fda29.143998","c6f7fd73.d9dee"],"x":555,"y":20,"wires":[]},{"id":"ed1d96e.3280de8","type":"comment","z":"754c564.7b83828","name":"notification_lights","info":"","x":660,"y":20,"wires":[]},{"id":"eced5a7e.ce05f8","type":"api-call-service","z":"754c564.7b83828","name":"Announce","server":"71cca0bd.6fe0a","version":"1","service_domain":"script","service":"notify_speech","entityId":"","data":"{\"message\":\"Buddy needs his medicine. Please check to see some were made up for the day.\",\"media_player\":\"group.alexa_downstairs\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":700,"y":60,"wires":[[]]},{"id":"c8a76a.887b0098","type":"api-call-service","z":"754c564.7b83828","name":"logbook","server":"71cca0bd.6fe0a","version":"1","service_domain":"logbook","service":"log","entityId":"","data":"{\"name\":\"Node-RED > Event Reminders\",\"message\":\"Buddy's Medicine\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":600,"y":100,"wires":[[]]},{"id":"d0ae3017.9ba","type":"light-scheduler","z":"754c564.7b83828","settings":"70840d2c.2700ac","events":"[{\"start\":{\"dow\":1,\"mod\":540},\"end\":{\"dow\":1,\"mod\":555}},{\"start\":{\"dow\":1,\"mod\":600},\"end\":{\"dow\":1,\"mod\":615}},{\"start\":{\"dow\":2,\"mod\":540},\"end\":{\"dow\":2,\"mod\":555}},{\"start\":{\"dow\":2,\"mod\":600},\"end\":{\"dow\":2,\"mod\":615}},{\"start\":{\"dow\":3,\"mod\":600},\"end\":{\"dow\":3,\"mod\":615}},{\"start\":{\"dow\":3,\"mod\":540},\"end\":{\"dow\":3,\"mod\":555}},{\"start\":{\"dow\":4,\"mod\":540},\"end\":{\"dow\":4,\"mod\":555}},{\"start\":{\"dow\":4,\"mod\":600},\"end\":{\"dow\":4,\"mod\":615}},{\"start\":{\"dow\":5,\"mod\":600},\"end\":{\"dow\":5,\"mod\":615}},{\"start\":{\"dow\":5,\"mod\":540},\"end\":{\"dow\":5,\"mod\":555}},{\"start\":{\"dow\":6,\"mod\":540},\"end\":{\"dow\":6,\"mod\":555}},{\"start\":{\"dow\":6,\"mod\":600},\"end\":{\"dow\":6,\"mod\":615}},{\"start\":{\"dow\":0,\"mod\":540},\"end\":{\"dow\":0,\"mod\":555}},{\"start\":{\"dow\":0,\"mod\":600},\"end\":{\"dow\":0,\"mod\":615}}]","topic":"","name":"8:30, 9:30am","onPayload":"ON","onPayloadType":"str","offPayload":"OFF","offPayloadType":"str","onlyWhenDark":false,"scheduleRndMax":"","sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange","x":90,"y":60,"wires":[[]]},{"id":"83bf9a01.9a15b8","type":"switch","z":"754c564.7b83828","name":"not 'Today'","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"Today","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":60,"wires":[["f0a8155e.8dae78","b00bcc60.e79cc","c8a76a.887b0098"],[]]},{"id":"ff82072f.1e84d","type":"trigger-state","z":"f6fd4470.cafc38","name":"Status Change","server":"71cca0bd.6fe0a","entityid":"binary_sensor.side_yard_status","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"habool","x":100,"y":340,"wires":[["4da13ff3.716af8"],["4da13ff3.716af8"]]},{"id":"d5907f75.c189f8","type":"comment","z":"f6fd4470.cafc38","name":"Irrigation Status Monitor","info":"","x":130,"y":300,"wires":[]},{"id":"e5788c51.b1151","type":"api-call-service","z":"f6fd4470.cafc38","name":"logbook","server":"71cca0bd.6fe0a","version":"1","service_domain":"logbook","service":"log","entityId":"binary_sensor.side_yard_status","data":"{\"name\":\"Node-RED > Watch Dogs\",\"message\":\"Irrigation unit is offline\",\"domain\":\"binary_sensor\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":780,"y":320,"wires":[[]]},{"id":"1aa3d544.8116a3","type":"api-call-service","z":"f6fd4470.cafc38","name":"iOS Notification","server":"71cca0bd.6fe0a","version":"1","service_domain":"script","service":"notify_ios","entityId":"","data":"{\"title\":\"Irrigation Controller\",\"message\":\"The irrigation unit is offline. Please correct this soon.\",\"who\":\"brian\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":800,"y":280,"wires":[[]]},{"id":"4da13ff3.716af8","type":"switch","z":"f6fd4470.cafc38","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":true,"outputs":2,"x":250,"y":340,"wires":[["d6cd2ae2.eb2788"],["f2da2139.6e2b4"]]},{"id":"f2da2139.6e2b4","type":"api-call-service","z":"f6fd4470.cafc38","name":"logbook","server":"71cca0bd.6fe0a","version":"1","service_domain":"logbook","service":"log","entityId":"binary_sensor.side_yard_status","data":"{\"name\":\"Node-RED > Watch Dogs\",\"message\":\"Irrigation unit is online\",\"domain\":\"binary_sensor\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":780,"y":360,"wires":[[]]},{"id":"6d93290c.c1b71","type":"api-current-state","z":"f6fd4470.cafc38","name":"current status","server":"71cca0bd.6fe0a","version":"1","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"binary_sensor.side_yard_status","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":500,"y":320,"wires":[["972118e.8756468"]]},{"id":"d6cd2ae2.eb2788","type":"delay","z":"f6fd4470.cafc38","name":"15m","pauseType":"delay","timeout":"15","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":370,"y":320,"wires":[["6d93290c.c1b71"]]},{"id":"972118e.8756468","type":"switch","z":"f6fd4470.cafc38","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":true,"outputs":2,"x":630,"y":320,"wires":[["1aa3d544.8116a3","e5788c51.b1151"],["f2da2139.6e2b4"]]},{"id":"8166a2e2.0c4628","type":"comment","z":"f6fd4470.cafc38","name":"Nightly maintenance","info":"","x":110,"y":20,"wires":[]},{"id":"a22ea3c1.fcfa1","type":"light-scheduler","z":"f6fd4470.cafc38","settings":"70840d2c.2700ac","events":"[{\"start\":{\"dow\":1,\"mod\":135},\"end\":{\"dow\":1,\"mod\":150}},{\"start\":{\"dow\":2,\"mod\":135},\"end\":{\"dow\":2,\"mod\":150}},{\"start\":{\"dow\":3,\"mod\":135},\"end\":{\"dow\":3,\"mod\":150}},{\"start\":{\"dow\":4,\"mod\":135},\"end\":{\"dow\":4,\"mod\":150}},{\"start\":{\"dow\":5,\"mod\":135},\"end\":{\"dow\":5,\"mod\":150}},{\"start\":{\"dow\":6,\"mod\":135},\"end\":{\"dow\":6,\"mod\":150}},{\"start\":{\"dow\":0,\"mod\":135},\"end\":{\"dow\":0,\"mod\":150}}]","topic":"","name":"2:15am","onPayload":"ON","onPayloadType":"str","offPayload":"OFF","offPayloadType":"str","onlyWhenDark":false,"scheduleRndMax":"","sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange","x":80,"y":60,"wires":[["7ecc7142.6d01c"]]},{"id":"b1a76038.d9c3","type":"api-call-service","z":"f6fd4470.cafc38","name":"update medicine statuses","server":"71cca0bd.6fe0a","version":"1","service_domain":"homeassistant","service":"update_entity","entityId":"sensor.medicine_buddy_given_today","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":430,"y":40,"wires":[[]]},{"id":"7ecc7142.6d01c","type":"switch","z":"f6fd4470.cafc38","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":true,"outputs":2,"x":250,"y":60,"wires":[["b1a76038.d9c3"],["8c515997.03f5a"]]},{"id":"ec414630.7a01b","type":"api-call-service","z":"f6fd4470.cafc38","name":"restart home assistant","server":"71cca0bd.6fe0a","version":1,"service_domain":"script","service":"turn_on","entityId":"script.restart_hass","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":420,"y":100,"wires":[[]]},{"id":"6b322c3.275ea54","type":"comment","z":"f6fd4470.cafc38","name":"Dog Water Bowl","info":"","x":100,"y":140,"wires":[]},{"id":"3f489bbc.248774","type":"delay","z":"f6fd4470.cafc38","name":"2m","pauseType":"delay","timeout":"2","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":370,"y":180,"wires":[["d9de7267.3695e"]]},{"id":"d9de7267.3695e","type":"api-current-state","z":"f6fd4470.cafc38","name":"current state","server":"71cca0bd.6fe0a","version":"1","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.dog_water_bowl","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":490,"y":180,"wires":[["602b4b59.646fb4"]]},{"id":"ae758851.3d6838","type":"api-call-service","z":"f6fd4470.cafc38","name":"logbook","server":"71cca0bd.6fe0a","version":"1","service_domain":"logbook","service":"log","entityId":"binary_sensor.dog_water_bowl","data":"{\"name\":\"Node-RED > Watch Dogs\",\"message\":\"WATER BOWL EMPTY\",\"domain\":\"binary_sensor\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":760,"y":220,"wires":[[]]},{"id":"8578f100.9c36b8","type":"api-call-service","z":"f6fd4470.cafc38","name":"iOS Notification","server":"71cca0bd.6fe0a","version":"1","service_domain":"script","service":"notify_ios","entityId":"","data":"{\"title\":\"WATER BOWL EMPTY\",\"message\":\"The dogs water bowl is empty!\\nPlease refill it soon.\",\"who\":\"brian\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":780,"y":180,"wires":[[]]},{"id":"661ffaf6.0cd43c","type":"api-call-service","z":"f6fd4470.cafc38","name":"Announce","server":"71cca0bd.6fe0a","version":"1","service_domain":"script","service":"notify_speech","entityId":"","data":"{\"message\":\"The dogs water bowl is empty! ... Please refill it soon.\",\"media_player\":\"group.alexa_downstairs\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1020,"y":140,"wires":[[]]},{"id":"602b4b59.646fb4","type":"switch","z":"f6fd4470.cafc38","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"else"}],"checkall":"true","repair":true,"outputs":2,"x":610,"y":180,"wires":[["8578f100.9c36b8","ae758851.3d6838","d784ade8.50fa3"],[]]},{"id":"a570b19a.61e9d8","type":"switch","z":"f6fd4470.cafc38","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"else"}],"checkall":"true","repair":true,"outputs":2,"x":250,"y":180,"wires":[["3f489bbc.248774"],[]]},{"id":"aba95a6.10234a8","type":"server-state-changed","z":"450e6ab5.73fe64","name":"Ring Camera","server":"71cca0bd.6fe0a","version":"1","entityidfilter":"camera.porch","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":90,"y":740,"wires":[[]]},{"id":"71a19c87.3d32bc","type":"comment","z":"450e6ab5.73fe64","name":"function: ring_video_download","info":"","x":350,"y":740,"wires":[]},{"id":"9a0eb802.3bed","type":"server-events","z":"450e6ab5.73fe64","name":"download failed","server":"71cca0bd.6fe0a","event_type":"downloader_download_failed","x":100,"y":920,"wires":[["d811e3ed.4d82d8"]]},{"id":"d811e3ed.4d82d8","type":"api-call-service","z":"450e6ab5.73fe64","name":"notification","server":"71cca0bd.6fe0a","version":"1","service_domain":"persistent_notification","service":"create","entityId":"","data":"{\"message\":\"An automated download has failed.\",\"title\":\"Download Failed\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":270,"y":920,"wires":[[]]},{"id":"3c5bc5c5.ebd532","type":"comment","z":"450e6ab5.73fe64","name":"Notify if a download fails.","info":"","x":130,"y":880,"wires":[]},{"id":"8c515997.03f5a","type":"delay","z":"f6fd4470.cafc38","name":"5m","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":610,"y":65,"wires":[["6fc5c28c.db39dc"]]},{"id":"6fc5c28c.db39dc","type":"api-call-service","z":"f6fd4470.cafc38","name":"Turn off TVs","server":"71cca0bd.6fe0a","version":"1","service_domain":"script","service":"turn_on","entityId":"script.tv_family_room_off, script.tv_living_room_off","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":730,"y":65,"wires":[[]]},{"id":"8727f4a3.261368","type":"switch","z":"a14a13fb.20e7d8","name":"old video url is a string","property":"data.old_state.attributes.video_url","propertyType":"msg","rules":[{"t":"istype","v":"string","vt":"string"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":180,"y":860,"wires":[["5ad279b1.9a1f"],["63912be2.c432ac"]]},{"id":"5ad279b1.9a1f","type":"switch","z":"a14a13fb.20e7d8","name":"new video url is a string","property":"data.new_state.attributes.video_url","propertyType":"msg","rules":[{"t":"istype","v":"string","vt":"string"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":840,"wires":[["3a62c788.a49928"],["114b6fc3.eaaeb"]]},{"id":"63912be2.c432ac","type":"change","z":"a14a13fb.20e7d8","name":"set old url to a string","rules":[{"t":"set","p":"data.old_state.attributes.video_url","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":880,"wires":[["5ad279b1.9a1f"]]},{"id":"3a62c788.a49928","type":"change","z":"a14a13fb.20e7d8","name":"","rules":[{"t":"set","p":"old","pt":"msg","to":"$match(data.old_state.attributes.video_url, /\\/(\\d+)\\/(\\d+)\\.mp4\\?/)","tot":"jsonata"},{"t":"set","p":"new","pt":"msg","to":"$match(data.new_state.attributes.video_url, /\\/(\\d+)\\/(\\d+)\\.mp4\\?/)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":840,"wires":[["e5c254e6.b814d8"]]},{"id":"114b6fc3.eaaeb","type":"change","z":"a14a13fb.20e7d8","name":"set new url to a string","rules":[{"t":"set","p":"data.new_state.attributes.video_url","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":880,"wires":[["3a62c788.a49928"]]},{"id":"e5c254e6.b814d8","type":"switch","z":"a14a13fb.20e7d8","name":"","property":"(old.groups[0] = new.groups[0]) and (old.groups[1] = new.groups[1])","propertyType":"jsonata","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":850,"y":840,"wires":[["fe5923bf.1a689","96405edd.ba6ad8"]]},{"id":"fe5923bf.1a689","type":"change","z":"a14a13fb.20e7d8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t   \"data\":{\t       \"url\": data.new_state.attributes.video_url,\t       \"subdir\": topic,\t       \"filename\": $join([new.groups[0], \"_\", new.groups[1], \".mp4\"])\t   }\t}","tot":"jsonata"},{"t":"delete","p":"topic","pt":"msg"},{"t":"delete","p":"data","pt":"msg"},{"t":"delete","p":"new","pt":"msg"},{"t":"delete","p":"old","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":840,"wires":[["7739ab73.b309bc"]]},{"id":"96405edd.ba6ad8","type":"debug","z":"a14a13fb.20e7d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":990,"y":880,"wires":[]},{"id":"7739ab73.b309bc","type":"api-call-service","z":"a14a13fb.20e7d8","name":"","server":"71cca0bd.6fe0a","version":"1","service_domain":"downloader","service":"download_file","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1230,"y":840,"wires":[["8e3f6660.634e88"]]},{"id":"8e3f6660.634e88","type":"debug","z":"a14a13fb.20e7d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1410,"y":840,"wires":[]},{"id":"6e006c43.b4a39c","type":"link in","z":"a14a13fb.20e7d8","name":"ring_video_download","links":["800943e0.5cd488"],"x":35,"y":860,"wires":[["8727f4a3.261368"]]},{"id":"cdbbe93.4e41a98","type":"comment","z":"a14a13fb.20e7d8","name":"ring_video_download","info":"","x":120,"y":820,"wires":[]},{"id":"800943e0.5cd488","type":"link out","z":"450e6ab5.73fe64","name":"","links":["6e006c43.b4a39c"],"x":195,"y":740,"wires":[]},{"id":"29f1ef16.f15b28","type":"comment","z":"450e6ab5.73fe64","name":"Ring Camera New Video Clip","info":"","x":140,"y":700,"wires":[]},{"id":"99102c76.134d28","type":"fs-file-lister","z":"450e6ab5.73fe64","name":"","start":"/","pattern":"*","path":true,"single":false,"depth":0,"stat":false,"x":240,"y":820,"wires":[[]]},{"id":"648a3509.1fd7cc","type":"inject","z":"450e6ab5.73fe64","name":">","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":820,"wires":[["99102c76.134d28"]]},{"id":"377ba0c0.98792","type":"server-state-changed","z":"f6fd4470.cafc38","name":"Status Change","server":"71cca0bd.6fe0a","version":"1","entityidfilter":"binary_sensor.dog_water_bowl","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":100,"y":180,"wires":[[]]},{"id":"d784ade8.50fa3","type":"api-render-template","z":"f6fd4470.cafc38","name":"8am-8pm?","server":"71cca0bd.6fe0a","template":"{%- set hour    = states(\"sensor.time\").split(':')[0] | int -%}\n{%- set minutes = states(\"sensor.time\").split(':')[1] | int -%}\n{{ (hour >=  8 and hour <  20) }}","x":770,"y":140,"wires":[["494ab6fc.a2e6c"]]},{"id":"494ab6fc.a2e6c","type":"switch","z":"f6fd4470.cafc38","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"false","repair":true,"outputs":2,"x":890,"y":140,"wires":[["661ffaf6.0cd43c"],[]]},{"id":"659bb2c1.d2024c","type":"delay","z":"f6fd4470.cafc38","name":"5m","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":870,"y":65,"wires":[["271961cf.f3487e"]]},{"id":"271961cf.f3487e","type":"api-call-service","z":"f6fd4470.cafc38","name":"Turn off TVs","server":"71cca0bd.6fe0a","version":"1","service_domain":"script","service":"turn_on","entityId":"script.tv_family_room_off, script.tv_living_room_off","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":990,"y":65,"wires":[[]]},{"id":"6b29d51b.fe28f4","type":"api-current-state","z":"754c564.7b83828","name":"schoolday?","server":"71cca0bd.6fe0a","version":"1","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"binary_sensor.schoolday","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":250,"y":160,"wires":[[]]},{"id":"2c4c9c85.afae54","type":"api-current-state","z":"754c564.7b83828","name":"schoolday?","server":"71cca0bd.6fe0a","version":"1","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"binary_sensor.schoolday","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":250,"y":280,"wires":[[]]},{"id":"132f3dd0.44c112","type":"api-current-state","z":"754c564.7b83828","name":"schoolday?","server":"71cca0bd.6fe0a","version":"1","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"binary_sensor.schoolday","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":330,"y":420,"wires":[[]]},{"id":"f7060adf.d94768","type":"api-render-template","z":"754c564.7b83828","name":"is_weekday_and_holiday?","server":"71cca0bd.6fe0a","template":"{{  states.binary_sensor.weekday.state \nand states.binary_sensor.holiday.state }}","x":130,"y":1220,"wires":[[]]},{"id":"1a49b928.b1bd57","type":"switch","z":"754c564.7b83828","name":"warn","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":1120,"wires":[["146331e7.f474a6","191b2fbd.001dd","a426567c.82897"]]},{"id":"ca6acd4f.cd4e88","type":"switch","z":"754c564.7b83828","name":"warn","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":1300,"wires":[["270466e5.778baa","c956ce48.416678","3a708edd.184302","95eb378b.7bcad","34120dd6.d3e852"]]},{"id":"54fe20a9.b8d468","type":"debug","z":"da29b66a.c6921","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":490,"y":700,"wires":[]},{"id":"50c3787c.539ce8","type":"inject","z":"da29b66a.c6921","name":">","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":700,"wires":[["e6bee514.db8168"]]},{"id":"e6bee514.db8168","type":"api-current-state","z":"da29b66a.c6921","name":"get: weather.dark_sky","server":"71cca0bd.6fe0a","version":"1","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"weather.dark_sky","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":260,"y":700,"wires":[["54fe20a9.b8d468"]]},{"id":"95a106a3.e2a2c8","type":"inject","z":"da29b66a.c6921","name":">","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":820,"wires":[["62af295b.2b08b"]]},{"id":"62af295b.2b08b","type":"api-render-template","z":"da29b66a.c6921","name":"sensor.last_message","server":"71cca0bd.6fe0a","template":"{{ states('sensor.last_message') }}","x":260,"y":820,"wires":[["ddb29500.27d12"]]},{"id":"ddb29500.27d12","type":"debug","z":"da29b66a.c6921","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":490,"y":820,"wires":[]},{"id":"5b9bf1b6.99f048","type":"api-current-state","z":"754c564.7b83828","name":"get_day","server":"71cca0bd.6fe0a","version":"1","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"sensor.medicine_buddy_given_today","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":240,"y":60,"wires":[["83bf9a01.9a15b8"]]},{"id":"37cf5217.bacdf6","type":"light-scheduler","z":"754c564.7b83828","settings":"70840d2c.2700ac","events":"[{\"start\":{\"dow\":6,\"mod\":540},\"end\":{\"dow\":6,\"mod\":555}},{\"start\":{\"dow\":0,\"mod\":540},\"end\":{\"dow\":0,\"mod\":555}},{\"start\":{\"dow\":6,\"mod\":570},\"end\":{\"dow\":6,\"mod\":585}},{\"start\":{\"dow\":0,\"mod\":570},\"end\":{\"dow\":0,\"mod\":585}},{\"start\":{\"dow\":0,\"mod\":600},\"end\":{\"dow\":0,\"mod\":615}},{\"start\":{\"dow\":6,\"mod\":600},\"end\":{\"dow\":6,\"mod\":615}},{\"start\":{\"dow\":6,\"mod\":630},\"end\":{\"dow\":6,\"mod\":645}},{\"start\":{\"dow\":0,\"mod\":630},\"end\":{\"dow\":0,\"mod\":645}}]","topic":"","name":"Weekend @ 9:00","onPayload":"ON","onPayloadType":"str","offPayload":"OFF","offPayloadType":"str","onlyWhenDark":false,"scheduleRndMax":"","sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange","x":100,"y":1500,"wires":[["42f3fcd1.03c4ac"]]},{"id":"42f3fcd1.03c4ac","type":"switch","z":"754c564.7b83828","name":"warn","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":1500,"wires":[["54660064.0c351","a3317d26.2d6538","5d81a037.076508"]]},{"id":"54660064.0c351","type":"link out","z":"754c564.7b83828","name":"","links":["8f1fda29.143998","c6f7fd73.d9dee"],"x":355,"y":1460,"wires":[]},{"id":"a3317d26.2d6538","type":"delay","z":"754c564.7b83828","name":"10s","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":390,"y":1500,"wires":[["66deb3c3.ea35b4"]]},{"id":"5d81a037.076508","type":"api-call-service","z":"754c564.7b83828","name":"logbook","server":"71cca0bd.6fe0a","version":"1","service_domain":"logbook","service":"log","entityId":"","data":"{\"name\":\"Node-RED > Event Reminders\",\"message\":\"Weekend Responsibilities\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":400,"y":1540,"wires":[[]]},{"id":"66deb3c3.ea35b4","type":"api-call-service","z":"754c564.7b83828","name":"Announce","server":"71cca0bd.6fe0a","version":"1","service_domain":"script","service":"say","entityId":"","data":"{\"say_greeting\":\"true\",\"say_responsibilities\":\"true\",\"media_player\":\"media_player.play_room\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":500,"y":1500,"wires":[[]]},{"id":"2cf512f5.9066be","type":"comment","z":"754c564.7b83828","name":"Weekend Responsibilities","info":"","x":130,"y":1460,"wires":[]},{"id":"3b800f03.56d7b","type":"cast-to-client","z":"da29b66a.c6921","name":"Jetsons Doorbell","url":"http://10.0.0.56:8123/local/audio/jetsons-doorbell.mp3","contentType":"audio/mp3","message":"","language":"en","ip":"10.0.0.27","port":"","volume":"20","x":250,"y":100,"wires":[[]]},{"id":"8254bacb.2f7708","type":"inject","z":"da29b66a.c6921","name":">","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":100,"wires":[["3b800f03.56d7b"]]},{"id":"246b55f5.080862","type":"cast-to-client","z":"450e6ab5.73fe64","name":"Jetsons Doorbell","url":"http://10.0.0.56:8123/local/audio/jetsons-doorbell.mp3","contentType":"audio/mp3","message":"","language":"en","ip":"10.0.0.27","port":"","volume":"20","x":310,"y":60,"wires":[[]]},{"id":"bf3bbc88.eaf0f","type":"trigger-state","z":"450e6ab5.73fe64","name":"doorbell pressed","server":"71cca0bd.6fe0a","entityid":"binary_sensor.ring_front_door_ding","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"d8cgof7qnal","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"bool","comparatorValue":"true"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"habool","x":110,"y":60,"wires":[["246b55f5.080862"],[]]},{"id":"1ec59b47.db4a5d","type":"inject","z":"da29b66a.c6921","name":">","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":160,"wires":[["6d88630d.8a2d0c"]]},{"id":"1adef664.8bfe12","type":"debug","z":"da29b66a.c6921","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":490,"y":160,"wires":[]},{"id":"6d88630d.8a2d0c","type":"api-current-state","z":"da29b66a.c6921","name":"","server":"71cca0bd.6fe0a","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.last_alexa","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":290,"y":160,"wires":[["1adef664.8bfe12"]]},{"id":"a1a0fc87.42032","type":"trigger-state","z":"1f7e758c.1055ea","name":"presence_change","server":"71cca0bd.6fe0a","entityid":"^person\\.(brian|nerene|eric|sandy|heather)$","entityidfiltertype":"regex","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":110,"y":80,"wires":[["839786c4.5142f8"],[]]},{"id":"590eda84.d2ac64","type":"debug","z":"1f7e758c.1055ea","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":680,"y":220,"wires":[]},{"id":"7a94a210.35fa0c","type":"inject","z":"1f7e758c.1055ea","name":">","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":140,"wires":[["c192c945.8d7c48"]]},{"id":"c192c945.8d7c48","type":"api-current-state","z":"1f7e758c.1055ea","name":"","server":"71cca0bd.6fe0a","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"person.brian","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":260,"y":140,"wires":[["839786c4.5142f8"]]},{"id":"c221d093.ce0f8","type":"debug","z":"1f7e758c.1055ea","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":890,"y":220,"wires":[]},{"id":"b76c321f.3686e8","type":"inject","z":"754c564.7b83828","name":"","topic":"","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1360,"wires":[["ca6acd4f.cd4e88"]]},{"id":"b0990a98.da5ad8","type":"inject","z":"754c564.7b83828","name":"","topic":"","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1180,"wires":[["1a49b928.b1bd57"]]},{"id":"ead40a89.42d788","type":"comment","z":"450e6ab5.73fe64","name":"A futuristic door chime for a futuristic house!","info":"","x":190,"y":20,"wires":[]},{"id":"b50edaf7.4ed138","type":"api-current-state","z":"1f7e758c.1055ea","name":"get_curr_state","server":"71cca0bd.6fe0a","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1700,"y":160,"wires":[["23f41484.bb3acc"]]},{"id":"7330f347.4f2544","type":"debug","z":"1f7e758c.1055ea","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1610,"y":220,"wires":[]},{"id":"23f41484.bb3acc","type":"debug","z":"1f7e758c.1055ea","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1830,"y":220,"wires":[]},{"id":"a38c77bd.4bf858","type":"function","z":"a14a13fb.20e7d8","name":"set_global.lights_on","func":"global.set(\"lights_on\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":180,"wires":[[]]},{"id":"6b718b2d.610504","type":"api-call-service","z":"a14a13fb.20e7d8","name":"update: lights_on","server":"71cca0bd.6fe0a","version":"1","service_domain":"script","service":"turn_on","entityId":"script.lights_on_update","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":170,"y":180,"wires":[["2b5f7c2d.837954"]]},{"id":"94bebd9c.e5473","type":"api-current-state","z":"a14a13fb.20e7d8","name":"get: lights_on","server":"71cca0bd.6fe0a","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"variable.lights_on","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":430,"y":180,"wires":[["a38c77bd.4bf858"]]},{"id":"2b5f7c2d.837954","type":"delay","z":"a14a13fb.20e7d8","name":"1s","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":310,"y":180,"wires":[["94bebd9c.e5473"]]},{"id":"c64ec2f0.977b5","type":"link out","z":"a14a13fb.20e7d8","name":"","links":["dc672aa5.6b1d1"],"x":495,"y":400,"wires":[]},{"id":"f58feb99.ba1ca8","type":"api-call-service","z":"a14a13fb.20e7d8","name":"family_room_table_lamp","server":"71cca0bd.6fe0a","version":1,"service_domain":"light","service":"turn_on","entityId":"light.family_room_table_lamp","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":190,"y":400,"wires":[["c64ec2f0.977b5"]]},{"id":"d56981dc.b2559","type":"api-current-state","z":"a14a13fb.20e7d8","name":"get_table_lamp_current_state","server":"71cca0bd.6fe0a","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"light.family_room_table_lamp","state_type":"str","state_location":"data","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":200,"y":620,"wires":[["8af3ffd8.009c98"]]},{"id":"8af3ffd8.009c98","type":"switch","z":"a14a13fb.20e7d8","name":"","property":"data.state","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":true,"outputs":2,"x":370,"y":620,"wires":[["d686f6f.9855188","9fa1cc2b.61c048"],["8e375bdf.f4b0b8"]]},{"id":"d686f6f.9855188","type":"api-call-service","z":"a14a13fb.20e7d8","name":"match state","server":"71cca0bd.6fe0a","version":1,"service_domain":"light","service":"turn_on","entityId":"light.family_room_table_lamp","data":"{\"brightness\":\"{{data.attributes.brightness}}\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":530,"y":600,"wires":[[]]},{"id":"8e375bdf.f4b0b8","type":"api-call-service","z":"a14a13fb.20e7d8","name":"turn off","server":"71cca0bd.6fe0a","version":1,"service_domain":"light","service":"turn_off","entityId":"light.family_room_table_lamp","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":520,"y":640,"wires":[[]]},{"id":"fa07dfcd.0f6d3","type":"inject","z":"a14a13fb.20e7d8","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":55,"y":660,"wires":[["d56981dc.b2559"]],"l":false},{"id":"9fa1cc2b.61c048","type":"debug","z":"a14a13fb.20e7d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":510,"y":560,"wires":[]}]