node-red/flows.json
[{"id":"4b262905.589a08","type":"tab","label":"Event Reminders","disabled":false,"info":""},{"id":"ce42c392.847228","type":"tab","label":"Front Door","disabled":false,"info":""},{"id":"46420a04.c97aa4","type":"tab","label":"Garage Door","disabled":false,"info":""},{"id":"dbeaa409.6acd78","type":"tab","label":"Watch Dogs","disabled":false,"info":""},{"id":"3cb2a9bb.c5527e","type":"tab","label":"XPresence","disabled":false,"info":"Extended presence detection:\n\n* Just Arrived\n* Home\n* Just Left\n* Away\n* Extended Away\n\nBased on Phil Hawthorne's [Making Home Assistant’s Presence Detection not so Binary](https://philhawthorne.com/making-home-assistants-presence-detection-not-so-binary/)\nand Mauricio Bonani's [Node-RED version](https://bonani.tech/making-home-assistants-presence-detection-not-so-binary-node-red-version/)."},{"id":"3d664de5.b019c2","type":"tab","label":"functions","disabled":false,"info":""},{"id":"2e7ea4cd.954aac","type":"tab","label":"x","disabled":false,"info":""},{"id":"e34f2ade.f5d818","type":"mqtt-broker","z":"","name":"Mosquitto","broker":"10.0.0.56","port":"1883","clientid":"node-red","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"'nodered/status'","birthQos":"0","birthRetain":"false","birthPayload":"'online'","closeTopic":"'nodered/status'","closeQos":"0","closeRetain":"false","closePayload":"'disconnected'","willTopic":"'nodered/status'","willQos":"0","willRetain":"false","willPayload":"'offline'"},{"id":"e7a36967.14ba58","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true},{"id":"9871639f.643758","type":"light-scheduler-settings","z":"","name":"Home","latitude":"32.8541050","longitude":"-117.0029700"},{"id":"d220a6c5.58cd08","type":"inject","z":"2e7ea4cd.954aac","name":">","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":340,"wires":[["1630def.b30bea1"]]},{"id":"b566952d.cc35e","type":"function","z":"ce42c392.847228","name":"set_state","func":"var state = {\n    'state': msg.payload,\n    'brightness': msg.data.attributes.brightness||0\n}\nflow.set(\"entry_light_state\",state);\nmsg.data = null\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":280,"wires":[["45c99613.ba9c28"]]},{"id":"ea53eced.dd68b8","type":"function","z":"ce42c392.847228","name":"entry light: old_state","func":"msg.payload = flow.get(\"entry_light_state\");\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":500,"wires":[["9a51a0ec.683068"]]},{"id":"9a51a0ec.683068","type":"switch","z":"ce42c392.847228","name":"","property":"payload.state","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":true,"outputs":2,"x":390,"y":500,"wires":[["ac01fa32.9244a8"],["5bfb4158.03b988"]]},{"id":"f276102a.c235c8","type":"comment","z":"ce42c392.847228","name":"Turn porch + entry lights to full brightness when unlocked.","info":"","x":230,"y":240,"wires":[]},{"id":"9a885f76.0f5938","type":"function","z":"ce42c392.847228","name":"porch light: old_state","func":"msg.payload = flow.get(\"porch_light_state\");\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":580,"wires":[["8d272bcc.ac93c8"]]},{"id":"8d272bcc.ac93c8","type":"switch","z":"ce42c392.847228","name":"","property":"payload.state","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":true,"outputs":2,"x":390,"y":580,"wires":[["13fd4ea8.626b89"],["fb313c29.01b248"]]},{"id":"4dd6887a.9071b","type":"function","z":"ce42c392.847228","name":"set_state","func":"var rgb = msg.data.attributes.rgb_color||\"\"\nvar state = {\n    'state': msg.payload, \n    'brightness': msg.data.attributes.brightness||0,\n    'color_temp': msg.data.attributes.color_temp||\"\",\n    'rgb_color': rgb.toString()\n}\nflow.set(\"porch_light_state\",state);\n\nmsg.payload = state\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":340,"wires":[["cc00771b.bbd8e"]]},{"id":"621dc2a8.6aef4c","type":"comment","z":"46420a04.c97aa4","name":"Turn garage door notificaiton lights on when it opens.","info":"","x":220,"y":20,"wires":[]},{"id":"472ea720.96e908","type":"comment","z":"ce42c392.847228","name":"Restore the porch + entry lights to their previous states.","info":"","x":220,"y":460,"wires":[]},{"id":"4a857f8f.aa196","type":"inject","z":"46420a04.c97aa4","name":"5m","topic":"","payload":"true","payloadType":"bool","repeat":"300","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":380,"wires":[["12b5237a.365105"]]},{"id":"1e1224ec.fcb4c3","type":"comment","z":"46420a04.c97aa4","name":"Restore the garage notification lights to their previous states.","info":"","x":240,"y":180,"wires":[]},{"id":"1ba6a9e6.7d214e","type":"link out","z":"46420a04.c97aa4","name":"","links":["ac2a9705.a3f748"],"x":655,"y":360,"wires":[]},{"id":"a6dff223.8c4de","type":"debug","z":"2e7ea4cd.954aac","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":360,"wires":[]},{"id":"9938a436.c0189","type":"debug","z":"2e7ea4cd.954aac","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":310,"y":660,"wires":[]},{"id":"8f2612c8.769df8","type":"mqtt in","z":"2e7ea4cd.954aac","name":"","topic":"speech/last_message","qos":"2","broker":"e34f2ade.f5d818","x":120,"y":660,"wires":[["9938a436.c0189"]]},{"id":"fa6cc7fc.7a30c8","type":"debug","z":"2e7ea4cd.954aac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":490,"y":740,"wires":[]},{"id":"60a312e2.ff8d7c","type":"inject","z":"2e7ea4cd.954aac","name":">","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":740,"wires":[["f7f432fd.9fa128"]]},{"id":"633d22aa.649d74","type":"switch","z":"46420a04.c97aa4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":true,"outputs":2,"x":410,"y":380,"wires":[["7cb1408.046b14","f2c53a17.a8369"],[]]},{"id":"b78a186e.5400a8","type":"link out","z":"46420a04.c97aa4","name":"","links":["4b639450.a2ef84","725120bb.a960d8"],"x":715,"y":80,"wires":[]},{"id":"8e0d117a.23231","type":"inject","z":"46420a04.c97aa4","name":"Test Garage OPEN","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":570,"y":80,"wires":[["b78a186e.5400a8"]]},{"id":"fe611810.09de4","type":"link out","z":"46420a04.c97aa4","name":"","links":["ac2a9705.a3f748"],"x":715,"y":120,"wires":[]},{"id":"343f0d00.f84e8a","type":"inject","z":"46420a04.c97aa4","name":"Test Garage CLOSED","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":580,"y":120,"wires":[["fe611810.09de4"]]},{"id":"b6c1f7c3.c42ff8","type":"link in","z":"3d664de5.b019c2","name":"flash_lights","links":["be0f5016.b9e248","4ebf5b85.7e8b9c","d9d27a65.b5833","b0acf8b8.87e5f","e4a7516.ba1933","ede39b17.c14fa8"],"x":35,"y":60,"wires":[["c063c3bb.69017"]]},{"id":"26bbf18.26d240e","type":"delay","z":"3d664de5.b019c2","name":"1s","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":330,"y":60,"wires":[["c7fba42.e93dfd8"]]},{"id":"bab3cd92.89f718","type":"delay","z":"3d664de5.b019c2","name":"1s","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":530,"y":60,"wires":[["b827ae9.24586d"]]},{"id":"eda5e36c.30a4a8","type":"comment","z":"3d664de5.b019c2","name":"flash_lights","info":"","x":80,"y":20,"wires":[]},{"id":"4c23a191.24af6","type":"comment","z":"3d664de5.b019c2","name":"notification_lights","info":"","x":100,"y":260,"wires":[]},{"id":"8fca9f20.597dc8","type":"function","z":"3d664de5.b019c2","name":"set_curr_state","func":"var rgb = msg.data.attributes.rgb_color||\"\"\nvar state = {\n    'state': msg.payload, \n    'brightness': msg.data.attributes.brightness||0,\n    'color_temp': msg.data.attributes.color_temp||\"\",\n    'rgb_color': rgb.toString()\n}\nflow.set(\"family_room_table_lamp_state\",state);\n\nmsg.payload = state\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":340,"wires":[["3b823414.38b18c"]]},{"id":"e4a7516.ba1933","type":"link out","z":"3d664de5.b019c2","name":"","links":["b6c1f7c3.c42ff8"],"x":695,"y":340,"wires":[]},{"id":"ede39b17.c14fa8","type":"link out","z":"3d664de5.b019c2","name":"","links":["b6c1f7c3.c42ff8"],"x":495,"y":300,"wires":[]},{"id":"4b639450.a2ef84","type":"link in","z":"3d664de5.b019c2","name":"notification_lights","links":["fc4ad31d.8935f8","b78a186e.5400a8","c7477549.b13398","759647b.d226bb8","4b90af73.2e8c78","5d2c1be0.5e7eac","be48e253.6b5018","183d6384.61ccb4","7777506.959553","a497d906.0fd6a8","f03a100a.1ee8a","1969fa2b.8ded0e","6f7f68c7.ee5138","3cfe62f0.0622de","bc522b6f.e7fd88","9c4d126a.408b2"],"x":35,"y":320,"wires":[["d25bb4fb.b4fd58","26a13738.77329"]]},{"id":"fc4ad31d.8935f8","type":"link out","z":"46420a04.c97aa4","name":"","links":["4b639450.a2ef84","725120bb.a960d8"],"x":155,"y":120,"wires":[]},{"id":"b1dba6c0.bdf3a8","type":"comment","z":"3d664de5.b019c2","name":"notification_lights_restore","info":"","x":130,"y":420,"wires":[]},{"id":"25f62458.533b5c","type":"function","z":"3d664de5.b019c2","name":"get_prev_state","func":"msg.payload = flow.get(\"family_room_table_lamp_state\");\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":500,"wires":[["fde04a9a.51adc8"]]},{"id":"fde04a9a.51adc8","type":"switch","z":"3d664de5.b019c2","name":"","property":"payload.state","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":true,"outputs":2,"x":310,"y":500,"wires":[["4e25e2de.52675c"],["b1b29bf8.0c7fc8"]]},{"id":"ac2a9705.a3f748","type":"link in","z":"3d664de5.b019c2","name":"notification_lights_restore","links":["1ba6a9e6.7d214e","77617f80.5cb178","fe611810.09de4","843043a9.581cc","f8daf5ae.5a484"],"x":35,"y":480,"wires":[["db5146b0.3aab28","25f62458.533b5c"]]},{"id":"77617f80.5cb178","type":"link out","z":"46420a04.c97aa4","name":"","links":["ac2a9705.a3f748"],"x":275,"y":220,"wires":[]},{"id":"48b69c0e.9e1304","type":"comment","z":"46420a04.c97aa4","name":"notification_lights","info":"","x":260,"y":120,"wires":[]},{"id":"85c137.a20806c8","type":"comment","z":"46420a04.c97aa4","name":"notification_lights_restore","info":"","x":410,"y":220,"wires":[]},{"id":"b075f52a.88d89","type":"comment","z":"46420a04.c97aa4","name":"notification_lights_restore","info":"","x":790,"y":360,"wires":[]},{"id":"d501f650.671bc8","type":"comment","z":"4b262905.589a08","name":"School","info":"","x":70,"y":160,"wires":[]},{"id":"ff1376a2.0aa748","type":"switch","z":"4b262905.589a08","name":"warn","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":200,"wires":[["4b90af73.2e8c78","c498ad21.c0b6e8","f07fc23c.9c1318"]]},{"id":"c498ad21.c0b6e8","type":"delay","z":"4b262905.589a08","name":"10s","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":550,"y":200,"wires":[["f2084998.421128"]]},{"id":"4b90af73.2e8c78","type":"link out","z":"4b262905.589a08","name":"","links":["4b639450.a2ef84","725120bb.a960d8"],"x":515,"y":160,"wires":[]},{"id":"17dfdc54.1a719c","type":"comment","z":"4b262905.589a08","name":"notification_lights","info":"","x":620,"y":160,"wires":[]},{"id":"5701a711.fdae6","type":"switch","z":"4b262905.589a08","name":"warn","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":320,"wires":[["5d2c1be0.5e7eac","3c08b29c.a91b9e","ae142070.86f82"]]},{"id":"3c08b29c.a91b9e","type":"delay","z":"4b262905.589a08","name":"10s","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":550,"y":320,"wires":[["53db6c83.750434"]]},{"id":"5d2c1be0.5e7eac","type":"link out","z":"4b262905.589a08","name":"","links":["4b639450.a2ef84","725120bb.a960d8"],"x":515,"y":280,"wires":[]},{"id":"c55b17a5.7415a8","type":"comment","z":"4b262905.589a08","name":"notification_lights","info":"","x":620,"y":280,"wires":[]},{"id":"9daa9589.31bcc8","type":"delay","z":"4b262905.589a08","name":"10s","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":790,"y":320,"wires":[["999604ba.4d38b"]]},{"id":"9ab8f99.cd6c808","type":"comment","z":"4b262905.589a08","name":"Art","info":"","x":70,"y":560,"wires":[]},{"id":"a777670f.402e08","type":"switch","z":"4b262905.589a08","name":"warn","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":600,"wires":[["dec2f680.49d5e8","880fb7e7.2110e","be48e253.6b5018"]]},{"id":"dec2f680.49d5e8","type":"delay","z":"4b262905.589a08","name":"10s","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":390,"y":600,"wires":[["96d34d95.4a43"]]},{"id":"be48e253.6b5018","type":"link out","z":"4b262905.589a08","name":"","links":["4b639450.a2ef84","725120bb.a960d8"],"x":355,"y":560,"wires":[]},{"id":"a18fa453.799e6","type":"comment","z":"4b262905.589a08","name":"notification_lights","info":"","x":460,"y":560,"wires":[]},{"id":"38cf4264.0aa79e","type":"switch","z":"4b262905.589a08","name":"warn","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":720,"wires":[["8056eb1d.d5ee8","ce5d2269.1dc2c8","183d6384.61ccb4"]]},{"id":"8056eb1d.d5ee8","type":"delay","z":"4b262905.589a08","name":"10s","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":390,"y":720,"wires":[["5cee37.1f6571c8"]]},{"id":"183d6384.61ccb4","type":"link out","z":"4b262905.589a08","name":"","links":["4b639450.a2ef84","725120bb.a960d8"],"x":355,"y":680,"wires":[]},{"id":"29ed2e23.4858e2","type":"comment","z":"4b262905.589a08","name":"notification_lights","info":"","x":460,"y":680,"wires":[]},{"id":"e94a480d.35ff48","type":"comment","z":"4b262905.589a08","name":"Counseling","info":"","x":80,"y":820,"wires":[]},{"id":"86ff99ee.4de28","type":"switch","z":"4b262905.589a08","name":"warn","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":860,"wires":[["4a7caa42.dc99a4","15b2124b.97dcae","7777506.959553"]]},{"id":"4a7caa42.dc99a4","type":"delay","z":"4b262905.589a08","name":"10s","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":390,"y":860,"wires":[["9cc84c49.41ca4"]]},{"id":"7777506.959553","type":"link out","z":"4b262905.589a08","name":"","links":["4b639450.a2ef84","725120bb.a960d8"],"x":355,"y":820,"wires":[]},{"id":"9d481f71.13079","type":"comment","z":"4b262905.589a08","name":"notification_lights","info":"","x":460,"y":820,"wires":[]},{"id":"15671f4f.8bf551","type":"switch","z":"4b262905.589a08","name":"warn","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":980,"wires":[["1ffbd161.6edee7","5a96ebf7.b990b4","a497d906.0fd6a8"]]},{"id":"1ffbd161.6edee7","type":"delay","z":"4b262905.589a08","name":"10s","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":390,"y":980,"wires":[["9bf0d331.84c3c"]]},{"id":"a497d906.0fd6a8","type":"link out","z":"4b262905.589a08","name":"","links":["4b639450.a2ef84","725120bb.a960d8"],"x":355,"y":940,"wires":[]},{"id":"b030f0b2.b57398","type":"comment","z":"4b262905.589a08","name":"notification_lights","info":"","x":460,"y":940,"wires":[]},{"id":"ef26b55a.b83d4","type":"delay","z":"4b262905.589a08","name":"10s","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":630,"y":980,"wires":[["60506165.8da8c"]]},{"id":"72034c3.4b98ab4","type":"delay","z":"46420a04.c97aa4","name":"5s","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":190,"y":260,"wires":[["77617f80.5cb178","f6ba9ad8.05dc6","17cbd76.9d8e629"]]},{"id":"862d4a77.66c658","type":"comment","z":"46420a04.c97aa4","name":"notification_lights","info":"","x":820,"y":80,"wires":[]},{"id":"c7d80f39.c1dfc8","type":"comment","z":"46420a04.c97aa4","name":"notification_lights_restore","info":"","x":850,"y":120,"wires":[]},{"id":"f29cb97.fbd4ac8","type":"function","z":"3d664de5.b019c2","name":"clear_state","func":"var rgb = msg.data.attributes.rgb_color||\"\"\nvar state = {\n    'state': \"off\", \n    'brightness': \"0\",\n    'color_temp': \"\",\n    'rgb_color': \"\"\n}\nflow.set(\"family_room_table_lamp_state\",state);\n\nmsg.payload = state\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":500,"wires":[[]]},{"id":"eac347c1.fb6558","type":"function","z":"ce42c392.847228","name":"clear_state","func":"var rgb = msg.data.attributes.rgb_color||\"\"\nvar state = {\n    'state': \"off\", \n    'brightness': \"0\",\n    'color_temp': \"\",\n    'rgb_color': \"\"\n}\nflow.set(\"entry_light_state\",state);\n\nmsg.payload = state\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":500,"wires":[[]]},{"id":"4bf192c5.6850b4","type":"function","z":"ce42c392.847228","name":"clear_state","func":"var rgb = msg.data.attributes.rgb_color||\"\"\nvar state = {\n    'state': \"off\", \n    'brightness': \"0\",\n    'color_temp': \"\",\n    'rgb_color': \"\"\n}\nflow.set(\"porch_light_state\",state);\n\nmsg.payload = state\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":580,"wires":[[]]},{"id":"80d39b43.afa15","type":"inject","z":"2e7ea4cd.954aac","name":">","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":400,"wires":[["b55c2657.d05c48"]]},{"id":"f9293e06.71b878","type":"switch","z":"2e7ea4cd.954aac","name":"not light.3a*","property":"payload.entity_id","propertyType":"msg","rules":[{"t":"cont","v":"light.3a","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":400,"wires":[[],["b6cea1c.41d546"]]},{"id":"b6cea1c.41d546","type":"join","z":"2e7ea4cd.954aac","name":"","mode":"auto","build":"array","property":"payload.entity_id","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":510,"y":400,"wires":[["3096e138.83cee6","8f96126.08cacf"]]},{"id":"e4a640d3.51e3e8","type":"switch","z":"3d664de5.b019c2","name":"exclude light.3a*","property":"payload.entity_id","propertyType":"msg","rules":[{"t":"cont","v":"light.3a","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":300,"y":180,"wires":[[],["6fd235e.c6be9cc"]]},{"id":"6fd235e.c6be9cc","type":"join","z":"3d664de5.b019c2","name":"","mode":"auto","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":450,"y":180,"wires":[["9f9899a2.27cfb8"]]},{"id":"725120bb.a960d8","type":"link in","z":"3d664de5.b019c2","name":"lights_on","links":["be48e253.6b5018","a497d906.0fd6a8","fc4ad31d.8935f8","c7477549.b13398","5d2c1be0.5e7eac","759647b.d226bb8","b78a186e.5400a8","4b90af73.2e8c78","183d6384.61ccb4","7777506.959553","b0f5a318.30a46","f03a100a.1ee8a","1969fa2b.8ded0e","6f7f68c7.ee5138","3cfe62f0.0622de","bc522b6f.e7fd88","9c4d126a.408b2"],"x":35,"y":180,"wires":[["d4eee728.d5a2d8"]]},{"id":"3a49486e.8fc22","type":"comment","z":"3d664de5.b019c2","name":"lights_on","info":"","x":80,"y":140,"wires":[]},{"id":"9f9899a2.27cfb8","type":"function","z":"3d664de5.b019c2","name":"set_global.lights_on","func":"global.set(\"lights_on\",msg);\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":180,"wires":[[]]},{"id":"2f1bd296.97282e","type":"inject","z":"2e7ea4cd.954aac","name":">","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":520,"wires":[["b0f5a318.30a46","c2cb0bca.7a73"]]},{"id":"dfed8116.3b7088","type":"debug","z":"2e7ea4cd.954aac","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":470,"y":520,"wires":[]},{"id":"b0f5a318.30a46","type":"link out","z":"2e7ea4cd.954aac","name":"","links":["725120bb.a960d8"],"x":175,"y":500,"wires":[]},{"id":"1023483e.603fd","type":"function","z":"2e7ea4cd.954aac","name":"get_lights_on","func":"msg = global.get(\"lights_on\");\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":540,"wires":[["1d521ab5.328095","dfed8116.3b7088"]]},{"id":"f2fd0e8f.15f698","type":"comment","z":"2e7ea4cd.954aac","name":"lights_on","info":"","x":260,"y":500,"wires":[]},{"id":"c2cb0bca.7a73","type":"delay","z":"2e7ea4cd.954aac","name":"1s","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":210,"y":540,"wires":[["1023483e.603fd"]]},{"id":"1d521ab5.328095","type":"function","z":"2e7ea4cd.954aac","name":"clear_state","func":"global.set(\"lights_on\",\"\");\nmsg = global.get(\"lights_on\");\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":560,"wires":[[]]},{"id":"7679e1f1.22e9c8","type":"function","z":"2e7ea4cd.954aac","name":"get_lights_on","func":"msg = global.get(\"lights_on\");\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":600,"wires":[["28d9b57b.74316a"]]},{"id":"28d9b57b.74316a","type":"debug","z":"2e7ea4cd.954aac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":390,"y":600,"wires":[]},{"id":"a6f881d1.e9df8","type":"inject","z":"2e7ea4cd.954aac","name":">","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":600,"wires":[["7679e1f1.22e9c8"]]},{"id":"c063c3bb.69017","type":"delay","z":"3d664de5.b019c2","name":"1s","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":130,"y":60,"wires":[["5aa4e548.d3d6a4"]]},{"id":"3096e138.83cee6","type":"debug","z":"2e7ea4cd.954aac","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":630,"y":460,"wires":[]},{"id":"8ebe84b7.8edad","type":"server-state-changed","z":"46420a04.c97aa4","name":"'open'","server":"e7a36967.14ba58","entityidfilter":"cover.garage_door","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"open","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"x":70,"y":100,"wires":[["498d7abd.2b1c9c","fc4ad31d.8935f8"],[]]},{"id":"d9d6cf25.16f6a","type":"server-state-changed","z":"46420a04.c97aa4","name":"'closed'","server":"e7a36967.14ba58","entityidfilter":"cover.garage_door","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"closed","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"x":70,"y":260,"wires":[["72034c3.4b98ab4"],[]]},{"id":"698d24b9.bc18ac","type":"api-call-service","z":"2e7ea4cd.954aac","name":"off","server":"e7a36967.14ba58","service_domain":"light","service":"turn_off","data":"","mergecontext":"","output_location":"payload","output_location_type":"msg","x":570,"y":320,"wires":[[]]},{"id":"1630def.b30bea1","type":"api-call-service","z":"2e7ea4cd.954aac","name":"update: lights_on","server":"e7a36967.14ba58","service_domain":"script","service":"turn_on","data":"{\"entity_id\":\"script.lights_on_update\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":250,"y":340,"wires":[["cb9bda14.97c5f8"]]},{"id":"45c99613.ba9c28","type":"api-call-service","z":"ce42c392.847228","name":"full brightness","server":"e7a36967.14ba58","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.entry_light\",\"brightness\":\"255\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":600,"y":280,"wires":[[]]},{"id":"ac01fa32.9244a8","type":"api-call-service","z":"ce42c392.847228","name":"restore brightness","server":"e7a36967.14ba58","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.entry_light\",\"brightness\":\"{{payload.brightness}}\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":570,"y":480,"wires":[["eac347c1.fb6558"]]},{"id":"5bfb4158.03b988","type":"api-call-service","z":"ce42c392.847228","name":"restore off state","server":"e7a36967.14ba58","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.entry_light\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":560,"y":520,"wires":[["eac347c1.fb6558"]]},{"id":"cc00771b.bbd8e","type":"api-call-service","z":"ce42c392.847228","name":"full brightness","server":"e7a36967.14ba58","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.porch_light\",\"brightness\":\"255\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":600,"y":340,"wires":[[]]},{"id":"13fd4ea8.626b89","type":"api-call-service","z":"ce42c392.847228","name":"restore brightness","server":"e7a36967.14ba58","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.porch_light\",\"brightness\":\"{{payload.brightness}}\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":570,"y":560,"wires":[["4bf192c5.6850b4"]]},{"id":"fb313c29.01b248","type":"api-call-service","z":"ce42c392.847228","name":"restore off state","server":"e7a36967.14ba58","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.porch_light\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":560,"y":600,"wires":[["4bf192c5.6850b4"]]},{"id":"7a972c17.115e14","type":"api-call-service","z":"ce42c392.847228","name":"logbook","server":"e7a36967.14ba58","service_domain":"logbook","service":"log","data":"{\"name\":\"Node-RED > Front Door\",\"message\":\"Unlocked: entry lights at full brightness\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":240,"y":400,"wires":[[]]},{"id":"a39b2f45.a304e","type":"api-call-service","z":"ce42c392.847228","name":"logbook","server":"e7a36967.14ba58","service_domain":"logbook","service":"log","data":"{\"name\":\"Node-RED > Front Door\",\"message\":\"Locked: restore entry lights state\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":220,"y":640,"wires":[[]]},{"id":"f6ba9ad8.05dc6","type":"api-call-service","z":"46420a04.c97aa4","name":"logbook","server":"e7a36967.14ba58","service_domain":"logbook","service":"log","data":"{\"name\":\"Node-RED > Garage Door\",\"message\":\"Closed\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":320,"y":260,"wires":[[]]},{"id":"f2c53a17.a8369","type":"api-call-service","z":"46420a04.c97aa4","name":"logbook","server":"e7a36967.14ba58","service_domain":"logbook","service":"log","data":"{\"name\":\"Node-RED > Garage Door\",\"message\":\"5 minute timeout\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":540,"y":400,"wires":[[]]},{"id":"498d7abd.2b1c9c","type":"api-call-service","z":"46420a04.c97aa4","name":"logbook","server":"e7a36967.14ba58","service_domain":"logbook","service":"log","data":"{\"name\":\"Node-RED > Garage Door\",\"message\":\"Open\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":200,"y":80,"wires":[[]]},{"id":"17cbd76.9d8e629","type":"api-call-service","z":"46420a04.c97aa4","name":"iOS Notification","server":"e7a36967.14ba58","service_domain":"script","service":"notify_ios","data":"{\"title\":\"CLOSED\",\"message\":\"The garage door is closed.\",\"who\":\"parents\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":340,"y":300,"wires":[[]]},{"id":"5aa4e548.d3d6a4","type":"api-call-service","z":"3d664de5.b019c2","name":"flash","server":"e7a36967.14ba58","service_domain":"light","service":"turn_on","data":"{\"flash\":\"short\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":230,"y":60,"wires":[["26bbf18.26d240e"]]},{"id":"c7fba42.e93dfd8","type":"api-call-service","z":"3d664de5.b019c2","name":"flash","server":"e7a36967.14ba58","service_domain":"light","service":"turn_on","data":"{\"flash\":\"short\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":430,"y":60,"wires":[["bab3cd92.89f718"]]},{"id":"b827ae9.24586d","type":"api-call-service","z":"3d664de5.b019c2","name":"flash","server":"e7a36967.14ba58","service_domain":"light","service":"turn_on","data":"{\"flash\":\"short\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":630,"y":60,"wires":[[]]},{"id":"d25bb4fb.b4fd58","type":"api-call-service","z":"3d664de5.b019c2","name":"garage entry light: color_loop, 75% brightness","server":"e7a36967.14ba58","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.garage_entry_light\",\"brightness\":\"191\",\"effect\":\"colorloop\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":260,"y":300,"wires":[["ede39b17.c14fa8"]]},{"id":"3b823414.38b18c","type":"api-call-service","z":"3d664de5.b019c2","name":"full brightness","server":"e7a36967.14ba58","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.family_room_table_lamp\",\"brightness\":\"255\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":560,"y":340,"wires":[["e4a7516.ba1933"]]},{"id":"db5146b0.3aab28","type":"api-call-service","z":"3d664de5.b019c2","name":"garage entry: OFF","server":"e7a36967.14ba58","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.garage_entry_light\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":170,"y":460,"wires":[[]]},{"id":"4e25e2de.52675c","type":"api-call-service","z":"3d664de5.b019c2","name":"restore brightness","server":"e7a36967.14ba58","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.family_room_table_lamp\",\"brightness\":\"{{payload.brightness}}\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":470,"y":480,"wires":[["f29cb97.fbd4ac8"]]},{"id":"b1b29bf8.0c7fc8","type":"api-call-service","z":"3d664de5.b019c2","name":"restore off state","server":"e7a36967.14ba58","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.family_room_table_lamp\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":460,"y":520,"wires":[["f29cb97.fbd4ac8"]]},{"id":"f2084998.421128","type":"api-call-service","z":"4b262905.589a08","name":"Announce","server":"e7a36967.14ba58","service_domain":"script","service":"notify_speech","data":"{\"message\":\"It's almost time to leave for school. ... Please brush your hair ... and pack your supplies in the car.\",\"media_player\":\"group.alexa_downstairs\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":660,"y":200,"wires":[[]]},{"id":"f07fc23c.9c1318","type":"api-call-service","z":"4b262905.589a08","name":"logbook","server":"e7a36967.14ba58","service_domain":"logbook","service":"log","data":"{\"name\":\"Node-RED > Event Reminders\",\"message\":\"School\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":560,"y":240,"wires":[[]]},{"id":"53db6c83.750434","type":"api-call-service","z":"4b262905.589a08","name":"Announce","server":"e7a36967.14ba58","service_domain":"script","service":"notify_speech","data":"{\"message\":\"It is time to get in the car. ... Grab your things and go.\",\"media_player\":\"group.alexa_downstairs\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":660,"y":320,"wires":[["9daa9589.31bcc8"]]},{"id":"ae142070.86f82","type":"api-call-service","z":"4b262905.589a08","name":"logbook","server":"e7a36967.14ba58","service_domain":"logbook","service":"log","data":"{\"name\":\"Node-RED > Event Reminders\",\"message\":\"School\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":560,"y":360,"wires":[[]]},{"id":"999604ba.4d38b","type":"api-call-service","z":"4b262905.589a08","name":"Goodbye Routine","server":"e7a36967.14ba58","service_domain":"script","service":"goodbye_routine","data":"","mergecontext":"","output_location":"payload","output_location_type":"msg","x":930,"y":320,"wires":[[]]},{"id":"96d34d95.4a43","type":"api-call-service","z":"4b262905.589a08","name":"Announce","server":"e7a36967.14ba58","service_domain":"script","service":"notify_speech","data":"{\"message\":\"Kyle, ... it's almost time to leave for art. ... Please start wrapping up.\",\"media_player\":\"group.alexa_downstairs\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":500,"y":600,"wires":[[]]},{"id":"880fb7e7.2110e","type":"api-call-service","z":"4b262905.589a08","name":"logbook","server":"e7a36967.14ba58","service_domain":"logbook","service":"log","data":"{\"name\":\"Node-RED > Event Reminders\",\"message\":\"Art\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":400,"y":640,"wires":[[]]},{"id":"5cee37.1f6571c8","type":"api-call-service","z":"4b262905.589a08","name":"Announce","server":"e7a36967.14ba58","service_domain":"script","service":"notify_speech","data":"{\"message\":\"Kyle ... it is time to get in the car. Let's go.\",\"media_player\":\"group.alexa_downstairs\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":500,"y":720,"wires":[[]]},{"id":"ce5d2269.1dc2c8","type":"api-call-service","z":"4b262905.589a08","name":"logbook","server":"e7a36967.14ba58","service_domain":"logbook","service":"log","data":"{\"name\":\"Node-RED > Event Reminders\",\"message\":\"Art\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":400,"y":760,"wires":[[]]},{"id":"9cc84c49.41ca4","type":"api-call-service","z":"4b262905.589a08","name":"Announce","server":"e7a36967.14ba58","service_domain":"script","service":"notify_speech","data":"{\"message\":\"It's almost time to leave for counseling. ... Please start wrapping up what you are doing.\",\"media_player\":\"group.alexa_downstairs\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":500,"y":860,"wires":[[]]},{"id":"15b2124b.97dcae","type":"api-call-service","z":"4b262905.589a08","name":"logbook","server":"e7a36967.14ba58","service_domain":"logbook","service":"log","data":"{\"name\":\"Node-RED > Event Reminders\",\"message\":\"Counseling\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":400,"y":900,"wires":[[]]},{"id":"9bf0d331.84c3c","type":"api-call-service","z":"4b262905.589a08","name":"Announce","server":"e7a36967.14ba58","service_domain":"script","service":"notify_speech","data":"{\"message\":\"It is time to get in the car. Let's go.\",\"media_player\":\"group.alexa_downstairs\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":500,"y":980,"wires":[["ef26b55a.b83d4"]]},{"id":"5a96ebf7.b990b4","type":"api-call-service","z":"4b262905.589a08","name":"logbook","server":"e7a36967.14ba58","service_domain":"logbook","service":"log","data":"{\"name\":\"Node-RED > Event Reminders\",\"message\":\"Counseling\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":400,"y":1020,"wires":[[]]},{"id":"60506165.8da8c","type":"api-call-service","z":"4b262905.589a08","name":"Goodbye Routine","server":"e7a36967.14ba58","service_domain":"script","service":"goodbye_routine","data":"","mergecontext":"","output_location":"payload","output_location_type":"msg","x":770,"y":980,"wires":[[]]},{"id":"8f96126.08cacf","type":"api-call-service","z":"2e7ea4cd.954aac","name":"off","server":"e7a36967.14ba58","service_domain":"light","service":"turn_off","data":"","mergecontext":"","output_location":"payload","output_location_type":"msg","x":650,"y":400,"wires":[[]]},{"id":"142a2890.2a4697","type":"trigger-state","z":"ce42c392.847228","name":"locked","server":"e7a36967.14ba58","entityid":"lock.front_door","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"zw84gf9o1do","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"unlocked"},{"id":"pive1wk276d","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"locked"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":70,"y":580,"wires":[["9a885f76.0f5938","ea53eced.dd68b8","a39b2f45.a304e"],[]]},{"id":"98137d23.a4ed78","type":"trigger-state","z":"ce42c392.847228","name":"unlocked","server":"e7a36967.14ba58","entityid":"lock.front_door","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"cfev1052maw","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"locked"},{"id":"01gmr6s7g0n2","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"unlocked"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":80,"y":340,"wires":[["3b019499.ca4204","70aec135.489ec","7a972c17.115e14"],[]]},{"id":"cb9bda14.97c5f8","type":"api-current-state","z":"2e7ea4cd.954aac","name":"get: lights_on","server":"e7a36967.14ba58","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"variable.lights_on","state_type":"str","override_payload":true,"override_data":true,"x":420,"y":340,"wires":[["a6dff223.8c4de","698d24b9.bc18ac"]]},{"id":"3b019499.ca4204","type":"api-current-state","z":"ce42c392.847228","name":"entry light: current_state","server":"e7a36967.14ba58","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"light.entry_light","state_type":"str","override_payload":true,"override_data":true,"x":290,"y":280,"wires":[["b566952d.cc35e"]]},{"id":"70aec135.489ec","type":"api-current-state","z":"ce42c392.847228","name":"porch light: current_state","server":"e7a36967.14ba58","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"light.porch_light","state_type":"str","override_payload":true,"override_data":true,"x":290,"y":340,"wires":[["4dd6887a.9071b"]]},{"id":"7cb1408.046b14","type":"api-current-state","z":"46420a04.c97aa4","name":"door closed?","server":"e7a36967.14ba58","outputs":2,"halt_if":"closed","halt_if_type":"str","halt_if_compare":"is_not","override_topic":true,"entity_id":"cover.garage_door","state_type":"str","override_payload":true,"override_data":true,"x":550,"y":360,"wires":[["1ba6a9e6.7d214e"],[]]},{"id":"12b5237a.365105","type":"api-current-state","z":"46420a04.c97aa4","name":"garage entry on?","server":"e7a36967.14ba58","outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"light.garage_entry_light","state_type":"habool","override_payload":true,"override_data":true,"x":250,"y":380,"wires":[["633d22aa.649d74"],[]]},{"id":"f7f432fd.9fa128","type":"api-current-state","z":"2e7ea4cd.954aac","name":"get: weather.home","server":"e7a36967.14ba58","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"weather.home","state_type":"str","override_payload":true,"override_data":true,"x":250,"y":740,"wires":[["fa6cc7fc.7a30c8"]]},{"id":"26a13738.77329","type":"api-current-state","z":"3d664de5.b019c2","name":"family room lamp: current_state","server":"e7a36967.14ba58","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"light.family_room_table_lamp","state_type":"str","override_payload":true,"override_data":true,"x":210,"y":340,"wires":[["8fca9f20.597dc8"]]},{"id":"b55c2657.d05c48","type":"ha-get-entities","z":"2e7ea4cd.954aac","server":"e7a36967.14ba58","name":"get_lights_on","rules":[{"property":"state","logic":"is","value":"on","valueType":"str"},{"property":"entity_id","logic":"starts_with","value":"light.","valueType":"str"},{"property":"entity_id","logic":"is_not","value":"light.dummy","valueType":"str"},{"property":"entity_id","logic":"is_not","value":"light.entry","valueType":"str"},{"property":"entity_id","logic":"is_not","value":"light.hue","valueType":"str"},{"property":"entity_id","logic":"is_not","value":"light.living_room","valueType":"str"},{"property":"entity_id","logic":"does_not_include","value":"garage_entry","valueType":"str"},{"property":"entity_id","logic":"does_not_include","value":"gateway_light","valueType":"str"},{"property":"entity_id","logic":"does_not_include","value":"shoe_closet","valueType":"str"},{"property":"entity_id","logic":"does_not_include","value":"nightlight","valueType":"str"},{"property":"entity_id","logic":"does_not_include","value":"_group","valueType":"str"}],"output_type":"split","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":230,"y":400,"wires":[["f9293e06.71b878"]]},{"id":"d4eee728.d5a2d8","type":"ha-get-entities","z":"3d664de5.b019c2","server":"e7a36967.14ba58","name":"get_lights_on","rules":[{"property":"state","logic":"is","value":"on","valueType":"str"},{"property":"entity_id","logic":"starts_with","value":"light.","valueType":"str"},{"property":"entity_id","logic":"is_not","value":"light.dummy","valueType":"str"},{"property":"entity_id","logic":"is_not","value":"light.entry","valueType":"str"},{"property":"entity_id","logic":"is_not","value":"light.hue","valueType":"str"},{"property":"entity_id","logic":"is_not","value":"light.living_room","valueType":"str"},{"property":"entity_id","logic":"does_not_include","value":"garage_entry","valueType":"str"},{"property":"entity_id","logic":"does_not_include","value":"gateway_light","valueType":"str"},{"property":"entity_id","logic":"does_not_include","value":"shoe_closet","valueType":"str"},{"property":"entity_id","logic":"does_not_include","value":"nightlight","valueType":"str"},{"property":"entity_id","logic":"does_not_include","value":"_group","valueType":"str"}],"output_type":"split","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":150,"y":180,"wires":[["e4a640d3.51e3e8"]]},{"id":"b91f6654.68932","type":"light-scheduler","z":"4b262905.589a08","settings":"9871639f.643758","events":"[{\"start\":{\"dow\":1,\"mod\":420},\"end\":{\"dow\":1,\"mod\":435}},{\"start\":{\"dow\":2,\"mod\":420},\"end\":{\"dow\":2,\"mod\":435}},{\"start\":{\"dow\":3,\"mod\":420},\"end\":{\"dow\":3,\"mod\":435}},{\"start\":{\"dow\":4,\"mod\":420},\"end\":{\"dow\":4,\"mod\":435}},{\"start\":{\"dow\":5,\"mod\":420},\"end\":{\"dow\":5,\"mod\":435}}]","topic":"","name":"M-F @ 7:00","onPayload":"ON","onPayloadType":"str","offPayload":"OFF","offPayloadType":"str","onlyWhenDark":false,"sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange","x":90,"y":200,"wires":[["ff1376a2.0aa748"]]},{"id":"e4d38cbb.baacb8","type":"light-scheduler","z":"4b262905.589a08","settings":"9871639f.643758","events":"[{\"start\":{\"dow\":1,\"mod\":435},\"end\":{\"dow\":1,\"mod\":450}},{\"start\":{\"dow\":2,\"mod\":435},\"end\":{\"dow\":2,\"mod\":450}},{\"start\":{\"dow\":3,\"mod\":435},\"end\":{\"dow\":3,\"mod\":450}},{\"start\":{\"dow\":4,\"mod\":435},\"end\":{\"dow\":4,\"mod\":450}},{\"start\":{\"dow\":5,\"mod\":435},\"end\":{\"dow\":5,\"mod\":450}}]","topic":"","name":"M-F @ 7:15","onPayload":"ON","onPayloadType":"str","offPayload":"OFF","offPayloadType":"str","onlyWhenDark":false,"sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange","x":90,"y":320,"wires":[["5701a711.fdae6"]]},{"id":"b973ce1a.cbeea8","type":"light-scheduler","z":"4b262905.589a08","settings":"9871639f.643758","events":"[{\"start\":{\"dow\":2,\"mod\":900},\"end\":{\"dow\":2,\"mod\":915}}]","topic":"","name":"Tue @ 3:00","onPayload":"ON","onPayloadType":"str","offPayload":"OFF","offPayloadType":"str","onlyWhenDark":false,"sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange","x":90,"y":600,"wires":[[]]},{"id":"e3cc2c.a3fb03d8","type":"light-scheduler","z":"4b262905.589a08","settings":"9871639f.643758","events":"[{\"start\":{\"dow\":2,\"mod\":915},\"end\":{\"dow\":2,\"mod\":930}}]","topic":"","name":"Tue @ 3:15","onPayload":"ON","onPayloadType":"str","offPayload":"OFF","offPayloadType":"str","onlyWhenDark":false,"sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange","x":90,"y":720,"wires":[[]]},{"id":"53903aa1.d7b354","type":"light-scheduler","z":"4b262905.589a08","settings":"9871639f.643758","events":"[{\"start\":{\"dow\":3,\"mod\":945},\"end\":{\"dow\":3,\"mod\":960}}]","topic":"","name":"Wed @ 3:45 ","onPayload":"ON","onPayloadType":"str","offPayload":"OFF","offPayloadType":"str","onlyWhenDark":false,"sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange","x":90,"y":860,"wires":[["86ff99ee.4de28"]]},{"id":"c170ef54.ef2f78","type":"light-scheduler","z":"4b262905.589a08","settings":"9871639f.643758","events":"[{\"start\":{\"dow\":3,\"mod\":840},\"end\":{\"dow\":3,\"mod\":855}}]","topic":"","name":"Wed @ 4:00","onPayload":"ON","onPayloadType":"str","offPayload":"OFF","offPayloadType":"str","onlyWhenDark":false,"sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange","x":90,"y":980,"wires":[["15671f4f.8bf551"]]},{"id":"a9306251.3bae1","type":"comment","z":"4b262905.589a08","name":"Lucas Homework Review","info":"","x":130,"y":420,"wires":[]},{"id":"d0729326.b58418","type":"switch","z":"4b262905.589a08","name":"warn","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":460,"wires":[["f03a100a.1ee8a","bf63f75a.aee72","cd926666.af5c9"]]},{"id":"bf63f75a.aee72","type":"delay","z":"4b262905.589a08","name":"10s","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":550,"y":460,"wires":[["ced2e0ce.95f6c8"]]},{"id":"f03a100a.1ee8a","type":"link out","z":"4b262905.589a08","name":"","links":["4b639450.a2ef84","725120bb.a960d8"],"x":515,"y":420,"wires":[]},{"id":"fe60f68f.1add7","type":"comment","z":"4b262905.589a08","name":"notification_lights","info":"","x":620,"y":420,"wires":[]},{"id":"ced2e0ce.95f6c8","type":"api-call-service","z":"4b262905.589a08","name":"Announce","server":"e7a36967.14ba58","service_domain":"script","service":"notify_speech","data":"{\"message\":\"Lucas... it is time to review your homework. Please bring it to mom or dad.\",\"media_player\":\"group.alexa_downstairs\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":660,"y":460,"wires":[[]]},{"id":"cd926666.af5c9","type":"api-call-service","z":"4b262905.589a08","name":"logbook","server":"e7a36967.14ba58","service_domain":"logbook","service":"log","data":"{\"name\":\"Node-RED > Event Reminders\",\"message\":\"Lucas Homework Review\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":560,"y":500,"wires":[[]]},{"id":"5cdfb7fa.2a8298","type":"light-scheduler","z":"4b262905.589a08","settings":"9871639f.643758","events":"[{\"start\":{\"dow\":1,\"mod\":1080},\"end\":{\"dow\":1,\"mod\":1095}},{\"start\":{\"dow\":2,\"mod\":1080},\"end\":{\"dow\":2,\"mod\":1095}},{\"start\":{\"dow\":4,\"mod\":1080},\"end\":{\"dow\":4,\"mod\":1095}},{\"start\":{\"dow\":5,\"mod\":1080},\"end\":{\"dow\":5,\"mod\":1095}},{\"start\":{\"dow\":3,\"mod\":1110},\"end\":{\"dow\":3,\"mod\":1125}}]","topic":"","name":"M-F @ 18:00/18:30","onPayload":"ON","onPayloadType":"str","offPayload":"OFF","offPayloadType":"str","onlyWhenDark":false,"sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange","x":110,"y":460,"wires":[["d0729326.b58418"]]},{"id":"2354601.db286a","type":"inject","z":"2e7ea4cd.954aac","name":">","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":780,"wires":[["8bca9e50.4b4e2"]]},{"id":"8eeebff5.744f3","type":"debug","z":"2e7ea4cd.954aac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":510,"y":780,"wires":[]},{"id":"8bca9e50.4b4e2","type":"api-render-template","z":"2e7ea4cd.954aac","name":"last_alexa","server":"e7a36967.14ba58","template":"{%- for entity in states.media_player -%}\n  {%- if state_attr(entity.entity_id, 'last_called') == True -%}\n    {{ entity.entity_id }}\n  {%- endif -%}\n{%- endfor -%}","x":220,"y":780,"wires":[["8eeebff5.744f3"]]},{"id":"305e124d.05a226","type":"comment","z":"3cb2a9bb.c5527e","name":"Extended presence detection","info":"* Just Arrived\n* Home\n* Just Left\n* Away\n* Extended Away\n\nBased on Phil Hawthorne's [Making Home Assistant’s Presence Detection not so Binary](https://philhawthorne.com/making-home-assistants-presence-detection-not-so-binary/)\nand Mauricio Bonani's [Node-RED version](https://bonani.tech/making-home-assistants-presence-detection-not-so-binary-node-red-version/).","x":140,"y":20,"wires":[]},{"id":"6d14bc08.432bbc","type":"server-state-changed","z":"2e7ea4cd.954aac","name":"Brian","server":"e7a36967.14ba58","entityidfilter":"device_tracker.brian","entityidfiltertype":"substring","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":70,"y":920,"wires":[["b8d98966.191c88","b06fb262.938de8"]]},{"id":"81e1e977.a4442","type":"server-state-changed","z":"2e7ea4cd.954aac","name":"Nerene","server":"e7a36967.14ba58","entityidfilter":"device_tracker.nerene","entityidfiltertype":"substring","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":70,"y":960,"wires":[["b8d98966.191c88","b06fb262.938de8"]]},{"id":"4fb7a24c.3fd61c","type":"server-state-changed","z":"2e7ea4cd.954aac","name":"Eric","server":"e7a36967.14ba58","entityidfilter":"device_tracker.eric","entityidfiltertype":"substring","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":70,"y":1020,"wires":[["3ab8b168.cc3b56","b06fb262.938de8"]]},{"id":"ac9e21b.e59d0e","type":"server-state-changed","z":"2e7ea4cd.954aac","name":"Sandy","server":"e7a36967.14ba58","entityidfilter":"device_tracker.sandy","entityidfiltertype":"substring","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":70,"y":1060,"wires":[["3ab8b168.cc3b56","b06fb262.938de8"]]},{"id":"cf9b03a2.7132d","type":"server-state-changed","z":"2e7ea4cd.954aac","name":"Heather","server":"e7a36967.14ba58","entityidfilter":"device_tracker.eric","entityidfiltertype":"substring","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":70,"y":1100,"wires":[["3ab8b168.cc3b56","b06fb262.938de8"]]},{"id":"b8d98966.191c88","type":"link out","z":"2e7ea4cd.954aac","name":"presence_hanifins","links":[],"x":235,"y":940,"wires":[]},{"id":"3ab8b168.cc3b56","type":"link out","z":"2e7ea4cd.954aac","name":"presence_goezs","links":[],"x":235,"y":1060,"wires":[]},{"id":"b06fb262.938de8","type":"link out","z":"2e7ea4cd.954aac","name":"presence_residents","links":["26e52f90.e382b","e7f82493.934508","2f16aaf0.59386e","f73e6dcf.78cd6"],"x":195,"y":1000,"wires":[]},{"id":"ca46a4a2.4305c8","type":"comment","z":"2e7ea4cd.954aac","name":"presence","info":"","x":80,"y":880,"wires":[]},{"id":"361cd771.2590c","type":"comment","z":"2e7ea4cd.954aac","name":"presence_hanifins","info":"","x":350,"y":940,"wires":[]},{"id":"be048779.275ea","type":"comment","z":"2e7ea4cd.954aac","name":"presence_goezs","info":"","x":340,"y":1060,"wires":[]},{"id":"aee9c05d.b8a8a","type":"comment","z":"2e7ea4cd.954aac","name":"presence_residents","info":"","x":350,"y":1000,"wires":[]},{"id":"354737f7.ad40c","type":"trigger-state","z":"2e7ea4cd.954aac","name":"","server":"e7a36967.14ba58","entityid":"^input_boolean\\.(brian|nerene)$","entityidfiltertype":"regex","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":230,"y":1200,"wires":[["55ca6edc.d1fcc8","af0ad525.8bfda"],[]]},{"id":"1cecfd7c.175f6b","type":"server-state-changed","z":"2e7ea4cd.954aac","name":"","server":"e7a36967.14ba58","entityidfilter":"^input_boolean\\.(brian|nerene)$","entityidfiltertype":"regex","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":200,"y":1360,"wires":[[]]},{"id":"f21179d3.40b8e","type":"server-state-changed","z":"2e7ea4cd.954aac","name":"","server":"e7a36967.14ba58","entityidfilter":"^input_boolean\\.(eric|sandy|heather)$","entityidfiltertype":"regex","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":220,"y":1400,"wires":[[]]},{"id":"55ca6edc.d1fcc8","type":"link out","z":"2e7ea4cd.954aac","name":"presence_hanifins_regex","links":[],"x":455,"y":1180,"wires":[]},{"id":"97ccf878.47fa38","type":"link out","z":"2e7ea4cd.954aac","name":"presence_goezs_regex","links":[],"x":455,"y":1260,"wires":[]},{"id":"af0ad525.8bfda","type":"link out","z":"2e7ea4cd.954aac","name":"presence_residents_regex","links":["26e52f90.e382b"],"x":455,"y":1220,"wires":[]},{"id":"d418ebba.d707d8","type":"comment","z":"2e7ea4cd.954aac","name":"presence_hanifins_regex","info":"","x":590,"y":1180,"wires":[]},{"id":"8e8b5311.6adb08","type":"comment","z":"2e7ea4cd.954aac","name":"presence_goezs_regex","info":"","x":580,"y":1260,"wires":[]},{"id":"dc118b6b.71bd9","type":"comment","z":"2e7ea4cd.954aac","name":"presence_residents_regex","info":"","x":590,"y":1220,"wires":[]},{"id":"9fdab3f7.7bd56","type":"trigger-state","z":"2e7ea4cd.954aac","name":"","server":"e7a36967.14ba58","entityid":"^input_boolean\\.(eric|sandy|heather)$","entityidfiltertype":"regex","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":210,"y":1240,"wires":[["af0ad525.8bfda","97ccf878.47fa38"],[]]},{"id":"16a78292.32151d","type":"api-call-service","z":"3cb2a9bb.c5527e","name":"set_home","server":"e7a36967.14ba58","service_domain":"input_select","service":"select_option","data":"{\"entity_id\":\"input_select.{{topic}}\",\"option\":\"Home\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1660,"y":40,"wires":[[]]},{"id":"7aec31a9.75bfa","type":"trigger","z":"3cb2a9bb.c5527e","op1":"","op2":"{\"payload\":{\"data\":{\"option\":\"\"}}}","op1type":"nul","op2type":"json","duration":"10","extend":false,"units":"min","reset":"","bytopic":"topic","name":"wait_10_minutes","x":1490,"y":40,"wires":[["16a78292.32151d"]]},{"id":"2a421c23.2e80f4","type":"api-call-service","z":"3cb2a9bb.c5527e","name":"set_just_arrived","server":"e7a36967.14ba58","service_domain":"input_select","service":"select_option","data":"{\"entity_id\":\"input_select.{{topic}}\",\"option\":\"Just Arrived\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1300,"y":20,"wires":[["7aec31a9.75bfa"]]},{"id":"95a1727c.8444a","type":"change","z":"3cb2a9bb.c5527e","name":"reset_timeout","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":100,"wires":[["7aec31a9.75bfa","24246dc1.03908a"]]},{"id":"57cc17a1.804f2","type":"switch","z":"3cb2a9bb.c5527e","name":"not_just_left","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"Just Left","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":970,"y":20,"wires":[["fa23728b.81cbc8"],[]]},{"id":"fa23728b.81cbc8","type":"switch","z":"3cb2a9bb.c5527e","name":"not_home","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"Home","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1140,"y":20,"wires":[["2a421c23.2e80f4"]]},{"id":"24246dc1.03908a","type":"trigger","z":"3cb2a9bb.c5527e","op1":"","op2":"{\"payload\":{\"data\":{\"option\":\"\"}}}","op1type":"nul","op2type":"json","duration":"24","extend":false,"units":"hr","reset":"","bytopic":"topic","name":"24 Hrs","x":1810,"y":80,"wires":[["3874a8d.3a0c7d8"]]},{"id":"f53df7ca.e9a52","type":"api-current-state","z":"3cb2a9bb.c5527e","name":"get_curr_state","server":"e7a36967.14ba58","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"","state_type":"str","override_payload":true,"override_data":true,"x":800,"y":120,"wires":[["95a1727c.8444a","9cd169ed.6e327"]]},{"id":"f010244d.4eba48","type":"api-current-state","z":"3cb2a9bb.c5527e","name":"get_curr_state","server":"e7a36967.14ba58","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"","state_type":"str","override_payload":true,"override_data":true,"x":800,"y":40,"wires":[["57cc17a1.804f2","31d18a76.84d46e"]]},{"id":"31d18a76.84d46e","type":"change","z":"3cb2a9bb.c5527e","name":"reset_timeout","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":60,"wires":[["24246dc1.03908a","1266ca18.720366"]]},{"id":"2db17a3d.d311de","type":"api-call-service","z":"3cb2a9bb.c5527e","name":"set_away","server":"e7a36967.14ba58","service_domain":"input_select","service":"select_option","data":"{\"entity_id\":\"input_select.{{topic}}\",\"option\":\"Away\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1660,"y":120,"wires":[["24246dc1.03908a"]]},{"id":"3874a8d.3a0c7d8","type":"api-call-service","z":"3cb2a9bb.c5527e","name":"set_extended_away","server":"e7a36967.14ba58","service_domain":"input_select","service":"select_option","data":"{\"entity_id\":\"input_select.{{topic}}\",\"option\":\"Extended Away\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1960,"y":80,"wires":[[]]},{"id":"1266ca18.720366","type":"trigger","z":"3cb2a9bb.c5527e","op1":"","op2":"{\"payload\":{\"data\":{\"option\":\"\"}}}","op1type":"nul","op2type":"json","duration":"10","extend":false,"units":"min","reset":"","bytopic":"topic","name":"wait_10_minutes","x":1490,"y":120,"wires":[["2db17a3d.d311de"]]},{"id":"c3e336d8.1e4098","type":"template","z":"3cb2a9bb.c5527e","name":"set_entity_id","field":"payload.entity_id","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"input_select.{{topic}}","output":"str","x":650,"y":120,"wires":[["f53df7ca.e9a52"]]},{"id":"9cd169ed.6e327","type":"switch","z":"3cb2a9bb.c5527e","name":"not_away","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"Away","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":960,"y":140,"wires":[["c9bb73f9.7ea0d8"]]},{"id":"e2ec4eda.f8a4e","type":"template","z":"3cb2a9bb.c5527e","name":"set_entity_id","field":"payload.entity_id","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"input_select.{{topic}}","output":"str","x":649,"y":40,"wires":[["f010244d.4eba48"]]},{"id":"c9bb73f9.7ea0d8","type":"api-call-service","z":"3cb2a9bb.c5527e","name":"set_just_left","server":"e7a36967.14ba58","service_domain":"input_select","service":"select_option","data":"{\"entity_id\":\"input_select.{{topic}}\",\"option\":\"Just Left\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1310,"y":140,"wires":[["1266ca18.720366"]]},{"id":"e91249ae.464a3","type":"switch","z":"3cb2a9bb.c5527e","name":"simple_presence","property":"status","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"eq","v":"not_home","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":450,"y":80,"wires":[["e2ec4eda.f8a4e"],["c3e336d8.1e4098"]]},{"id":"d813f856.86467","type":"change","z":"3cb2a9bb.c5527e","name":"format_data","rules":[{"t":"move","p":"payload","pt":"msg","to":"status","tot":"msg"},{"t":"change","p":"topic","pt":"msg","from":"device_tracker.","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":80,"wires":[["e91249ae.464a3"]]},{"id":"d92551b.101f8b","type":"trigger-state","z":"3cb2a9bb.c5527e","name":"presence_change","server":"e7a36967.14ba58","entityid":"^device_tracker\\.(brian|nerene|eric|sandy|heather)$","entityidfiltertype":"regex","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":110,"y":80,"wires":[["d813f856.86467"],[]]},{"id":"8f12ab.060c0d58","type":"delay","z":"4b262905.589a08","name":"10s","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":390,"y":1120,"wires":[["e3ab33cc.d4172"]]},{"id":"3ea4f5da.d6abea","type":"delay","z":"4b262905.589a08","name":"15s","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":390,"y":1260,"wires":[["f8daf5ae.5a484"]]},{"id":"1969fa2b.8ded0e","type":"link out","z":"4b262905.589a08","name":"","links":["4b639450.a2ef84","725120bb.a960d8"],"x":355,"y":1080,"wires":[]},{"id":"6f7f68c7.ee5138","type":"link out","z":"4b262905.589a08","name":"","links":["4b639450.a2ef84","725120bb.a960d8"],"x":355,"y":1220,"wires":[]},{"id":"3da562aa.4c14fe","type":"comment","z":"4b262905.589a08","name":"notification_lights","info":"","x":460,"y":1080,"wires":[]},{"id":"904fa7e1.a60a48","type":"comment","z":"4b262905.589a08","name":"notification_lights","info":"","x":460,"y":1220,"wires":[]},{"id":"a6a73ee3.bb988","type":"comment","z":"4b262905.589a08","name":"notification_lights_restore","info":"","x":590,"y":1260,"wires":[]},{"id":"f8daf5ae.5a484","type":"link out","z":"4b262905.589a08","name":"","links":["ac2a9705.a3f748"],"x":455,"y":1260,"wires":[]},{"id":"e3ab33cc.d4172","type":"api-call-service","z":"4b262905.589a08","name":"Announce","server":"e7a36967.14ba58","service_domain":"script","service":"notify_speech","data":"{\"message\":\"It's almost bed time. Wrap up your activities and be ready to head upstairs.\",\"media_player\":\"group.alexa_downstairs\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":500,"y":1120,"wires":[[]]},{"id":"34973348.708d0c","type":"api-call-service","z":"4b262905.589a08","name":"Announce","server":"e7a36967.14ba58","service_domain":"script","service":"notify_speech","data":"{\"message\":\"Goodnight boys. It is time to go to bed.\",\"media_player\":\"group.alexa_downstairs\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":500,"y":1300,"wires":[["e51758ac.856ef"]]},{"id":"bde09ce.6127be","type":"api-call-service","z":"4b262905.589a08","name":"logbook","server":"e7a36967.14ba58","service_domain":"logbook","service":"log","data":"{\"name\":\"Node-RED > Bedtime\",\"message\":\"Start: Announce it almost bedtime\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":400,"y":1160,"wires":[[]]},{"id":"4aeee9de.046a88","type":"api-call-service","z":"4b262905.589a08","name":"logbook","server":"e7a36967.14ba58","service_domain":"logbook","service":"log","data":"{\"name\":\"Node-RED > Bedtime\",\"message\":\"End: Announce time to go to bed\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":400,"y":1340,"wires":[[]]},{"id":"79923005.69948","type":"api-call-service","z":"4b262905.589a08","name":"iOS Notification","server":"e7a36967.14ba58","service_domain":"script","service":"notify_ios","data":"{\"title\":\"Bedtime\",\"message\":\"The boys were reminded to go to bed.\",\"who\":\"brian\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":420,"y":1380,"wires":[[]]},{"id":"e3798b33.3f823","type":"light-scheduler","z":"4b262905.589a08","settings":"9871639f.643758","events":"[{\"start\":{\"dow\":6,\"mod\":1275},\"end\":{\"dow\":6,\"mod\":1290}},{\"start\":{\"dow\":5,\"mod\":1275},\"end\":{\"dow\":5,\"mod\":1290}},{\"start\":{\"dow\":1,\"mod\":1215},\"end\":{\"dow\":1,\"mod\":1230}},{\"start\":{\"dow\":2,\"mod\":1215},\"end\":{\"dow\":2,\"mod\":1230}},{\"start\":{\"dow\":3,\"mod\":1215},\"end\":{\"dow\":3,\"mod\":1230}},{\"start\":{\"dow\":4,\"mod\":1215},\"end\":{\"dow\":4,\"mod\":1230}},{\"start\":{\"dow\":0,\"mod\":1215},\"end\":{\"dow\":0,\"mod\":1230}}]","topic":"","name":"8:15/9:15","onPayload":"ON","onPayloadType":"str","offPayload":"OFF","offPayloadType":"str","onlyWhenDark":false,"sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange","x":80,"y":1120,"wires":[["da76d58d.38791"]]},{"id":"567c7913.3aa4e8","type":"light-scheduler","z":"4b262905.589a08","settings":"9871639f.643758","events":"[{\"start\":{\"dow\":6,\"mod\":1290},\"end\":{\"dow\":6,\"mod\":1305}},{\"start\":{\"dow\":5,\"mod\":1290},\"end\":{\"dow\":5,\"mod\":1305}},{\"start\":{\"dow\":1,\"mod\":1230},\"end\":{\"dow\":1,\"mod\":1245}},{\"start\":{\"dow\":2,\"mod\":1230},\"end\":{\"dow\":2,\"mod\":1245}},{\"start\":{\"dow\":3,\"mod\":1230},\"end\":{\"dow\":3,\"mod\":1245}},{\"start\":{\"dow\":4,\"mod\":1230},\"end\":{\"dow\":4,\"mod\":1245}},{\"start\":{\"dow\":0,\"mod\":1230},\"end\":{\"dow\":0,\"mod\":1245}}]","topic":"","name":"8:30/9:30","onPayload":"ON","onPayloadType":"str","offPayload":"OFF","offPayloadType":"str","onlyWhenDark":false,"sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange","x":80,"y":1300,"wires":[["ccb5e3ce.8a9bc"]]},{"id":"cdc010a1.b95aa8","type":"comment","z":"4b262905.589a08","name":"Bedtime","info":"","x":80,"y":1080,"wires":[]},{"id":"e51758ac.856ef","type":"delay","z":"4b262905.589a08","name":"10s","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":630,"y":1300,"wires":[["b5c2f794.a179"]]},{"id":"b5c2f794.a179","type":"api-call-service","z":"4b262905.589a08","name":"Goodbye Routine","server":"e7a36967.14ba58","service_domain":"script","service":"goodbye_routine","data":"","mergecontext":"","output_location":"payload","output_location_type":"msg","x":770,"y":1300,"wires":[[]]},{"id":"265e87d1.22bf6","type":"delay","z":"4b262905.589a08","name":"10s","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":390,"y":1300,"wires":[["34973348.708d0c"]]},{"id":"40d79af2.1f6694","type":"comment","z":"4b262905.589a08","name":"Buddy's Medicine","info":"","x":110,"y":20,"wires":[]},{"id":"72609b7.d13eae4","type":"delay","z":"4b262905.589a08","name":"10s","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":590,"y":60,"wires":[["e31e3ef6.c88b78"]]},{"id":"3cfe62f0.0622de","type":"link out","z":"4b262905.589a08","name":"","links":["4b639450.a2ef84","725120bb.a960d8"],"x":555,"y":20,"wires":[]},{"id":"e25f57b6.3a6ee","type":"comment","z":"4b262905.589a08","name":"notification_lights","info":"","x":660,"y":20,"wires":[]},{"id":"e31e3ef6.c88b78","type":"api-call-service","z":"4b262905.589a08","name":"Announce","server":"e7a36967.14ba58","service_domain":"script","service":"notify_speech","data":"{\"message\":\"Buddy needs his medicine. Please check to see some were made up for the day.\",\"media_player\":\"group.alexa_downstairs\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":700,"y":60,"wires":[[]]},{"id":"d7ab5977.272a28","type":"api-call-service","z":"4b262905.589a08","name":"logbook","server":"e7a36967.14ba58","service_domain":"logbook","service":"log","data":"{\"name\":\"Node-RED > Event Reminders\",\"message\":\"Buddy's Medicine\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":600,"y":100,"wires":[[]]},{"id":"3c725b7c.f602c4","type":"light-scheduler","z":"4b262905.589a08","settings":"9871639f.643758","events":"[{\"start\":{\"dow\":1,\"mod\":570},\"end\":{\"dow\":1,\"mod\":585}},{\"start\":{\"dow\":2,\"mod\":570},\"end\":{\"dow\":2,\"mod\":585}},{\"start\":{\"dow\":3,\"mod\":570},\"end\":{\"dow\":3,\"mod\":585}},{\"start\":{\"dow\":4,\"mod\":570},\"end\":{\"dow\":4,\"mod\":585}},{\"start\":{\"dow\":5,\"mod\":570},\"end\":{\"dow\":5,\"mod\":585}},{\"start\":{\"dow\":1,\"mod\":510},\"end\":{\"dow\":1,\"mod\":525}},{\"start\":{\"dow\":2,\"mod\":510},\"end\":{\"dow\":2,\"mod\":525}},{\"start\":{\"dow\":3,\"mod\":510},\"end\":{\"dow\":3,\"mod\":525}},{\"start\":{\"dow\":4,\"mod\":510},\"end\":{\"dow\":4,\"mod\":525}},{\"start\":{\"dow\":5,\"mod\":510},\"end\":{\"dow\":5,\"mod\":525}},{\"start\":{\"dow\":6,\"mod\":510},\"end\":{\"dow\":6,\"mod\":525}},{\"start\":{\"dow\":0,\"mod\":510},\"end\":{\"dow\":0,\"mod\":525}},{\"start\":{\"dow\":6,\"mod\":570},\"end\":{\"dow\":6,\"mod\":585}},{\"start\":{\"dow\":0,\"mod\":570},\"end\":{\"dow\":0,\"mod\":585}}]","topic":"","name":"8:30, 9:30am","onPayload":"ON","onPayloadType":"str","offPayload":"OFF","offPayloadType":"str","onlyWhenDark":false,"sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange","x":90,"y":60,"wires":[["64f2d2d3.cda87c"]]},{"id":"a32fd9ab.214c98","type":"switch","z":"4b262905.589a08","name":"not 'Today'","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"Today","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":60,"wires":[["3cfe62f0.0622de","72609b7.d13eae4","d7ab5977.272a28"],[]]},{"id":"e2f89dbf.e7ab8","type":"trigger-state","z":"dbeaa409.6acd78","name":"Status Change","server":"e7a36967.14ba58","entityid":"binary_sensor.side_yard_status","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"habool","x":100,"y":340,"wires":[["cc94578f.6dc92"],["cc94578f.6dc92"]]},{"id":"da715272.4f312","type":"comment","z":"dbeaa409.6acd78","name":"Irrigation Status Monitor","info":"","x":130,"y":300,"wires":[]},{"id":"d6babc62.ebea4","type":"api-call-service","z":"dbeaa409.6acd78","name":"logbook","server":"e7a36967.14ba58","service_domain":"logbook","service":"log","data":"{\"entity_id\":\"binary_sensor.side_yard_status\",\"name\":\"Node-RED > Watch Dogs\",\"message\":\"Irrigation unit is offline\",\"domain\":\"binary_sensor\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":780,"y":320,"wires":[[]]},{"id":"70e80b54.4945ec","type":"api-call-service","z":"dbeaa409.6acd78","name":"iOS Notification","server":"e7a36967.14ba58","service_domain":"script","service":"notify_ios","data":"{\"title\":\"Irrigation Controller\",\"message\":\"The irrigation unit is offline. Please correct this soon.\",\"who\":\"brian\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":800,"y":280,"wires":[[]]},{"id":"cc94578f.6dc92","type":"switch","z":"dbeaa409.6acd78","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":true,"outputs":2,"x":250,"y":340,"wires":[["12a9203.1c521e"],["c0ac5b4e.5eb018"]]},{"id":"c0ac5b4e.5eb018","type":"api-call-service","z":"dbeaa409.6acd78","name":"logbook","server":"e7a36967.14ba58","service_domain":"logbook","service":"log","data":"{\"entity_id\":\"binary_sensor.side_yard_status\",\"name\":\"Node-RED > Watch Dogs\",\"message\":\"Irrigation unit is online\",\"domain\":\"binary_sensor\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":780,"y":360,"wires":[[]]},{"id":"ab0e68d5.e31e6","type":"api-current-state","z":"dbeaa409.6acd78","name":"current status","server":"e7a36967.14ba58","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"binary_sensor.side_yard_status","state_type":"str","override_payload":true,"override_data":true,"x":500,"y":320,"wires":[["7c7a6895.77d16"]]},{"id":"12a9203.1c521e","type":"delay","z":"dbeaa409.6acd78","name":"15m","pauseType":"delay","timeout":"15","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":370,"y":320,"wires":[["ab0e68d5.e31e6"]]},{"id":"7c7a6895.77d16","type":"switch","z":"dbeaa409.6acd78","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":true,"outputs":2,"x":630,"y":320,"wires":[["70e80b54.4945ec","d6babc62.ebea4"],["c0ac5b4e.5eb018"]]},{"id":"80975c23.ded1e","type":"comment","z":"dbeaa409.6acd78","name":"Nightly maintenance","info":"","x":110,"y":20,"wires":[]},{"id":"ba4b7b0a.69401","type":"light-scheduler","z":"dbeaa409.6acd78","settings":"9871639f.643758","events":"[{\"start\":{\"dow\":1,\"mod\":15},\"end\":{\"dow\":1,\"mod\":30}},{\"start\":{\"dow\":2,\"mod\":15},\"end\":{\"dow\":2,\"mod\":30}},{\"start\":{\"dow\":3,\"mod\":15},\"end\":{\"dow\":3,\"mod\":30}},{\"start\":{\"dow\":4,\"mod\":15},\"end\":{\"dow\":4,\"mod\":30}},{\"start\":{\"dow\":5,\"mod\":15},\"end\":{\"dow\":5,\"mod\":30}},{\"start\":{\"dow\":6,\"mod\":15},\"end\":{\"dow\":6,\"mod\":30}},{\"start\":{\"dow\":0,\"mod\":15},\"end\":{\"dow\":0,\"mod\":30}}]","topic":"","name":"12:15am","onPayload":"ON","onPayloadType":"str","offPayload":"OFF","offPayloadType":"str","onlyWhenDark":false,"sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange","x":80,"y":60,"wires":[["ebfafc81.f8af2"]]},{"id":"2a56b425.37ec94","type":"api-call-service","z":"dbeaa409.6acd78","name":"update medicine statuses","server":"e7a36967.14ba58","service_domain":"homeassistant","service":"update_entity","data":"{\"entity_id\":[\"sensor.medicine_buddy_given_today\"]}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":430,"y":40,"wires":[[]]},{"id":"ebfafc81.f8af2","type":"switch","z":"dbeaa409.6acd78","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":true,"outputs":2,"x":250,"y":60,"wires":[["2a56b425.37ec94"],["d9757261.1eef"]]},{"id":"d9757261.1eef","type":"api-call-service","z":"dbeaa409.6acd78","name":"restart home assistant","server":"e7a36967.14ba58","service_domain":"script","service":"turn_on","data":"{\"entity_id\":\"script.restart_hass\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":420,"y":80,"wires":[["25fac9e1.03c91e"]]},{"id":"2b08d7e1.825a98","type":"comment","z":"dbeaa409.6acd78","name":"Dog Water Bowl","info":"","x":100,"y":140,"wires":[]},{"id":"1b0f9a74.fd8d2e","type":"delay","z":"dbeaa409.6acd78","name":"2m","pauseType":"delay","timeout":"2","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":370,"y":180,"wires":[["e031ff9a.c1e028"]]},{"id":"e031ff9a.c1e028","type":"api-current-state","z":"dbeaa409.6acd78","name":"current state","server":"e7a36967.14ba58","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.dog_water_bowl","state_type":"str","override_payload":true,"override_data":true,"x":490,"y":180,"wires":[["7156ab70.da18ac"]]},{"id":"6118df61.796278","type":"api-call-service","z":"dbeaa409.6acd78","name":"logbook","server":"e7a36967.14ba58","service_domain":"logbook","service":"log","data":"{\"entity_id\":\"binary_sensor.dog_water_bowl\",\"name\":\"Node-RED > Watch Dogs\",\"message\":\"WATER BOWL EMPTY\",\"domain\":\"binary_sensor\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":760,"y":220,"wires":[[]]},{"id":"31cce603.3bde72","type":"api-call-service","z":"dbeaa409.6acd78","name":"iOS Notification","server":"e7a36967.14ba58","service_domain":"script","service":"notify_ios","data":"{\"title\":\"WATER BOWL EMPTY\",\"message\":\"The dogs water bowl is empty!\\nPlease refill it soon.\",\"who\":\"brian\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":780,"y":180,"wires":[[]]},{"id":"a0a3beb1.486fb8","type":"api-call-service","z":"dbeaa409.6acd78","name":"Announce","server":"e7a36967.14ba58","service_domain":"script","service":"notify_speech","data":"{\"message\":\"The dogs water bowl is empty! ... Please refill it soon.\",\"media_player\":\"group.alexa_downstairs\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1020,"y":140,"wires":[[]]},{"id":"7156ab70.da18ac","type":"switch","z":"dbeaa409.6acd78","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"else"}],"checkall":"true","repair":true,"outputs":2,"x":610,"y":180,"wires":[["31cce603.3bde72","6118df61.796278","f0c26f5d.bb6e9"],[]]},{"id":"b72d9875.99def8","type":"switch","z":"dbeaa409.6acd78","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"else"}],"checkall":"true","repair":true,"outputs":2,"x":250,"y":180,"wires":[["1b0f9a74.fd8d2e"],[]]},{"id":"6e078a17.e0413c","type":"server-state-changed","z":"ce42c392.847228","name":"Ring Camera","server":"e7a36967.14ba58","entityidfilter":"camera.porch","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":90,"y":740,"wires":[[]]},{"id":"93e4e682.d807","type":"comment","z":"ce42c392.847228","name":"function: ring_video_download","info":"","x":350,"y":740,"wires":[]},{"id":"396f9d44.5ed0d2","type":"server-events","z":"ce42c392.847228","name":"download failed","server":"e7a36967.14ba58","event_type":"downloader_download_failed","x":100,"y":920,"wires":[["b4939c07.335d88"]]},{"id":"b4939c07.335d88","type":"api-call-service","z":"ce42c392.847228","name":"notification","server":"e7a36967.14ba58","service_domain":"persistent_notification","service":"create","data":"{\"message\":\"An automated download has failed.\",\"title\":\"Download Failed\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":270,"y":920,"wires":[[]]},{"id":"5b2c8f9e.b89db","type":"comment","z":"ce42c392.847228","name":"Notify if a download fails.","info":"","x":130,"y":880,"wires":[]},{"id":"25fac9e1.03c91e","type":"delay","z":"dbeaa409.6acd78","name":"5m","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":610,"y":80,"wires":[["9aef38a6.5899f"]]},{"id":"9aef38a6.5899f","type":"api-call-service","z":"dbeaa409.6acd78","name":"Turn off TVs","server":"e7a36967.14ba58","service_domain":"script","service":"turn_on","data":"{\"entity_id\":\"script.tv_family_room_off, script.tv_living_room_off\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":730,"y":80,"wires":[["4f80ed1a.9a001c"]]},{"id":"848b2ea6.8af4b8","type":"switch","z":"3d664de5.b019c2","name":"old video url is a string","property":"data.old_state.attributes.video_url","propertyType":"msg","rules":[{"t":"istype","v":"string","vt":"string"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":180,"y":640,"wires":[["5e1a978a.7225e8"],["5e0081cf.62d018"]]},{"id":"5e1a978a.7225e8","type":"switch","z":"3d664de5.b019c2","name":"new video url is a string","property":"data.new_state.attributes.video_url","propertyType":"msg","rules":[{"t":"istype","v":"string","vt":"string"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":620,"wires":[["33b9972.40d6de8"],["807afc68.bcae5"]]},{"id":"5e0081cf.62d018","type":"change","z":"3d664de5.b019c2","name":"set old url to a string","rules":[{"t":"set","p":"data.old_state.attributes.video_url","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":660,"wires":[["5e1a978a.7225e8"]]},{"id":"33b9972.40d6de8","type":"change","z":"3d664de5.b019c2","name":"","rules":[{"t":"set","p":"old","pt":"msg","to":"$match(data.old_state.attributes.video_url, /\\/(\\d+)\\/(\\d+)\\.mp4\\?/)","tot":"jsonata"},{"t":"set","p":"new","pt":"msg","to":"$match(data.new_state.attributes.video_url, /\\/(\\d+)\\/(\\d+)\\.mp4\\?/)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":620,"wires":[["c53e6920.76b0b"]]},{"id":"807afc68.bcae5","type":"change","z":"3d664de5.b019c2","name":"set new url to a string","rules":[{"t":"set","p":"data.new_state.attributes.video_url","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":660,"wires":[["33b9972.40d6de8"]]},{"id":"c53e6920.76b0b","type":"switch","z":"3d664de5.b019c2","name":"","property":"(old.groups[0] = new.groups[0]) and (old.groups[1] = new.groups[1])","propertyType":"jsonata","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":850,"y":620,"wires":[["8235260c.7adff8","3ebcb34f.55b9a4"]]},{"id":"8235260c.7adff8","type":"change","z":"3d664de5.b019c2","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t   \"data\":{\t       \"url\": data.new_state.attributes.video_url,\t       \"subdir\": topic,\t       \"filename\": $join([new.groups[0], \"_\", new.groups[1], \".mp4\"])\t   }\t}","tot":"jsonata"},{"t":"delete","p":"topic","pt":"msg"},{"t":"delete","p":"data","pt":"msg"},{"t":"delete","p":"new","pt":"msg"},{"t":"delete","p":"old","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":620,"wires":[["bdfc309f.2f496"]]},{"id":"3ebcb34f.55b9a4","type":"debug","z":"3d664de5.b019c2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":990,"y":660,"wires":[]},{"id":"bdfc309f.2f496","type":"api-call-service","z":"3d664de5.b019c2","name":"","server":"e7a36967.14ba58","service_domain":"downloader","service":"download_file","data":"","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1230,"y":620,"wires":[["415cd346.cd461c"]]},{"id":"415cd346.cd461c","type":"debug","z":"3d664de5.b019c2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1410,"y":620,"wires":[]},{"id":"64bf2c61.4be86c","type":"link in","z":"3d664de5.b019c2","name":"ring_video_download","links":["3473c361.f907c4"],"x":35,"y":640,"wires":[["848b2ea6.8af4b8"]]},{"id":"afe5d2be.65b1f8","type":"comment","z":"3d664de5.b019c2","name":"ring_video_download","info":"","x":120,"y":600,"wires":[]},{"id":"3473c361.f907c4","type":"link out","z":"ce42c392.847228","name":"","links":["64bf2c61.4be86c"],"x":195,"y":740,"wires":[]},{"id":"95342e5e.66f25","type":"comment","z":"ce42c392.847228","name":"Ring Camera New Video Clip","info":"","x":140,"y":700,"wires":[]},{"id":"9d8cf786.a7644","type":"fs-file-lister","z":"ce42c392.847228","name":"","start":"/","pattern":"*","path":true,"single":false,"depth":0,"stat":false,"x":240,"y":820,"wires":[[]]},{"id":"f773bc2a.60b22","type":"inject","z":"ce42c392.847228","name":">","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":820,"wires":[["9d8cf786.a7644"]]},{"id":"f7e399ad.fd722","type":"server-state-changed","z":"dbeaa409.6acd78","name":"Status Change","server":"e7a36967.14ba58","entityidfilter":"binary_sensor.dog_water_bowl","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":100,"y":180,"wires":[[]]},{"id":"f0c26f5d.bb6e9","type":"api-render-template","z":"dbeaa409.6acd78","name":"8am-8pm?","server":"e7a36967.14ba58","template":"{%- set hour    = states(\"sensor.time\").split(':')[0] | int -%}\n{%- set minutes = states(\"sensor.time\").split(':')[1] | int -%}\n{{ (hour >=  8 and hour <  20) }}","x":770,"y":140,"wires":[["45bfe42e.151ee4"]]},{"id":"45bfe42e.151ee4","type":"switch","z":"dbeaa409.6acd78","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"false","repair":true,"outputs":2,"x":890,"y":140,"wires":[["a0a3beb1.486fb8"],[]]},{"id":"4f80ed1a.9a001c","type":"delay","z":"dbeaa409.6acd78","name":"5m","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":870,"y":80,"wires":[["2ac96e46.566b2a"]]},{"id":"2ac96e46.566b2a","type":"api-call-service","z":"dbeaa409.6acd78","name":"Turn off TVs","server":"e7a36967.14ba58","service_domain":"script","service":"turn_on","data":"{\"entity_id\":\"script.tv_family_room_off, script.tv_living_room_off\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":990,"y":80,"wires":[[]]},{"id":"c5073b6c.6a3fa","type":"api-current-state","z":"4b262905.589a08","name":"schoolday?","server":"e7a36967.14ba58","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"binary_sensor.schoolday","state_type":"str","override_payload":true,"override_data":true,"x":250,"y":160,"wires":[[]]},{"id":"442d3b6e.a3c244","type":"api-current-state","z":"4b262905.589a08","name":"schoolday?","server":"e7a36967.14ba58","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"binary_sensor.schoolday","state_type":"str","override_payload":true,"override_data":true,"x":250,"y":280,"wires":[[]]},{"id":"b653220f.3ad4","type":"api-current-state","z":"4b262905.589a08","name":"schoolday?","server":"e7a36967.14ba58","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"binary_sensor.schoolday","state_type":"str","override_payload":true,"override_data":true,"x":270,"y":420,"wires":[[]]},{"id":"88aa85d0.8d6f5","type":"api-render-template","z":"4b262905.589a08","name":"is_weekday_and_holiday?","server":"e7a36967.14ba58","template":"{{  states.binary_sensor.weekday.state \nand states.binary_sensor.holiday.state }}","x":130,"y":1200,"wires":[[]]},{"id":"da76d58d.38791","type":"switch","z":"4b262905.589a08","name":"warn","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":1120,"wires":[["1969fa2b.8ded0e","8f12ab.060c0d58","bde09ce.6127be"]]},{"id":"ccb5e3ce.8a9bc","type":"switch","z":"4b262905.589a08","name":"warn","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":1300,"wires":[["6f7f68c7.ee5138","3ea4f5da.d6abea","265e87d1.22bf6","4aeee9de.046a88","79923005.69948"]]},{"id":"20f273c0.fd3e74","type":"debug","z":"2e7ea4cd.954aac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":490,"y":700,"wires":[]},{"id":"1425199b.2cf5ae","type":"inject","z":"2e7ea4cd.954aac","name":">","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":700,"wires":[["c50edf93.22d9e8"]]},{"id":"c50edf93.22d9e8","type":"api-current-state","z":"2e7ea4cd.954aac","name":"get: weather.dark_sky","server":"e7a36967.14ba58","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"weather.dark_sky","state_type":"str","override_payload":true,"override_data":true,"x":260,"y":700,"wires":[["20f273c0.fd3e74"]]},{"id":"82f1aba9.7416d","type":"inject","z":"2e7ea4cd.954aac","name":">","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":820,"wires":[["867ce3d6.d611f"]]},{"id":"867ce3d6.d611f","type":"api-render-template","z":"2e7ea4cd.954aac","name":"sensor.last_message","server":"e7a36967.14ba58","template":"{{ states('sensor.last_message') }}","x":260,"y":820,"wires":[["c03043f7.70aa78"]]},{"id":"c03043f7.70aa78","type":"debug","z":"2e7ea4cd.954aac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":490,"y":820,"wires":[]},{"id":"64f2d2d3.cda87c","type":"api-current-state","z":"4b262905.589a08","name":"get_day","server":"e7a36967.14ba58","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"sensor.medicine_buddy_given_today","state_type":"str","override_payload":true,"override_data":true,"x":240,"y":60,"wires":[["a32fd9ab.214c98"]]},{"id":"6699ad5a.8e7714","type":"light-scheduler","z":"4b262905.589a08","settings":"9871639f.643758","events":"[{\"start\":{\"dow\":6,\"mod\":540},\"end\":{\"dow\":6,\"mod\":555}},{\"start\":{\"dow\":0,\"mod\":540},\"end\":{\"dow\":0,\"mod\":555}},{\"start\":{\"dow\":6,\"mod\":570},\"end\":{\"dow\":6,\"mod\":585}},{\"start\":{\"dow\":0,\"mod\":570},\"end\":{\"dow\":0,\"mod\":585}},{\"start\":{\"dow\":0,\"mod\":600},\"end\":{\"dow\":0,\"mod\":615}},{\"start\":{\"dow\":6,\"mod\":600},\"end\":{\"dow\":6,\"mod\":615}},{\"start\":{\"dow\":6,\"mod\":630},\"end\":{\"dow\":6,\"mod\":645}},{\"start\":{\"dow\":0,\"mod\":630},\"end\":{\"dow\":0,\"mod\":645}}]","topic":"","name":"Weekend @ 9:00","onPayload":"ON","onPayloadType":"str","offPayload":"OFF","offPayloadType":"str","onlyWhenDark":false,"sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange","x":110,"y":1500,"wires":[["30512b17.5b1eec"]]},{"id":"30512b17.5b1eec","type":"switch","z":"4b262905.589a08","name":"warn","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":1500,"wires":[["9c4d126a.408b2","7e8a1352.b0a76c","83e607d4.cf55f"]]},{"id":"9c4d126a.408b2","type":"link out","z":"4b262905.589a08","name":"","links":["4b639450.a2ef84","725120bb.a960d8"],"x":395,"y":1460,"wires":[]},{"id":"7e8a1352.b0a76c","type":"delay","z":"4b262905.589a08","name":"10s","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":430,"y":1500,"wires":[["5ca5695a.e78c88"]]},{"id":"83e607d4.cf55f","type":"api-call-service","z":"4b262905.589a08","name":"logbook","server":"e7a36967.14ba58","service_domain":"logbook","service":"log","data":"{\"name\":\"Node-RED > Event Reminders\",\"message\":\"School\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":440,"y":1540,"wires":[[]]},{"id":"5ca5695a.e78c88","type":"api-call-service","z":"4b262905.589a08","name":"Announce","server":"e7a36967.14ba58","service_domain":"script","service":"say","data":"{\"say_greeting\":\"true\",\"say_responsibilities\":\"true\",\"media_player\":\"group.alexa_downstairs\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":540,"y":1500,"wires":[[]]},{"id":"8d1a6005.09279","type":"comment","z":"4b262905.589a08","name":"Weekend Responsibilities","info":"","x":130,"y":1460,"wires":[]},{"id":"1b4f08a.847f977","type":"cast-to-client","z":"2e7ea4cd.954aac","name":"Jetsons Doorbell","url":"http://10.0.0.56:8123/local/audio/jetsons-doorbell.mp3","contentType":"audio/mp3","message":"","language":"en","ip":"10.0.0.27","port":"","volume":"20","x":250,"y":100,"wires":[[]]},{"id":"d95e8450.01681","type":"inject","z":"2e7ea4cd.954aac","name":">","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":100,"wires":[["1b4f08a.847f977"]]},{"id":"6de3a16.1558fe","type":"cast-to-client","z":"ce42c392.847228","name":"Jetsons Doorbell","url":"http://10.0.0.56:8123/local/audio/jetsons-doorbell.mp3","contentType":"audio/mp3","message":"","language":"en","ip":"10.0.0.27","port":"","volume":"20","x":370,"y":60,"wires":[[]]},{"id":"5280768a.0bb66","type":"trigger-state","z":"ce42c392.847228","name":"doorbell pressed","server":"e7a36967.14ba58","entityid":"binary_sensor.front_door_button_pressed","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":110,"y":60,"wires":[[],[]]}]